<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
    color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border {
    border: 1px solid black;
}
#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<table width="80%"><tr><td colspan="3">    
    
    <table width="100%">
        <tr>
            <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
                <img width="300px" src="https://images.squarespace-cdn.com/content/v1/5c961856b914496f49dd537a/1559794306063-6B6YG6PBWLT1I41RE4H0/fjordtommer_weblogo.png">
            </td>
            <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">

                <b>FJORDTØMMER AS</b><br/>
                Øyrane 12<br/>
                6800 Førde<br/>
                Org. nr: NO 922689016 MVA
                martin@fjordtommer.no<br/>
            </td>
            <td align="right" style="vertical-align: top;">                
                <h3>Endret {{_modified_Date}}</h3>
                <h4>Endret av: {{_modifiedBy}}</h4>
                <h4>IO-nummer: {{_orderNum}}</h4>
            </td>
        </tr>
    </table>

   
    <p><font size="20">Egenkontroll entreprenør</font></p>
    
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="75%"><b>Om oppdraget</b></td>            
            <td></td>
        </tr>          
        <tr><td>Dato oppstart</td><td>{{before_Date}}</td></tr>
        <tr><td>Dato avsluttet</td><td>{{etterhogst_Date}}</td></tr>

        <tr><td>Graving</td><td>{{digging_Boolean}}</td></tr>
        <tr><td>Skiltplan</td><td>{{skiltplan_Boolean}}</td></tr>
        <tr><td>Skogtype</td><td>{{forest_type}}</td></tr>
        <tr><td>Hogstform</td><td>{{hogstform}}</td></tr>
        <tr><td>Nøkkelbiotop</td><td>{{nokkelbiotop}}</td></tr>
        <tr><td>Hogstmoden skog</td><td>{{hogstmoden_Boolean}}</td></tr>
        <tr><td>Årsak til at skogen ikke er hogstmoden</td><td>{{hogstmoden_reason}}</td></tr>
    </table>

    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="75%"><b>Miljøelement</b></td>            
            <td></td>
        </tr>  

        <tr><td>Kulturminne</td><td>{{kulturminne_Boolean}}</td></tr>
        {{#kulturminne_comment}}<tr><td>Kulturminne: Avvik skjedd?</td><td>{{kulturminne_comment}}</td></tr>{{/kulturminne_comment}}
        <tr><td>Viktige naturtyper</td><td>{{naturtyper_Boolean}}</td></tr>
        {{#naturtyper_comment}}<tr><td>Viktige naturtyper: Avvik skjedd?</td><td>{{naturtyper_comment}}</td></tr>{{/naturtyper_comment}}
        <tr><td>Trua artar</td><td>{{truaartar_Boolean}}</td></tr>
        {{#truaartar_comment}}<tr><td>Trua artar: Avvik skjedd?</td><td>{{truaartar_comment}}</td></tr>{{/truaartar_comment}}
        <tr><td>Nøkkelbiotopar</td><td>{{nokkelbiotop_Boolean}}</td></tr>
        {{#nokkelbiotop_comment}}<tr><td>Nøkkelbiotopar: Avvik skjedd?</td><td>{{nokkelbiotop_comment}}</td></tr>{{/nokkelbiotop_comment}}
        <tr><td>Rovfugl/ugler/tiurleik</td><td>{{rovfugl_Boolean}}</td></tr>
        {{#rovfugl_comment}}<tr><td>Rovfugl/ugler/tiurleik: Avvik skjedd?</td><td>{{rovfugl_comment}}</td></tr>{{/rovfugl_comment}}
        <tr><td>Friluftsanlegg/stiar</td><td>{{friluft_Boolean}}</td></tr>
        {{#friluft_comment}}<tr><td>Friluftsanlegg/stiar: Avvik skjedd?</td><td>{{friluft_comment}}</td></tr>{{/friluft_comment}}
        <tr><td>Turområde/bustadfelt</td><td>{{turomr_Boolean}}</td></tr>
        {{#turomr_comment}}<tr><td>Turområde/bustadfelt: Avvik skjedd?</td><td>{{turomr_comment}}</td></tr>{{/turomr_comment}}
        <tr><td>Kantsone mot vann</td><td>{{kantsone_Boolean}}</td></tr>
        {{#kantsone_comment}}<tr><td>Kantsone mot vann: Avvik skjedd?</td><td>{{kantsone_comment}}</td></tr>{{/kantsone_comment}}
        <tr><td>Drikkevasskjelde</td><td>{{drikke_Boolean}}</td></tr>
        {{#drikke_comment}}<tr><td>Drikkevasskjelde: Avvik skjedd?</td><td>{{drikke_comment}}</td></tr>{{/drikke_comment}}
        <tr><td>Følsomme vassmiljø</td><td>{{folsom_Boolean}}</td></tr>
        {{#folsom_comment}}<tr><td>Følsomme vassmiljø: Avvik skjedd?</td><td>{{folsom_comment}}</td></tr>{{/folsom_comment}}
        <tr><td>Tørre/grove leger</td><td>{{torre_Boolean}}</td></tr>
        {{#torre_comment}}<tr><td>Tørre/grove leger: Avvik skjedd?</td><td>{{torre_comment}}</td></tr>{{/torre_comment}}
        <tr><td>Avrenning</td><td>{{avrenning_Boolean}}</td></tr>
        <tr><td>Anna</td><td>{{anna_Boolean}}</td></tr>
        {{#anna_comment}}<tr><td>Anna: Avvik skjedd?</td><td>{{anna_comment}}</td></tr>{{/anna_comment}}
    </table>

    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="75%"><b>Avrenning</b></td>            
            <td></td>
        </tr>  
        <tr><td>Leia vatn ut av spor</td><td>{{utavspor_Boolean}}</td></tr>
        <tr><td>Fyllt på med bar på blaute parti</td><td>{{fylltpaa_Boolean}}</td></tr>
        <tr><td>Laga bruer</td><td>{{lagabruer_Boolean}}</td></tr>
        <tr><td>Endra utkøyringstrasse</td><td>{{endratrasse_Boolean}}</td></tr>
        <tr><td>Avventa hogst</td><td>{{avventahogst_Boolean}}</td></tr>
        <tr><td>Avbråten hogst</td><td>{{avbraatenhogst_Boolean}}</td></tr>
        {{#avrenningarsak_comment}}<tr><td>Årsak til avrenning</td><td>{{avrenningarsak_comment}}</td></tr>{{/avrenningarsak_comment}}
    </table>

    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="75%"><b>Annet</b></td>            
            <td></td>
        </tr>  
        <tr><td>Antall livsløpstre</td><td>{{ant_llt}}</td></tr>
        <tr><td>Sporskader</td><td>{{sporskader_Boolean}}</td></tr>
        <tr><td>Sporskader, ansvar for utbedring</td><td>{{sporskader_responsible}}</td></tr>
        <tr><td>Sporskader, frist for utbedring</td><td>{{sporskaderutbedring_Date}}</td></tr>
        
        <tr><td>Maskinførers signatur</td><td>{{sign}}</td></tr>
    </table>
        
        
    {{#geojpgs}}
    <table><tr><td align="center">
      <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
    </td></tr><tr><td>
      <h3>
        {{comment}}
        {{#links}}
        <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
        {{/links}}
      </h3>
    </td></tr></table>
    {{/geojpgs}}
        
<tr><td></table>
</body>
</html>
