<html>
<head>
    <meta charset="UTF-8">

    <style>
        /*full*/

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            min-height: 300vh;
            position: relative;
            /*margin: 0;*/
        }

        .max-width {
            width: 100%;
        }
        .center-content {
            text-align: center;
        }
        .left-content {
            text-align: left;
        }
        .text-center {
            text-align:center;
        }

        /*table*/

        thead {
            background: lightgrey;
        }
        .headbg {
            background: lightgrey;
        }
        table {
            font-size: smaller;
            border-collapse: collapse;
        }
        .bordered td {
            padding: 2px;
            border-color: black;
            border-style: solid;
            border-width: 0.1mm;
        }
        .bordered td td {
            border: none;
        }

        /*lists*/

        li {
            font-size: 30px;
            font-weight: bold;
            padding-bottom: 20px;
            color: green;
        }

        /*second level*/
        li > ol {
            padding-top: 20px;
        }
        li > ul {
            padding-top: 20px;
        }
        li > p {
            font-size: 14px;
            font-weight: normal;
            color: black;
        }
        li > table {
            font-size: 14px;
            font-weight: normal;
            color: black;
        }

        li > ul > li {
            font-size: 20px;
            font-weight: normal;
            padding-bottom: 20px;
            color: green;
        }
        li > ol > li {
            font-size: 20px;
            font-weight: normal;
            padding-bottom: 20px;
            color: green;
        }

        /*third level*/
        li > ul > li > ul > li {
            font-size: 14px;
            font-weight: normal;
            padding-bottom: 20px;
            color: black;
        }
        li > ul > li > ol > li {
            font-size: 14px;
            font-weight: normal;
            padding-bottom: 20px;
            color: black;
        }
        li > ol > li > ol > li {
            font-size: 14px;
            font-weight: normal;
            padding-bottom: 20px;
            color: black;
        }
        li > ol > li > ul > li {
            font-size: 14px;
            font-weight: normal;
            padding-bottom: 20px;
            color: black;
        }

        /*watermark*/
        {{#watermark}}
        body:before {
            content: "";
            position: absolute;
            z-index: 9999;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: 
            url('data:image/svg+xml;utf8,<svg style="transform:rotate(-45deg)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 60"><text x="10" y="25" fill="%23900" fill-opacity="0.10">{{watermark}}</text></svg>') 
            0 0/100% 100vh;
        }
        {{/watermark}}

    </style>

</head>
<body>

    <table class="max-width">
        <tr>
            <td valign="top"><img height="60px" src="https://images.squarespace-cdn.com/content/v1/5c961856b914496f49dd537a/1559794306063-6B6YG6PBWLT1I41RE4H0/fjordtommer_weblogo.png?format=1500w"></td>
            <td valign="top" align="right"><img height="100px" src="https://ft.feltgis.no/pefc.png"></td>
        </tr>
        <tr>
            <td colspan="2" class="center-content">
                <h2>Kontrakt - Virkeskjøp og skogsdrift</h2>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                Mellom
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <table class="bordered max-width">
                    <tr>
                        <td width="50%" valign="top">
                            <table>
                                <tr>
                                    <td>Org. nr</td>
                                    <td>:</td>
                                    <td>{{head.SellerOrgNum}}</td>
                                </tr>
                                <tr>
                                    <td>Tømmermerke</td>
                                    <td>:</td>
                                    <td>{{head.OwnershipMark}}</td>
                                </tr>
                                <tr valign="top">
                                    <td>Selger</td>
                                    <td>:</td>
                                    <td>
                                        {{head.SellerName}}

                                        <br>{{head.SellerAddress}}

                                        {{#additionalFields.address2}}                                    
                                        <br>{{additionalFields.address2}}
                                        {{/additionalFields.address2}}

                                        <br>{{head.SellerZipCode}} {{head.SellerCity}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bankkto</td>
                                    <td>:</td>
                                    <td>{{additionalFields.sellerBankAccount}}</td>
                                </tr>
                                <tr>
                                    <td>E-post</td>
                                    <td>:</td>
                                    <td>{{head.SellerContactEMail}}</td>
                                </tr>
                                <tr>
                                    <td>Innkjøpsordrenummer</td>
                                    <td>:</td>
                                    <td>{{purchaseOrderNum}}</td>
                                </tr>
                                <tr>
                                    <td>Driftsansvarlig:</td>
                                    <td>:</td>
                                    <td>{{additionalFields.productionResponsible}}</td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" valign="top">
                            <table >
                                <tr valign="top">
                                    <td>Kjøper</td>
                                    <td>:</td>
                                    <td>Fjordtømmer<br>Øyrane 12<br>6800 Førde</td>
                                </tr>
                                <tr>
                                    <td>Internett</td>
                                    <td>:</td>
                                    <td>www.fjordtommer.no</td>
                                </tr>
                                <tr>
                                    <td>Org. nr</td>
                                    <td>:</td>
                                    <td>{{head.BuyerOrgNum}}</td>
                                </tr>
                                <tr>
                                    <td>Kontaktperson</td>
                                    <td>:</td>
                                    <td>{{head.BuyerContactName}}, tlf {{head.BuyerContactPhone}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="100px" colspan="2" align="left" valign="bottom">
                <h1>Omfang</h1>
                <hr style="height:1px;border-width:0;color:black">
            </td>
        </tr>
        <tr>
            <td height="100px" colspan="2" align="left">
                <h3>Kontrakt</h3>
                    <h3 style="padding-left: 30px">Virkeskjøp og skogsdrift</h3>
                    <h3 style="padding-left: 30px">Miljøavtale</h3>
                <h3>Vedlegg 1: Vilkår</h3>
                <h3>Vedlegg 2: Nærare om Miljøavtalen</h3>
            </td>
        </tr>
        {{^watermark}}
        <tr>
            <td colspan="2">
                Dato: {{signatureDate}}
            </td>
        </tr>
        <tr>
            <td height="500px">
                ______________________________<br>
                Selger
            </td>
            <td>
                ______________________________<br>
                Kjøper
            </td>
        </tr>
        {{/watermark}}
    </table>

    <!-- NEW PAGE -->
    <p style="page-break-before: always"/>

    <table width="100%" class="bordered">
        <thead>
            <td>Kommune (namn/nummer)</td>
            <td>Hovudnr:</td>
            <td>Skogfond %</td>
            <td>Hentestad</td>
            <td>Styrande for avverkn.</td>
        </thead>
        <tr>
            <td>{{head.MuniName}}/{{head.MuniNum}}</td>
            <td>Gnr. {{head.GridNum}}, Bnr. {{head.HoldingNum}}</td>
            <td>{{head.ForestryFundPercentage}}</td>
            <td>{{pickupLocationName}}</td>
            <td>{{additionalFields.production}}</td>
        </tr>
    </table>
    <br/>
    <table width="100%" class="bordered">
        <thead>
            <td>Teignamn/nr</td>
            <td>Hogstform</td>
            <td>Bestand nr</td>
            <td>Areal</td>        
            <td>Foryngingsmetode</td>
            <td>Kommentar</td>
        </thead>
        {{#features}}
        <tr>
            <td>{{attributes.name}}/{{attributes.teignr}}</td>
            <td>{{attributes.hogstform}}
                {{#attributes.type_hogst}}, {{attributes.type_hogst}}{{/attributes.type_hogst}}        
            {{#attributes.type_lukket_hogst}}: {{attributes.type_lukket_hogst}}{{/attributes.type_lukket_hogst}}</td>
            <td>{{attributes.bestandnr}}</td>
            <td>{{geometry._area_rounded1}}da</td>        
            <td>{{attributes.foryngelsesmetode}}</td>
            <td>{{attributes.forestOwnerComment}}</td>
        </tr>
        {{/features}}
    </table>
    <br/>
    <table width="100%" class="bordered text-center">
        <thead>
            <td>Anna vedr. driftsavtale</td>
            <td>Ansvarleg gjennomføring</td>
            <td>Kostnad belastas</td>
            <td>Frist gjennomføring, mnr. år</td>
        </thead>
        <tr>
            <td class="headbg left-content">Snøbrøyting/grusing</td>
            <td>{{additionalFields.snowPlowingResponsible}}{{#additionalFields.snowPlowingContact}}, kontaktperson: {{additionalFields.snowPlowingContact}}{{/additionalFields.snowPlowingContact}}{{#additionalFields.snowPlowingPhone}}, tlf: {{additionalFields.snowPlowingPhone}}{{/additionalFields.snowPlowingPhone}}</td>
            <td>{{additionalFields.snowPlowingBilling}}</td>
            <td>{{additionalFields.snowPlowingDamageDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Oppretting av sporskadar terreng</td>
            <td>{{additionalFields.terrainTrackDamageResponsible}}</td>
            <td>{{additionalFields.terrainTrackDamageBilling}}</td>
            <td>{{additionalFields.terrainTrackDamageDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Oppretting av sporskadar privat veg/skogsbilveg</td>
            <td>{{additionalFields.roadTrackDamageResponsible}}</td>
            <td>{{additionalFields.roadTrackDamageBilling}}</td>
            <td>{{additionalFields.roadTrackDamageDeadline}}</td>
        </tr>
    </table>
    <br/>
    <table width="100%" class="bordered">
        <thead class="text-center">
            <td>Miljø/omsyn</td>
            <td>Merknad</td>
        </thead>

        {{#miljoSections}}
        {{#rows}}
        <tr>
            <td class="headbg">{{question}}</td>
            <td>{{answer}}</td>        
        </tr>
        {{/rows}}
        {{/miljoSections}}
    </table>

    <br/>
    <table width="100%" class="bordered">
        <thead>
            <td>Sort nr</td>
            <td>Sort navn</td>
            <td>Pris pr. fm³ ub</td>
            <td>Estimert volum fm³ ub</td>
        </thead>
        {{#priceListTable}}
        <tr>
            <td>{{AssNum}}</td>
            <td>{{AssName}}</td>
            <td>{{Price}}</td>
            <td>{{Volume}}</td>
        </tr>
        {{/priceListTable}}
        <tr>
            <td><b>Driftspris pr. fm³ ub</b></td>
            <td colspan="3"><b>{{head.OperationCost}}</b></td>
        </tr>
    </table>
    <br>

    <table width="100%">
        <tr>
            <td><h2>Merknad</h2></td>
        </tr>
        <tr>
            <!-- the pre-wrap + no tabs is important since they want to format this with spaces and newlines etc -->
            <td style="vertical-align: top; white-space: pre-wrap;">
<br>{{additionalFields.messageToForestOwner}}
{{#isAreaCohesiveProductiveAreaSet}}
<br>Skogeier formidler landskapsplan for oppstart av drift.
{{/isAreaCohesiveProductiveAreaSet}}
            </td>  
        </tr>
    </table>

    <br/><br/><br/><br/>

    <table width="100%">
        <tr>
            <td><h2>Miljøavtale</h2></td>
        </tr>
        <tr>
            <td>
                <p>Med denne avtalen forpliktar skogeigar seg overfor sertifikathaldar Fjordtømmer AS til å etterleve Norsk PEFC Skogstandard. Skogeigaren sin(e) skogeigendom(ar) PEFC-sertifiserast gjennom sertifikatholdar sitt gruppesertifikat. Sertifiseringa stiller krav til ei berekraftig forvaltning av skogen, som balanserer økonomiske, økologiske/miljømessige og sosiale omsyn. Alle eigendomar større enn 50 dekar produktivt skogareal skal ha gjennomført miljøregistrering som tilfredsstiller Norsk PEFC Skogstandard for at Miljøavtale kan inngåast.</p>

                <p>Eigendom(ar) som inngår i avtala og informasjon om miljøregistreringar:</p>
                <table class="headbg bordered" width="100%">
                    <tr>
                        <td>Kommune (navn/nummer)</td>
                        <td>Gnr</td>
                        <td>Bnr</td>
                        <td>Produktivt skogareal</td>
                        <td>Totalt skogareal</td>
                        <td>Miljøreg (MIS)</td>
                        <td>Avvik PEFC</td>
                        <td>Landskapsplan Teig > 10000 da</td>
                    </tr>
                    <tr>
                        <td>{{head.MuniName}}/{{head.MuniNum}}</td>
                        <td>{{head.GridNum}}</td>
                        <td>{{head.HoldingNum}}</td>
                        <td>{{additionalFields.productiveForestArea}}</td>
                        <td>{{additionalFields.totalForestArea}}</td>
                        <td>{{additionalFields.misRegistrationWithinLast15Years}}</td>
                        <td>{{additionalFields.envPefcDeviation}}</td>
                        <td>{{additionalFields.envLandskapsplan}}</td>
                    </tr>
                </table>

                <p>Alt skogareal (produktivt og uproduktivt) på alle skogeigendomer til skogeigar skal inngå i sertifiseringsavtalen. Arealet hentast frå gardskart.no.</p>
                <p>Dersom eigendomen er under 50 dekar produktiv økonomisk drivbar skog, krevst det ikkje MiS registrering, men føre-var skjema skal nyttast for å kartlegge om det finnast viktige miljøverdiar.</p>
                <p>
                Skogeigar stadfestar med dette at mindre enn 5% av skogarealet er omdisponert til irreversible formål, i samsvar med kravpunkt 8 i Norsk PEFC Skogstandard.
                </p>
            </td>    
        </tr>
    </table>



    <!-- NEW PAGE -->
    <p style="page-break-before: always"/>

    <table width="100%">
        <tr>
            <td><h2>Kart driftsområde</h2></td>
        </tr>
        {{#mapImages}}
        <tr>
            <td align="center">
                <img style="height: 700px;" src="{{image}}">
                <br/>{{comment}}
            </td>
        </tr>
        {{/mapImages}}
    </table>

    <!-- NEW PAGE -->
    <p style="page-break-before: always"/>

    <ol>
        <li>
            Vilkår  

            <ol>

                <li>
                    Generelt: 
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                        Seljar kan kun vere skogeigar med heimel til eigendomen der virket vert seld frå. Heimelshavar kan gje andre fullmakt til å skrive under avtalen på sine vegne.</li>
                        <li>
                            Ved kontrakt om skogsdrift, er kjøpar driftsansvarleg, og det vert avtala ein driftspris per m3.
                        </li>
                        <li>
                        Ved kontrakt om kun virkeskjøp (eigenhogst), er seljar driftsansvarleg, eller den som i kontrakten er oppført som dette på vegne av seljar.</li>
                        <li>
                        Med kontrakten følgjer gjensidig ansvar mellom kjøpar og seljar for at skogsdrifta vert gjennomført i samsvar med Norsk PEFC Skogstandard og Fjordtømmer sine miljørutinar.  Underskriven miljøavtale mellom seljar og Fjordtømmer skal føreligge før kontrakten er bindande for Fjordtømmer.</li>
                        <li>
                        Ved brot eller misleghald av miljøavtale fell Fjordtømmer sine plikter i kontrakten vekk. Fjordtømmer kan krevje erstatning frå seljar for sine direkte kostnader som måtte oppstå ved brot eller misleghald av avtalen.</li>
                        <li>
                            Fjordtømmer kan vidareselje alt tømmer i kontrakten til ein kvar kjøpar som Fjordtømmer har avtale med.
                        </li>
                    </ol>
                </li>

                <li>
                    Driftsansvar
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                            Med driftsansvar følgjer ei rett til å avverke og transportere tømmer med hogstmaskin, lassbærar og tømmerbil parallelt og utan hindringar.
                        </li>
                        <li>
                            Driftsansvarleg skal utføre nødvendig planlegging av drifta, inkludert merking av miljø og kulturverdiar.
                        </li>
                        <li>
                            Seljar pliktar å medverke til at driftsansvarleg kan planlegge og gjennomføre drifta i samsvar med Norsk PEFC Skogstandard og Fjordtømmer sine miljørutinar.
                        </li>
                        <li>
                        Seljar har særskilt plikt til å opplyse driftsansvarleg om nødvendige opplysningar som kjente miljø og kulturverdiar, drikkevasskjelder og eigendomsforhold rundt driftsområdet, slik at drifta kan planleggast og gjennomførast.</li>
                        <li>
                            Seljar pliktar å medverke til drifta gjennom sitt ansvar for vegar og velteplassar. Han skal syte for at desse er trygge og gode nok til gjennomføring av drifta, samt at skogsdrifta kan utførast utan hindringar. 
                        </li>
                        <li>
                            Driftsansvarleg skal påsjå at det ved behov vert inngått avtale om følgjande: 
                            <ol>
                                <li>
                                Terrengtransport over annan manns eigendom</li>
                                <li>
                                Snøbrøyting, strøing og skraping av veg</li>
                                <li>
                                Bruk av skogsbilveg der seljar av tømmeret ikkje er eigar i vegen</li>
                                <li>
                                Eigendomsgrenser merkast
                                </li>
                            </ol>
                        </li>
                        <li>
                            Med driftsansvar følgjer også ansvar og rett til å avslutte drifta ved avvik som bryt med Norsk PEFC Skogstandard, Fjordtømmer sine rutinar, omsyn i høve sikkerheit for drifta, og ved avvik der seljar ikkje overheld sine plikter i høve grunnlag og gjennomføring av drifta.
                        </li>
                        <li>
                            Sporpussing gjennomførast etter PEFC , klimamessige utfordringar og maskina sine avgrensingar på tidspunktet arbeidet vert utført, med dei då tilstadeverande maskiner. Gjennomføring av dette arbeidet krev eigna forhold for desse maskinene og at det er miljømessig og økonomisk forsvarleg arbeid.
                        </li>
                        <li>
                            Driftsansvarleg har opsjon på foryngingstenester på det avverka arealet.
                        </li>
                    </ol>
                </li>

                <li>
                    Vegar og velteplassforhold
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                        Seljar har ansvar for vegar og velteplassar, at desse er i tilstrekkeleg god nok stand til gjennomføring av skogsdrift, framkøyring av tømmeret, og transport med tømmerbil, samt at dette er i orden til avtala driftsoppstart.</li>
                        <li>
                        Tømmertransport til Fjordtømmer sitt mottak krev vegar som held minst 8 tonn normalaksellast og private vegar skal tilfredstille krava til nødvendig vegklasse.</li>
                        <li>
                        Dersom det er nødvendig med utbetring av private vegar skal kjøpar ta kontakt med seljar for godkjenning av dette arbeidet.</li>
                        <li>
                        Ved levering til offentlege vegar skal forskrifter frå Vegvesenet overhaldast. Ansvar for nødvendige meldingar om tømmerdrift til Vegvesenet og iverksetting av nødvendige trafikksikkerheitstiltak ligg hjå driftsansvarleg.</li>
                        <li>
                        Dersom transportør på grunn av forhold på privat veg, snuplass eller velteplass må køyre mindre lass enn normalt, kan det medføre trekk i virkesoppgjer.</li>
                        <li>
                            Virket skal leggast opp langs veg etter dei krav som føreligg frå vegstyresmakt, eller med maks avstand 1,5 meter frå vegbana.
                        </li>
                        <li>
                            Virket skal ikkje leggast under straumførande leidningar eller telefonlinjer.
                        Ansvar for nødvendige meldingar til linjeeigar, ligg på driftsansvarleg.</li>
                        <li>
                        Seljar pliktar å halde veg brøyta og farbar så lenge tømmertransport pågår.</li>
                        <li>
                        Levering til vinterbilveg kan kun skje dersom vegen på førehand godkjennast av Fjordtømmer.</li>
                    </ol>
                </li>

                <li>
                    Leveringsvilkår når kjøpar ikkje er driftsansvarleg
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                        Kvalitet og dimensjonar for kvart enkelt sortiment skal vere i samsvar med Fjordtømmer sine spesifikasjonar for sortimenta.</li>
                        <li>
                        Kapping skal skje i samsvar med spesifikasjonar for dei ulike sortimenta til Fjordtømmer.</li>
                        <li>
                        Driftsansvarleg pliktar at tømmerlunnene på leveringsstad merkast med leverandørnummer og eventuelt intern-nummer i samsvar med retningslinjer frå Fjordtømmer.</li>
                        <li>
                        Driftsansvarleg gir Fjordtømmer melding om at virke er framkøyrd på avtala leveringsstad straks eitt lass er klart for avhenting og deretter ved behov.</li>
                        <li>
                        Seljar gjer virket tilgjengeleg for kjøpar på avtala leveringsstad i tråd med krav i pkt. 3. Vegar og velteplassforhold.</li>
                        <li>
                        Seljar har ansvar og risiko for virket inntil det hentast av kjøpar på avtala leveringsstad.</li>
                        <li>
                        Kjøpar overtek ansvar og risiko for virket ved lasting på bil, på avtala leveringsstad.</li>
                        <li>
                            Ved endring av leveringstidspunkt eller leveringsstad, som får konsekvensar for kvalitet og kostnad, kan kjøpar krevje erstatning for dette.
                        </li> 
                    </ol>
                </li>

                <li>
                    Eigendomsrett og måling av virket
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                        Eigendomsretten til virket i kontrakten går over til Fjordtømmer ved måling.</li>
                        <li>
                            Virket målast normalt på Fjordtømmer sin mottaksstad.
                        </li>
                        <li>
                        Virket målast i samsvar med gjeldande sortimentspesifikasjonar og målereglement til Norsk Virkesmåling.</li>
                        <li>
                        Virke som i samsvar med reglement ikkje kan målast, vert avvist for måling.</li>
                        <li>
                            Det vert laga målekvitteringar for målt virke.
                        </li>
                        <li>
                            Dersom seljar mislegheld kontrakten og Fjordtømmer som konsekvens av dette står for framdrift av kontraktskvantum, overgår eigendomsretten til virket på hogsttidspunktet.
                        </li>
                    </ol>
                </li>

                <li>
                    Tømmeroppgjer
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                        Oppgjersgrunnlag er volum- og verdiberekning på grunnlag av målekvitteringar.</li>
                        <li>
                            Virket vert verdiberekna i samsvar med prisar i kontrakt.
                        </li>
                        <li>
                            Virke som er innmålt innan utløpet av ein kalendermånad, vert avrekna i samsvar med månadlege oppgjersterminar registrert i Skog-Data.
                        </li>
                        <li>
                            Ved utbetaling av virkesoppgjer vert det trekt målekostnader og FoU avgift, driftskostnader og evt. andre trekk som er avtala mellom partane.
                        </li>
                        <li>
                            Utbetalingstidspunkt for etterbetalingar eller liknande kan fråvike desse oppgjersterminane.
                        </li>
                        <li>
                            Entreprenøren sin driftspris kan bli  indeksregulert. Før oppstart av drift skal seljar varslast om evt. regulert driftspris.
                        </li>
                        <li>
                            Dersom forhold som skogeigar har ansvar for ikkje vert utført og hindrar utføring av skogsdrift for Fjordtømmer, kan Fjordtømmer gjennomføre nødvendige tiltak og trekke kostnadane for dette i tømmeroppgjer.
                        </li>
                    </ol>
                </li>

                <li>
                    Reklamasjon
                    <ul><li>
                        Reklamasjon skal fremjast skriftleg seinast 14 dagar etter at drifta er avslutta og siste lass er henta.
                    </li></ul>
                </li>

                <li>
                    Behandling av personopplysningar
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                            Alle personopplysningar innhenta av Fjordtømmer skal kun nyttast til det formål dei er registrert.
                        </li>
                        <li>
                            Formålet med behandlinga av personopplysningar er å kunne overhalde offentleg rapporteringsplikt i høve næringsdrift i skogen, og kunne ivareta Fjordtømmer sine miljøsertifikat.
                        </li>
                        <li>
                            Ved underskrift blir det gjeve samtykke til registrering av seljar sin e-post for bruk i forretningsmessig samanheng og for marknadsføring av Fjordtømmer sine skogstenester overfor kunden.
                        </li>
                    </ol>
                </li>

                <li>
                    Force majeure
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                            Force majeure som mobilisering, krig, naturkatastrofe, streik, lockout, blokade, brann, statleg inngrep, hindrande drifts- og eller transportforhold eller andre forhold som partane ikkje rår over, fritek partane for plikt i samsvar med denne kontrakt. Det vert forutsett at den part det gjeld så snart som mogleg, og seinast 30 dagar etter at det har vore mogleg å bedømme at slik situasjon har oppstått, varslar den andre parten.
                        </li>
                        <li>
                            Dersom Fjordtømmer sin kjøpar av virket i denne kontrakten påberoper seg force majeure, vil denne også kunne bli gjort gjeldande av Fjordtømmer overfor seljar.
                        </li>
                    </ol>
                </li>

                <li>Tvist
                    <ul>
                        <li>
                            Tvist om tolking og leveranse etter denne kontrakt avgjerast med bindande verknad av ei voldgiftsnemnd, kor seljar og kjøper oppnemner kvar sitt medlem, og kor Sogn og Fjordane Tingrett oppnemner det tredje som då er formann.
                        </li>
                    </ul>
                </li>

            </ol>
        </li>


        <li>Nærare om Miljøavtalen
            <ol>
                <li>
                    Skogeigar sine plikter
                    <ul>
                        <li>
                            Følge norsk lovgjeving relevant for skogforvaltning og Norsk PEFC Skogstandard for all aktivitet på skogeigendomen. Skaffe seg nødvendig kompetanse om Norsk PEFC Skogstandard eller nytte andre som har slik kompetanse ved planlegging og gjennomføring av skogbrukstiltak på eigendomen.
                        </li>
                        <li>
                            Sørge for at all relevant informasjon blir delt med sertifikathaldar, det vere seg skogbruksplan- og miljøregistreringar. 
                        </li>
                        <li>
                            Følge sertifikathaldar sine krav og rutinar i samband med oppfølging av sertifiseringa. 
                        </li>
                        <li>
                            Hogst inn mot nøkkelbiotop og verneområde skal alltid merkast av sertifikathaldar.
                        </li>
                        <li>
                            Skogbrukstiltak i nøkkelbiotopar, som opnar for skjøtsel, skal førehandsgodkjennast av sertifikathaldar.
                        </li>
                        <li>
                            Akseptere dei vurderingar sertifikathaldar gjer i høve miljøomsyn i skogbrukstiltak, herunder oppretting av terrengskader.
                        </li>
                        <li>
                            Ikkje utføre tiltak på eigendomen som er i strid med Norsk PEFC Skogstandard etter at hogst er gjennomført. Til dømes hogst av livsløpstre eller kantsone.
                        </li>
                        <li>
                            Sørge for at skogen vert forynga etter hogst, ihht. Lov om skogbruk § 6 og krav i Norsk PEFC Skogstandard.
                        </li>
                        <li>
                            Samarbeide ved gjennomføring av internkontroll, interne og eksterne revisjonar, inkludert svare på alle førespurnader om relevant informasjon frå sertifikathaldar eller sertifiseringsorgan.
                        </li>
                        <li>
                            Bidra til å lukke avvik som oppstår på eigendomen, samt sørge for å gjennomføre korrigerande og/eller førebyggande tiltak som vert pålagt frå sertifikathaldar.
                        </li>
                        <li>
                            Følge PEFC Norges retningslinjer for offentlegheit knytt til informasjon som er av interesse for allmenta <i>(jfr. Skogbrukslovens bestemmelser og Norsk PEFC Skogstandard kravpunkt, åpenhet om miljøinformasjon)</i>.
                        </li>
                        <li>
                            Dokumentere hogst og andre tiltak i samsvar med sertifikathaldars krav <i>(jfr også PEFC N03 kap 7.2 – pkt 4,5 og 6)</i>.
                        </li>
                    </ul>
                </li>
                <li>
                    Sertifikathaldar sine plikter
                    <ul>
                        <li>
                            Sørge for at skogeigar får nødvendig informasjon og vegleiing for å oppfylle krava i Norsk PEFC Skogstandard. Informere skogeigar om endringar i Norsk PEFC Skogstandard.
                        </li>
                        <li>
                            Sørge for at skogeigar er gjort kjent med sertifikathaldar sine rutinar knytt til oppfølging av sertifiserte skogeigendomar. 
                        </li>
                        <li>
                            Gjennom stikkprøvebasert kontroll og revisjon, kontrollere at sertifiserte skogeigarar oppfyller krava i sertifiseringssystemet. Iverksette korrigerande og/eller førebyggande tiltak ved avvik hos sertifiserte skogeigarar eller i sertifikathaldar sine administrative rutinar.
                        </li>
                        <li>
                            Miljøavtalen gir skogeigar moglegheit til å levere PEFC-sertifisert råstoff til sertifikathaldaren som avtalen er inngått med. Denne miljøavtalen gir ikkje skogeigar moglegheit til å levere sertifisert råstoff til andre sertifikathaldarar. Dersom dette vert gjort må det opprettast eigen miljøavtale med desse.
                        </li>
                    </ul>
                </li>
                <li>
                    Retningslinjer for handtering av avvik
                    <ul>
                        <li>
                            Dersom skogeigar oppdagar avvik frå lovverk og/eller Norsk PEFC Skogstandard skal dette rapporterast til sertifikathaldar skriftleg så snart som mogleg. Skogeigar plikter å opplyse om opne avvik ved skifte til ny sertifikathaldar. Ved tilslutning til meir enn ein sertifikathaldar skal avvik meldast frå om til øvrige sertifikathaldarar.
                        </li>
                    </ul>
                </li>
                <li>
                    Avtaletid, oppseiing og misleghald
                    <ul>
                        <li>
                            Miljøavtalen er gyldig i 10 år, og må deretter fornyast. Avtalen kan seiast opp av begge partar med éin månads varsel eller dersom sertifikathaldar på grunn av større endringar finn det nødvendig med ei samla fornying av avtalane. Dersom skogeigar mislegheld skogsertifiseringa eller dersom det avdekkast alvorlege avvik frå Norsk PEFC Skogstandard som ikkje følgast opp, kan sertifikathaldar ved skriftleg varsel, suspendere eller seie opp miljøavtalen. Sertifikathaldar skal varsle sertifiseringsorganet og PEFC Norge om suspensjon og oppseiing av avtale.
                        </li>
                        <li>
                            Ved oppseiing av sertifiseringsavtalen oppretthaldast sertifikathaldar sitt ansvar og rettigheit til å kontrollere eigendomen i inntil 1 år etter oppseiing. Skogeigar si plikt til å samarbeide ved gjennomføring av kontroll, revisjon og lukking av eventuelle avvik vert oppretthalde på tilsvarande måte i 1 år. Skogeigar kan klage til sertifiseringsorganet på oppseiing eller suspensjon av sertifiseringsavtalen.
                        </li>
                    </ul>
                </li>
            </ol>
        </li>
    </ol>

</body>
</html>