<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {
    padding: 5px;        
    border: 0px solid gray;
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
	color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   /*border:2px solid #021a40;*/
   display: block;
   width: 100%;
   height: auto;        
}    
</style>


    <table width="90%" border="0">
        <tr>
            <td align="left" valign="top" width="200px">
                <img width="200px" src="https://assets.feltgis.no/images/logo.jpg"><br/>
                <b>FeltGIS AS</b><br/>
                Tlf: 91754725<br/>
                support@feltgis.no<br/>
            </td>
            <td align="right" valign="top">
                <h1>Framkjørt rapport {{title}}</h1>
                <h4>Oppdrag start: {{start}}<br>
                Oppdrag slutt: {{end}}<br>
                Maskin: {{machine}}</h4>
                {{#hasentrep}}
                    Maskinfører: {{entrep}}<br>
                {{/hasentrep}}
            </td>
        </tr>
    </table>
   
    <br/><br/>
        
    <table class="mytable" width="90%" border="0">
        <tr class="tableheader">
            <td width="50%"><b>Sortiment</b></td>                        
            <td><b>Volum</b></td>            
        </tr>
    {{#fprtable}}
        <tr><td>{{sortnr}} {{sortname}}</td><td>{{volume}}</td></tr>
    {{/fprtable}}
        <tr><td></td><td><b>{{fprsum}}</b></td></tr>
    </table>
        
    <br/><br/>
    {{extra}}
    <br/><br/>

    <figure>        
        <img class="map" src="{{mapimage}}" alt="" />      
    </figure>
</body>
</html>
