<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
	color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border {
    border: 1px solid black;
}
#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<table width="80%"><tr><td colspan="3">    
    <table width="100%">
        <tr>
            <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
                <img width="300px" src="https://nt.feltgis.no/nt-logo-stor.jpg">
            </td>
            <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">
                <b>NORTØMMER AS</b><br/>
                Jegerstien 18<br/>
                2406 ELVERUM<br/>
                Tlf.: 87654321<br/>
                post@nortommer.no<br/>
            </td>
            <td align="right" style="vertical-align: top;">
                <font size="20">Arbeidsordre {{_type}}</font>
                <h3>Endret {{_modified_Date}}</h3>
                <h4>Endret av: {{_email}}</h4>
                <h4>Løpenummer: {{_job_nr}}</h4>
            </td>
        </tr>
    </table>

   
 <table width="100%"><tr>
    <td align="left" valign="top">
    
        <table class="mytable" width="90%" border="0">
            <tr class="tableheader">
                <td width="75%"><b>Arbeidsordre markberedning</b></td>            
                <td></td>
            </tr>  
            <tr><td>Navn på skogeier</td><td>{{forest_owner}}</td></tr>
            <tr><td>Leverandørnummer</td><td>{{lev_nr}}</td></tr>
            <tr><td>Kommune</td><td>{{muni}}</td></tr>
            <tr><td>Gnr/bnr</td><td>{{gb_nr}}</td></tr>
            <tr><td>Bestandsnummer</td><td>{{bestand}}</td></tr>
            <tr><td>Areal</td><td>{{area}} daa</td></tr>
            <tr><td>Maskintype</td><td>{{machine_type}}</td></tr>
            <tr><td>Ønsket tidspunkt</td><td>{{start}}</td></tr>
            <tr><td>Høyde over havet</td><td>{{elevation}}m</td></tr>
            <tr><td colspan="2">{{comment}}</td></tr>   
        </table>

    </td>
    <td align="right" valign="top">
      
      <table class="mytable" width="90%" border="0">
        <tr class="tableheader">
            <td width="75%"><b>Miljø</b></td>            
            <td></td>
        </tr>  
        <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{check_bio_Boolean}}</td></tr>
        <tr><td colspan="2">Merknad: {{check_bio_comment}}</td></tr>
        <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{check_herit_Boolean}}</td></tr>
        <tr><td colspan="2">Merknad: {{check_herit_comment}}</td></tr>
        <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{check_recreational_Boolean}}</td></tr>
        <tr><td colspan="2">Merknad: {{check_recreational_comment}}</td></tr>
        <tr><td>Kantsone</td><td>{{buffer_zone_Boolean}}</td></tr>
        <tr><td colspan="2">Merknad: {{buffer_zone_comment}}</td></tr>        

      </table>
    </td></tr>
  </table>


    {{#_geojpgs}}
    <div class="center">
      <img class="border" alt="{{comment}}" style="width: 400px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
      <a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    </div>
    {{/_geojpgs}}

    

        
</tr></td></table>
</body>
</html>
