<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-top: 2pt;padding-left: 40pt;text-indent: 0pt;text-align: left;">GENERAL</h1>
<p class="s3" style="padding-top: 2pt;padding-left: 40pt;text-indent: 0pt;line-height: 121%;text-align: left;"><span class="p">All pre-clearance work must be of satisfactory quality and preserve any environmental values in accordance with </span><a href="https://norskog.no/tjenester/sertifisering/sertifisering-av-skog/" style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;" target="_blank">ISO 14001 </a>Norwegian PEFC forest standard.<span class="s2"> </span><a href="http://www.fsc.org/" style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;" target="_blank">(FSC®-C103857) </a>FSC®.</p>
<p style="padding-top: 5pt;padding-left: 40pt;text-indent: 0pt;line-height: 120%;text-align: left;">All workers must familiarize themselves with the pre-clearance instructions, map, and work order before starting.</p>
<p style="padding-left: 40pt;text-indent: 0pt;line-height: 120%;text-align: left;">Where multiple workers are operating together, the work leader shall distribute the stand within the group. The work leader is responsible for ensuring that the instructions are read and understood by the rest of the team.</p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">ENVIRONMENTAL REQUIREMENTS AND EXECUTION:</h1>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<table style="border-collapse:collapse;margin-left:5.41pt" cellspacing="0">
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 61pt;text-indent: 0pt;text-align: left;">Description</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 65pt;padding-right: 64pt;text-indent: 0pt;line-height: 13pt;text-align: center;">Map Symbol</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 59pt;padding-right: 58pt;text-indent: 0pt;text-align: center;">Distance</p>
      </td>
   </tr>
   <tr style="height:41pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Road ditches, ditch and smaller stream without year-round water flow</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p style="text-indent: 0pt;text-align: left;"><br/></p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;">1 meter from ditch/stream to trees that are spared. Kept free from</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">felled trees.</p>
      </td>
   </tr>
   <tr style="height:27pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Marked trail/ski track, trail historical society</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 14pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Dotted line and comment in map</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Kept free from felled trees in</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">existing width.</p>
      </td>
   </tr>
   <tr style="height:15pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Unmarked trail and road</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 14pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Dotted line and comment in map</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Specified in text in PO-form and map</p>
      </td>
   </tr>
   <tr style="height:27pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Forest road/public road</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p style="text-indent: 0pt;text-align: left;"><br/></p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">4 meters from the road shoulder to trees</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">that are spared in the stand</p>
      </td>
   </tr>
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Riparian zone stream</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s7" style="padding-left: 42pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Green solid line</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">5 meters</p>
      </td>
   </tr>
   <tr style="height:41pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Cultural heritage sites/cultural environments</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 42pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Symbols and text</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;">5 meters from the outer visible edge, in some cases these are completely cleared, will be specified in map</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;"></p>
      </td>
   </tr>
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Riparian zone river, swamp, and water</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s7" style="padding-left: 13pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Green solid line/shaded area</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">10-25 meters</p>
      </td>
   </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">GENERAL REQUIREMENTS FOR PRE-CLEARANCE:</h1>
<ul id="l1">
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">ROS-species, grazed pine and oak, and juniper should be spared for wildlife in openings and between trees in the stand, distance from remaining trees 1-1.5m.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Efforts should be made to have as low a stump height as possible.</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Other special considerations in pre-clearance should be described in the work order/map.</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Hazel is always cut down.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p class="s8" style="padding-left: 40pt;text-indent: 0pt;text-align: left;">Final felling</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Everything under 8-10cm is cut down, except for wildlife considerations and other minor undervegetation in openings, which does not interfere with logging.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p class="s8" style="padding-left: 40pt;text-indent: 0pt;text-align: left;">Thinning</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Only trees that interfere with the execution of thinning under 8-10cm in diameter are cut down, except for wildlife considerations.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 5pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Moisture tracks are spared unless otherwise instructed. In some cases, these are desired to be regulated, will be specified in work order/map.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">MANDATORY SAFETY EQUIPMENT AND SAFETY:</h1>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Approved helmet with approved hearing protection and visor/safety glasses for tree height over 2m</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">For tree height under 2m, only hearing and eye protection is mandatory</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Footwear with good tread pattern</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Signal colored jacket/reflective vest</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Individual first aid kit and/or first aid kit available at the workplace</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">When using a chainsaw, approved protective trousers and other mandatory safety equipment must always be used</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 120%;text-align: left;">When working where two or more are working in the same area/stand, a safe distance between the workers must be maintained; brush cutter safety distance 30 m and two tree lengths for chainsaw</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">The work leader is responsible for distributing the field among the workers so that the safety distance is impossible to breach.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 120%;text-align: left;">If forest workers need to communicate with others in the work field, safety radio/mobile phone should be used, or attention should be created before going closer than the safety distance</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">90m safety distance to forestry machines during pre-clearance under started forestry operations. Continuous communication with the machine operators required.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">On snow/ice/slippery conditions: assess the need for spikes/studs on safety shoes</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Solo work: Each individual is responsible for their own safety and must always ensure to have available means of communication when working alone so that it is easy to alert in case of an accident.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Satisfactory means of communication (phone/safety radio)</p>
   </li>
</ul>
