<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
	color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    

.border {
    border: 1px solid black;
}

#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

</style>

{{#language_is_norsk}}


<table width="100%">
    <tr>
        <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
            <img width="300px" src="https://img.feltgis.no/altiskog.png">
        </td>
        <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">
            <b>Altiskog AS</b><br/>
            Mjåvannsveien 13<br/>
            4628 Kristiansand<br/>
            
            
        </td>
        <td>
            <font size="20">Arbeidsordre {{_type}}</font>
        </td>
    </tr>
    <tr>
        <td align="right" style="vertical-align: top;" colspan="3">            
            <h3>
                Dato: {{now}}<br>
                Planlegger: {{plannerContactName}}, tlf: {{plannerContactPhone}}<br>
                Oppdragsnummer: {{_job_nr}}
            </h3>
        </td>
    </tr>
</table>


<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Oppdragsinformasjon</b></td>            
      <td></td>
  </tr>  
  <tr><td>Navn på skogeier</td><td>{{forestOwnerName}}</td></tr>
  <tr><td>Skogeier e-post</td><td>{{forestOwnerEmail}}</td></tr>
  <tr><td>Leverandørnummer</td><td>{{levNr}}</td></tr>
  <tr><td>Kommune</td><td>{{muniName}}</td></tr>        
  <tr><td>Komnr-Gnr/bnr</td><td>{{muniNum}}-{{gridNum}}/{{holdingNum}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
  {{#_plants_total}}
  <tr><td>Antall planter totalt</td><td>{{_plants_total}}</td></tr>
  {{/_plants_total}}
</table>
  

{{#AIPUngskogpleieGeomUngskogpleie}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2"><b>Tiltak: Ungskogpleie {{_title}}</b></td>                  
  </tr>  

  {{#bestand_str}}
  <tr><td><b>Bestandsnummer</b></td><td><b>{{bestand_str}}</b></td></tr>  
  {{/bestand_str}}
  <tr><td>Skal løv stå spredt i bestand eller i klynger?</td><td>{{lauv_dist}}</td></tr>  
  <tr><td>Behandling av beitetrær</td><td>{{beitetraer}}</td></tr>  
  
  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}

  <tr><td>Teignavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Areal</td><td>{{area}}da</td></tr>      
  <tr><td>Høyde over havet</td><td>{{elevation}} m</td></tr>
  
  {{#price_model}}<tr><td>Prismodell</td><td>{{price_model}}</td></tr>{{/price_model}}
  <tr><td>Kommentarer til tiltaket</td><td>Beitetrær spares! 1m fra gran/furu. <br>{{comment}}</td></tr>
</table>
{{/AIPUngskogpleieGeomUngskogpleie}}

  
   
{{/language_is_norsk}}  


{{#language_is_engelsk}}


<table width="100%">
    <tr>
        <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
            <img width="300px" src="https://img.feltgis.no/altiskog.png">
        </td>
        <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">
            <b>Altiskog AS</b><br/>
            Mjåvannsveien 13<br/>
            4628 Kristiansand<br/>
            
            
        </td>
        <td>
            <font size="20">Work Order {{_type}}</font>
        </td>
    </tr>
    <tr>
        <td align="right" style="vertical-align: top;" colspan="3">            
            <h3>
                Date: {{now}}<br>
                Planner: {{plannerContactName}}, phone: {{plannerContactPhone}}<br>
                Assignment number: {{_job_nr}}
            </h3>
        </td>
    </tr>
</table>

<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Assignment Information</b></td>            
      <td></td>
  </tr>  
  <tr><td>Name of forest owner</td><td>{{forestOwnerName}}</td></tr>
  <tr><td>Forest owner email</td><td>{{forestOwnerEmail}}</td></tr>
  <tr><td>Supplier number</td><td>{{levNr}}</td></tr>
  <tr><td>Municipality</td><td>{{muniName}}</td></tr>        
  <tr><td>Municipality-grid/holding number</td><td>{{muniNum}}-{{gridNum}}/{{holdingNum}}</td></tr>
  <tr><td>Area</td><td>{{area}} daa</td></tr>
  {{#_plants_total}}
  <tr><td>Total number of plants</td><td>{{_plants_total}}</td></tr>
  {{/_plants_total}}
</table>

{{#AIPUngskogpleieGeomUngskogpleie}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2"><b>Measures: Young Forest Management {{_title}}</b></td>                  
  </tr>  
  <tr><td>Assignment number</td><td>{{_job_nr}}</td></tr>   
  <tr><td>Should deciduous trees be left scattered in the stand or in clusters?</td><td>{{lauv_dist}}</td></tr>  
  <tr><td>Treatment of browsing trees</td><td>{{beitetraer}}</td></tr>  
  
  <tr><td>Does the measure affect biologically important areas?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Note: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Does the measure affect known cultural heritage?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Note: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Does the measure affect important recreational values?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Note: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Buffer zone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Note: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}

  <tr><td>Stand number</td><td>{{bestand_str}}</td></tr>  
  <tr><td>Plot name</td><td>{{teignavn}}</td></tr>
  <tr><td>Plot number</td><td>{{teignr}}</td></tr>
  <tr><td>Area</td><td>{{area}}da</td></tr>      
  <tr><td>Elevation above sea level</td><td>{{elevation}} m</td></tr>
  
  <tr><td>Measure note</td><td>Browsing trees spared! 1m from spruce/pine. <br>{{comment}}</td></tr>
</table>

{{/AIPUngskogpleieGeomUngskogpleie}}


{{/language_is_engelsk}}
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


</body>
</html>
