<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
    color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border {
    border: 1px solid black;
}
#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<table width="80%"><tr><td colspan="3">    
    <table width="100%">
        <tr>
            <td align="left" width="200px" style="vertical-align: top; padding-top: 20px;">
                <img width="200px" src="https://img.feltgis.no/altiskog.png">
            </td>
        <td align="right" class="header" style="vertical-align: top">
            Mjåvannsveien 13<br/>
            4628 Kristiansand<br/>
            Tlf.: 94805537<br/>
            
            Org. nr: NO 923553029 MVA <br/>
        </td>
            <td align="right" style="vertical-align: top;">
                <font size="12">Egenkontroll</font>
                <h3>Endret {{_modified_Date}}</h3>
                <h4>Endret av: {{_modifiedBy}}</h4>
                <h4>IO-nummer: {{_orderNum}}</h4>
                <h4>Tømmermerke: {{_ownershipMark}}</h4>
            </td>
        </tr>
    </table>

   

    
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="75%"><b>Egenkontroll entreprenør, lassbærer</b></td>            
            <td></td>
        </tr>  
        <tr><td>Er arbeidene gjennomført i samsvar med hogstinstruks, produkt- og miljøkrav?</td><td>{{asplanned_Boolean}}</td></tr>
        <tr><td>Er framkjørt volum rapportert daglig på drifta?</td><td>{{fw_reported_daily_ok}}</td></tr>
        <tr><td>Er basveier anlagt slik at man best mulig unngår kjøreskader?</td><td>{{basvei_Boolean}}</td></tr>
        <tr><td>Er det gjort forebyggende tiltak for å redusere kjøreskader?</td><td>{{prevent_track_damage}}</td></tr>
        <tr><td>Er det oppstått kjørespor med behov for oppretting?</td><td>{{tracks_Boolean}}</td></tr>
        {{#marked_Boolean}}
        <tr><td>Hvis det er oppstått kjørespor, er sted for oppretting avmerket på kartet?</td><td>{{marked_Boolean}}</td></tr>
        {{/marked_Boolean}}
        {{^marked_Boolean}}
        <tr><td>Hvis det er oppstått kjørespor, er sted for oppretting avmerket på kartet?</td><td>{{marked_ok}}</td></tr>
        {{/marked_Boolean}}      
        <tr><td>Er kulturminner hensyntatt?</td><td>{{cult_inheritage_ok}}</td></tr>
        <tr><td>Er spesielle hensyn til friluftsliv hensyntatt (stier, skiløyper etc.)?</td><td>{{outdoor_life_ok}}</td></tr>
        <tr><td>Er tømmerlunne lagt opp iht. krav?</td><td>{{lunne_ok}}</td></tr>
        <tr><td>Er tømmer merket med leverandørnummer for hver 5m3?</td><td>{{lev_merke_ok}}</td></tr>
        <tr><td>Er tømmer merket med sortimentsnummer for hver 100m3?</td><td>{{sort_merke_ok}}</td></tr>
        <tr><td>Avvik registrert</td><td>{{dev_Boolean}}</td></tr>
        <tr><td>Kommentar</td><td>{{comment}}</td></tr>
        <tr><td>Maskinførers signatur</td><td>{{sign}}</td></tr>        
    </table>
        
    {{#geojpgs}}
    <table><tr><td align="center">
      <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
    </td></tr><tr><td>
      <h3>
        {{comment}}
        {{#links}}
        <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
        {{/links}}
      </h3>
    </td></tr></table>
    {{/geojpgs}}

        
<tr><td></table>
</body>
</html>
