<html>
<head>
    <meta charset="UTF-8">

    <style>
        body {
            margin-left: 50px;
            margin-right: 50px;
            font-family: "Roboto", sans-serif;
            font-size: .75em;
        }
        table {
            page-break-inside: avoid;
            margin: 0px auto; 
        }
        th, td {
            padding: 5px;        
            border: 0px solid gray;
        }
        figure {
            width: 88%;
            page-break-inside: avoid;
        }
        .header {
            font-size: .70em;
        }
        .mytable {
            border: 2px solid;
            border-collapse: collapse;        
            margin-top: 10px;
            page-break-inside: avoid;
        }
        .mytable tr:nth-of-type(odd) {
            background: #f5f5f5;
        }

        .tableheader {
            color: #ffffff;
            background-color: #0e721d !important;
        }
    </style>

</head>
<body>

<table class="max-width">
    <tr>
        <td valign="top" align="left">
            <img height="30px" src="https://img.feltgis.no/altiskog.png"><br>
            FøreVar - {{head.SellerName}} {{head.MuniNum}}-{{head.GridNum}}/{{head.HoldingNum}}, opprettet {{signatureDate}}
        </td>
    </tr>
</table>




<br>
    
<table class="mytable" width="100%" border="0">
    <tr class="tableheader">
        <td width="75%"><b>Føre-var skjema</b></td>            
        <td></td>
    </tr>  
    <tr><td>En eller flere av følgende vegetasjonstyper forekommer:</td><td>{{foreVar.bakkevegetasjon}}</td></tr>
    <tr><td>Gamle trær</td><td>{{foreVar.gamletraer}}</td></tr>
    <tr><td>Eldre lauvsuksesjon</td><td>{{foreVar.eldrelauvsuksesjon}}</td></tr>
    <tr><td>Hule lauvtrær</td><td>{{foreVar.hulelauvtraer}}</td></tr>
    <tr><td>Stående/liggende død ved</td><td>{{foreVar.staende}}</td></tr>
    <tr><td>Rikbarkstrær</td><td>{{foreVar.rikbarkstraer}}</td></tr>
    <tr><td>Lyse hengelaver</td><td>{{foreVar.lysehengelaver}}</td></tr>
    <tr><td>Brent skog</td><td>{{foreVar.brentskog}}</td></tr>
    <tr><td>Topografi</td><td>{{foreVar.topografi}}</td></tr>

{{#foreVar._showtable2_Boolean_TF}}
    <tr><td>Stor diameterspredning på hovedtreslaget (levende)</td><td>{{foreVar.stordiamlevende}}</td></tr>
    <tr><td>Stor diameterspredning på hovedtreslaget (dødt)</td><td>{{foreVar.stordiamdodt}}</td></tr>
    <tr><td>Flersjiktet bestand (kan være flere treslag i sjiktingen)</td><td>{{foreVar.flersjiktet}}</td></tr>
    <tr><td>Flere "hull"/åpninger i bestandet (> 0,1 daa)</td><td>{{foreVar.flerehull}}</td></tr>
    <tr><td>Flere hule trær/reirtrær (> 2 tre daa)</td><td>{{foreVar.hule}}</td></tr>
    <tr><td>Flere seintvoksende trær (overaldrige)</td><td>{{foreVar.flereseintvoksende}}</td></tr>
    <tr><td>Plantet bestand</td><td>{{foreVar.plantetbestand}}</td></tr>
    <tr><td>Nordlig eksponering eller forsenkning </td><td>{{foreVar.nordligeksponering}}</td></tr>
    <tr><td>Sydlig eksponering eller på høyde/rygg</td><td>{{foreVar.sydligeksponering}}</td></tr>
{{/foreVar._showtable2_Boolean_TF}}

</table>
        
        
    


        
</body>
</html>
