<html>
<head>
    <meta charset="UTF-8">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
        }
        thead {
            background: lightgrey;
        }
        .headbg {
            background: lightgrey;
        }
        table {
            font-size: small;
            border-collapse: collapse;
        }
        .fat {
            font-weight: bold;
        }
        .bordered td {
            padding: 2px;
            border-color: black;
            border-style: solid;
            border-width: 0.1mm;
        }
        .bordered td td {
            border: none;
        }
        .max-width {
            width: 100%;
        }
        .center-content {
            text-align: center;
        }
        .left-content {
            text-align: left;
        }
        .text-center {
            text-align:center;
        }
        .header {
            font-size: x-large;
        }
        hr {
            border: none;
            height: 1pt;
            background: black;
        }
        .green {
            height: 50px;
            background: rgb(211, 243, 218);
            border-color: white;
            border-style: solid;
            border-width: 6px;
        }
        tr { height: 25px; }
        tr:nth-child(even) {background: #F5F5F5;}
    </style>

</head>
<body>

<table class="max-width">
    <tr>
        <td valign="top" width="10px">
            <img height="60px" src="https://bitbucket.org/feltgis/feltgis-config/raw/master/rapporter/glommenmjosen/logo.png">
        </td>
        <td valign="top" align="left">
            
            Feltkontroll (drift avsluttet) - {{head.SellerName}} {{head.MuniNum}}-{{head.GridNum}}/{{head.HoldingNum}}
        </td>
    </tr>
</table>




<br>
<table class="max-width">
    <tr>
        <td colspan="2" class="header">
            ID-opplysninger
            <hr width="100%">
        </td>
    </tr>
    <tr>
        <td  class="fat">Tømmermerke:</td>
        <td>{{head.OwnershipMark}}</td>
    </tr>
    <tr>
        <td  class="fat">Innkjøpsordrenummer:</td>
        <td>{{purchaseOrderNum}}</td>
    </tr>
    <tr>
        <td  class="fat">Entreprenørordrenummer:</td>
        <td>{{contractorOrderId}}</td>
    </tr>
    <tr>
        <td  class="fat">Skogeier:</td>
        <td>{{head.SellerName}}</td>
    </tr>
    <tr>
        <td  class="fat">Driftsansvarlig:</td>
        <td>{{additionalFields.productionResponsible}}</td>
    </tr>
    <tr>
        <td  class="fat">Kontaktperson:</td>
        <td>{{head.BuyerName}}, tlf {{head.BuyerContactPhone}}</td>
    </tr>
    <tr>
        <td  class="fat">Eiendom (kommune, knr-gnr/bnr)</td>
        <td>{{head.SellerCity}}, {{head.MuniNum}}-{{head.GridNum}}/{{head.HoldingNum}}</td>
    </tr>
    <tr>
        <td  class="fat">Styrende for avvirkning</td>
        <td>{{additionalFields.production}}</td>
    </tr>
</table>


<br>
<table class="max-width" border="0">
    <tr>
        <td colspan="2" class="header">            
            <hr width="100%">
        </td>
    </tr>
    {{#feltkontrollAvsluttet}}
    <tr>
        <td class="fat">{{alias}}</td>
        <td>{{value}}</td>
    </tr>
    {{/feltkontrollAvsluttet}}
</table>


</body>
</html>