<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
    color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border {
    border: 1px solid black;
}
#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<table width="80%"><tr><td colspan="3"> 

  {{#header}}
  <table width="100%">
    <tr>
      <td align="left" width="100px" style="vertical-align: top; padding-top: 20px;">
        <img width="100px" src="https://bitbucket.org/feltgis/feltgis-config/raw/master/rapporter/glommenmjosen/logo.png">
      </td>
      <td align="right" class="header" style="vertical-align: top; padding-top: 20px;">
        <b>Glommen Mjøsen Skog</b><br/>
            Grindalsvegen 3<br/>
            2406 Elverum
      </td>
      <td align="right" style="vertical-align: top;">
        <font size="20">{{title}}</font>
        {{#rows}}
          <h3>{{title}} {{value}}</h3>
        {{/rows}}
      </td>
    </tr>
  </table>
  {{/header}}

  {{#sections}}
    {{#fields}}
      <table class="mytable" width="90%" border="0">
        <tr class="tableheader">
          <td colspan="2"><b>{{title}}</b></td>            
        </tr> 
        {{#rows}}
          {{#rowHeader}}
            <tr>
              <td colspan="2"><b>{{rowHeader}}</b></td>
            </tr>
          {{/rowHeader}}
          {{^rowHeader}}
            <tr>
              <td width="50%">{{title}}</td>
              <td width="50%">{{value}}</td>
            </tr>
          {{/rowHeader}}
        {{/rows}}
        {{#emptyMessage}}
          {{^rows}}
            <tr><td colspan="2">{{emptyMessage}}</td></tr>
          {{/rows}}
        {{/emptyMessage}}
      </table>
      {{#footers}}
        {{.}}<br/>
      {{/footers}}
    {{/fields}}

    {{#table}}
      <table class="mytable" width="90%" border="0">
        {{#title}}
          <tr class="tableheader">
            <td width="50%" colspan="{{columns}}"><b>{{title}}</b></td>            
          </tr>
        {{/title}}
        <tr class="tableheader">
          {{#headers}}
            <td>{{title}}</td>
          {{/headers}}
        </tr>
        {{#rows}}
          <tr>
            {{#cells}}
              <td>{{.}}</td>
            {{/cells}}
          </tr>
        {{/rows}}
        {{#emptyMessage}}
          {{^rows}}
            <tr><td colspan="2">{{emptyMessage}}</td></tr>
          {{/rows}}
        {{/emptyMessage}}
      </table>
      {{#footers}}
        {{.}}<br/>
      {{/footers}}
    {{/table}}

    {{#image}}
      <table>
        <tr>
          <td align="center">
            <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/{{format}}{{^format}}jpg{{/format}};base64,{{b64}}" />
          </td>
        </tr>

        <tr>
          <td>
            <h3>
              {{comment}}
            </h3>
          </td>
        </tr>

        {{#links}}
        <tr>
          <td>
            <h3>
              <a href="{{href}}">{{title}}</a>
            </h3>
          </td>
        </tr>
        {{/links}}

      </table>
    {{/image}}

    {{#staticHtml}}
      {{placeholderKey}}
    {{/staticHtml}}

  {{/sections}}
</td></tr></table>
            
</body>
</html>
