<html>
<head>
    <meta charset="UTF-8">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
        }
        thead {
            background: lightgrey;
        }
        .headbg {
            background: lightgrey;
        }
        table {
            font-size: small;
            border-collapse: collapse;
        }
        .fat {
            font-weight: bold;
        }
        .bordered td {
            padding: 2px;
            border-color: black;
            border-style: solid;
            border-width: 0.1mm;
        }
        .bordered td td {
            border: none;
        }
        .max-width {
            width: 100%;
        }
        .center-content {
            text-align: center;
        }
        .left-content {
            text-align: left;
        }
        .text-center {
            text-align:center;
        }
        .header {
            font-size: x-large;
        }
        hr {
            border: none;
            height: 1pt;
            background: black;
        }
        .green {
            height: 50px;
            background: rgb(211, 243, 218);
            border-color: white;
            border-style: solid;
            border-width: 6px;
        }
    </style>

</head>
<body>

<table class="max-width">
    <tr>
        <td valign="top" width="10px">
            <img height="60px" src="https://bitbucket.org/feltgis/feltgis-config/raw/master/rapporter/glommenmjosen/logo.png">
        </td>
        <td valign="top" align="left">
            Hogstinstruks - {{head.SellerName}} {{head.MuniNum}}-{{head.GridNum}}/{{head.HoldingNum}}, opprettet {{signatureDate}}
        </td>
    </tr>
</table>




<br>
<table class="max-width">
    <tr>
        <td colspan="2" class="header">
            ID-opplysninger
            <hr width="100%">
        </td>
    </tr>
    <tr>
        <td width="150px" class="fat">Tømmermerke:</td>
        <td>{{head.OwnershipMark}}</td>
    </tr>
    <tr>
        <td width="150px" class="fat">Innkjøpsordrenummer:</td>
        <td>{{purchaseOrderNum}}</td>
    </tr>
    <tr>
        <td width="150px" class="fat">Entreprenørordrenummer:</td>
        <td>{{contractorOrderId}}</td>
    </tr>
    <tr>
        <td class="fat">Skogeier:</td>
        <td>{{head.SellerName}}</td>
    </tr>
    <tr>
        <td class="fat">Driftsansvarlig:</td>
        <td>{{additionalFields.productionResponsible}}</td>
    </tr>
    <tr>
        <td class="fat">Kontaktperson:</td>
        <td>{{head.BuyerName}}, tlf {{head.BuyerContactPhone}}</td>
    </tr>
    <tr>
        <td class="fat">Snøbrøyting:</td>
        <td>{{additionalFields.snowPlowingContact}} - {{additionalFields.snowPlowingPhone}}</td>
    </tr>
    <tr>
        <td class="fat">Eiendom (kommune, knr-gnr/bnr)</td>
        <td>{{head.SellerCity}}, {{head.MuniNum}}-{{head.GridNum}}/{{head.HoldingNum}}</td>
    </tr>
    <tr>
        <td class="fat">Styrende for avvirkning</td>
        <td>{{additionalFields.production}}</td>
    </tr>
</table>


<br>
<table class="max-width">
    <tr>
        <td class="header">Plan</td>
    </tr>
</table>
<table class="max-width bordered">
    <thead>
        <td>Teignavn/nr</td>        
        <td>Areal (daa)</td>        
        <td>Hogstform</td>        
        <td>Frøtrestilling</td>        
        <td>Antall frøtrær/da</td>        
        <td>Noen frøtrær er livsløpstrær</td>        
    </thead>
    {{#features}}

    <tr>
        <td>{{attributes.name}}/{{attributes.teignr}}</td>   
        <td>{{geometry._area_rounded1}}</td>
        
        {{#showFrøtrær}}<td>{{/showFrøtrær}}
        {{^showFrøtrær}}<td colspan="4">{{/showFrøtrær}}
        
        {{attributes.hogstform}}
            {{#attributes.type_hogst}}, {{attributes.type_hogst}}{{/attributes.type_hogst}}        
            {{#attributes.type_lukket_hogst}}: {{attributes.type_lukket_hogst}}{{/attributes.type_lukket_hogst}}</td>

        {{#showFrøtrær}}
        <td>{{attributes.frotrestilling_Boolean}}</td>
        <td>{{attributes.seedTreesPerDaa}}</td>
        <td>{{attributes.seedTrees_Boolean}}</td>
        {{/showFrøtrær}}
    </tr>

    {{/features}}
    
</table>
Hogstkvantum: {{totalVolume}} m3



<br><br>
<table class="max-width bordered">
    <thead>
        <td>Sortiment</td>
        <td>Kontraktsvolum</td>
        <td>Apteringsinformasjon</td>        
    </thead>
    {{#priceListTable}}
    <tr>
        <td>{{AssNum}} - {{AssName}}</td>
        <td>{{Volume}}</td>
        <td>{{Comment}}</td>        
    </tr>
    {{/priceListTable}}
</table>


<br>
<span class="header">FØRINGER</span>
<br>
{{contractorOrder.order.message}}

<br><br>
<table width="100%" class="bordered">
    <thead class="text-center">
        <td>Miljø/hensyn</td>
        <td>Merknad</td>
    </thead>

    {{#miljoSections}}
    {{#rows}}
    <tr>
        <td class="headbg">{{question}}</td>
        <td>{{answer}}</td>        
    </tr>
    {{/rows}}
    {{/miljoSections}}
</table>


<br><br>
<p style="page-break-before: always">
<table class="max-width" border="0">
    <tr>
        <td class="header">Kartutsnitt<hr width="100%"></td>
    </tr>
    {{#mapImages}}
    <tr>
        <td align="center" colspan="2">
            <img style="height: 700px;" src="{{image}}"><br>{{comment}}
        </td>        
    </tr>
    {{/mapImages}}
</table>



</body>
</html>