<html>
<head>
    <meta charset="UTF-8">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            min-height: 300vh;
            position: relative;
            margin: 0;
        }
        thead {
            background: lightgrey;
        }
        .headbg {
            background: lightgrey;
        }
        table {
            font-size: smaller;
            border-collapse: collapse;
        }
        .bordered td {
            padding: 2px;
            border-color: black;
            border-style: solid;
            border-width: 0.1mm;
        }
        .bordered td td {
            border: none;
        }
        .max-width {
            width: 100%;
        }
        .center-content {
            text-align: center;
        }
        .left-content {
            text-align: left;
        }
        .text-center {
            text-align:center;
        }

        .terms {
            columns: 2;
            font-size: 80%;
        }

        .terms > ol.defs {
            counter-reset: defs-counter;
            margin-bottom: 1em;
        }
        .terms > ol.defs > li {
            counter-increment: defs-counter;
            list-style: none;
            font-weight: normal;
            margin-bottom: 0.2em;
        }
        .terms > ol.defs > li:before {
            content: counter(defs-counter, lower-alpha) ") ";
        }
        
        .terms ol {
            list-style-type: none;
            counter-reset: term-counter;
            margin: 0;
            padding: 0;
        }
        .terms ol > li {
            display: table;
            counter-increment: term-counter;
            margin-bottom: 1em;
            font-weight: bold;
        }
        .terms ol > li > ol {
            -webkit-column-break-before: avoid;
        }
        .terms ol > li:before {
            content: counters(term-counter, ".") ". ";
            display: table-cell;
            padding-right: 0.6em;    
        }
        .terms li ol > li {
            margin: 0.1em 0 0.2em 0;
            font-weight: normal;
        }
        .terms li ol > li:before {
            content: counters(term-counter, ".") " ";
        }

        {{#watermark}}
        body:before {
          content: "";
          position: absolute;
          z-index: 9999;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: 
            url('data:image/svg+xml;utf8,<svg style="transform:rotate(-45deg)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 60"><text x="10" y="25" fill="%23900" fill-opacity="0.10">{{watermark}}</text></svg>') 
            0 0/100% 100vh;
        }
        {{/watermark}}
    </style>

</head>
<body>

<table class="max-width">
    <tr>
        <td valign="top"><img height="60px" src="https://bitbucket.org/feltgis/feltgis-config/raw/master/rapporter/glommenmjosen/logo.png"></td>
    </tr>
    <tr>
        <td colspan="2" class="center-content">
            <h2>{{title}}</h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            Mellom
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            <table class="bordered max-width">
                <tr>
                    <td width="50%" valign="top">
                        <table>
                            <tr>
                                <td>Org. nr</td>
                                <td>:</td>
                                <td>{{head.SellerOrgNum}}</td>
                            </tr>
                            <tr>
                                <td>Tømmermerke</td>
                                <td>:</td>
                                <td>{{head.OwnershipMark}}</td>
                            </tr>
                            <tr valign="top">
                                <td>Selger</td>
                                <td>:</td>
                                <td>
                                    {{head.SellerName}}
                                    
                                    <br>{{head.SellerAddress}}
                                    
                                    {{#additionalFields.address2}}                                    
                                    <br>{{additionalFields.address2}}
                                    {{/additionalFields.address2}}
                                    
                                    <br>{{head.SellerZipCode}} {{head.SellerCity}}
                                </td>
                            </tr>
                            <tr>
                                <td>Bankkto</td>
                                <td>:</td>
                                <td>{{additionalFields.sellerBankAccount}}</td>
                            </tr>
                            <tr>
                                <td>E-post</td>
                                <td>:</td>
                                <td>{{head.SellerContactEMail}}</td>
                            </tr>
                            <tr>
                                <td>Innkjøpsordrenummer</td>
                                <td>:</td>
                                <td>{{purchaseOrderNum}}</td>
                            </tr>
                            <tr>
                                <td>Driftsansvarlig:</td>
                                <td>:</td>
                                <td>{{additionalFields.productionResponsible}}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%" valign="top">
                        <table >
                            <tr valign="top">
                                <td>Kjøper</td>
                                <td>:</td>
                                <td>Glommen Mjøsen Skog<br>Grindalsvegen 3<br>2406 Elverum</td>
                            </tr>
                            <tr>
                                <td>Internett</td>
                                <td>:</td>
                                <td>www.glommen-mjosen.no</td>
                            </tr>
                            <tr>
                                <td>Org. nr</td>
                                <td>:</td>
                                <td>{{head.BuyerOrgNum}}</td>
                            </tr>
                            <tr>
                                <td>Kontaktperson</td>
                                <td>:</td>
                                <td>{{head.BuyerContactName}}, tlf {{head.BuyerContactPhone}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="100px" colspan="2" align="left" valign="bottom">
            <h1>Omfang</h1>
            <hr style="height:1px;border-width:0;color:black">
        </td>
    </tr>
    <tr>
        <td height="100px" colspan="2" align="left">

            <h3>{{title}}</h3>
            <h3>Sertifiseringsavtale</h3>
            <h3>Vedlegg: Betingelser, virkessalg</h3>
        </td>
    </tr>
{{^watermark}}
    <tr>
        <td colspan="2">
            Dato: {{signatureDate}}
        </td>
    </tr>
    <tr>
        <td height="500px">
            ______________________________<br>
            Selger
        </td>
        <td>
            ______________________________<br>
            Kjøper
        </td>
    </tr>
{{/watermark}}
</table>








<!-- NEW PAGE -->






<p style="page-break-before: always">


<table width="100%" class="bordered">
    <thead>
        <td>Kommune (navn/nummer)</td>
        <td>Hovednr</td>
        <td>Skogfond %</td>
        <td>Driftspris</td>
        <td>Hentested</td>
        <td>Styrende for avvirkn.</td>
    </thead>
    <tr>
        <td>{{head.MuniName}}/{{head.MuniNum}}</td>
        <td>Gnr {{head.GridNum}}, bnr {{head.HoldingNum}}</td>
        <td>{{head.ForestryFundPercentage}}</td>
        <td>{{head.OperationCost}}</td>
        <td>{{pickupLocationName}}</td>
        <td>{{additionalFields.production}}</td>
    </tr>
</table>
<br>
<table width="100%" class="bordered">
    <thead>
        <td>Teignavn/nr</td>
        <td>Hogstform</td>
        <td>Bestand nr</td>
        <td>Areal</td>        
        <td>Foryngelsesmetode</td>
        <td>Kommentar</td>
    </thead>
    {{#features}}
    <tr>
        <td>{{attributes.name}}/{{attributes.teignr}}</td>
        <td>{{attributes.hogstform}}
            {{#attributes.type_hogst}}, {{attributes.type_hogst}}{{/attributes.type_hogst}}        
            {{#attributes.type_lukket_hogst}}: {{attributes.type_lukket_hogst}}{{/attributes.type_lukket_hogst}}</td>
        <td>{{attributes.bestandnr}}</td>
        <td>{{geometry._area_rounded1}}da</td>        
        <td>{{attributes.foryngelsesmetode}}</td>
        <td>{{attributes.forestOwnerComment}}</td>
    </tr>
    {{/features}}
</table>
<br>
<table width="100%" class="bordered text-center">
    <thead>
        <td>Annet vedr. driftsavtale</td>
        <td>Ansvarlig gjennomføring</td>
        <td>Kostnad belastes</td>
        <td>Frist gjennomføring, mnr. år</td>
    </thead>
    <tr>
        <td class="headbg left-content">Snøbrøyting/grusing</td>
        <td>{{additionalFields.snowPlowingResponsible}}{{#additionalFields.snowPlowingContact}}, kontaktperson: {{additionalFields.snowPlowingContact}}{{/additionalFields.snowPlowingContact}}{{#additionalFields.snowPlowingPhone}}, tlf: {{additionalFields.snowPlowingPhone}}{{/additionalFields.snowPlowingPhone}}</td>
        <td>{{additionalFields.snowPlowingBilling}}</td>
        <td>{{additionalFields.snowPlowingDamageDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Oppretting av sporskader terreng</td>
        <td>{{additionalFields.terrainTrackDamageResponsible}}</td>
        <td>{{additionalFields.terrainTrackDamageBilling}}</td>
        <td>{{additionalFields.terrainTrackDamageDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Oppretting av sporskader vei</td>
        <td>{{additionalFields.roadTrackDamageResponsible}}</td>
        <td>{{additionalFields.roadTrackDamageBilling}}</td>
        <td>{{additionalFields.roadTrackDamageDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Grøfterensk</td>
        <td>{{additionalFields.trenchClearingResponsible}}</td>
        <td>{{additionalFields.trenchClearingBilling}}</td>
        <td>{{additionalFields.trenchClearingDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Arbeidsvarsling/skiltplan</td>
        <td>{{additionalFields.signPlanResponsible}}</td>
        <td>{{additionalFields.signPlanBilling}}</td>
        <td>{{additionalFields.signPlanDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Varsling e-verk/televerk</td>
        <td>{{additionalFields.powerplantCoordinationResponsible}}</td>
        <td>{{additionalFields.powerplantCoordinationBilling}}</td>
        <td>{{additionalFields.powerplantCoordinationDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Fremkjørtmelding</td>
        <td>{{additionalFields.forwardedResponsible}}</td>
        <td>{{additionalFields.forwardedBilling}}</td>
        <td>{{additionalFields.forwardedDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Planlegging av drift/sjekk av miljøinfo</td>
        <td>{{additionalFields.environmentReportResponsible}}</td>
        <td>{{additionalFields.environmentReportBilling}}</td>
        <td>{{additionalFields.environmentReportDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Kontakt med naboer vedrørende forhold som må avklares</td>
        <td>{{additionalFields.neighborCoordinationResponsible}}</td>
        <td>{{additionalFields.neighborCoordinationBilling}}</td>
        <td>{{additionalFields.neighborCoordinationDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Merking av virke</td>
        <td>{{additionalFields.woodMarkingResponsible}}</td>
        <td>{{additionalFields.woodMarkingBilling}}</td>
        <td>{{additionalFields.woodMarkingDate}}</td>
    </tr>
</table>
<br>
<table width="100%" class="bordered">
    <thead class="text-center">
        <td>Miljø/hensyn</td>
        <td>Merknad</td>
    </thead>

    {{#miljoSections}}
    {{#rows}}
    <tr>
        <td class="headbg">{{question}}</td>
        <td>{{answer}}</td>        
    </tr>
    {{/rows}}
    {{/miljoSections}}
</table>

<br>
<table width="100%" class="bordered">
    <thead>
    <td>Sort nr</td>
    <td>Sort navn</td>
    <td>Pris pr. fm³ ub</td>
    <td>Prisliste nr</td>
    <td>Volum fm³ ub</td>
    <td colspan="{{priceListTableMonthsLength}}">
        <table cellpadding="0" cellspacing="0"  width="100%">
            <tr>
                <td colspan="4">Estimert leveringstermin, kvantum m³ per mnd</td>
            </tr>
            <tr>
                {{#priceListTableMonths}}
                <td>{{.}}</td>
                {{/priceListTableMonths}}
            </tr>
        </table>
    </td>
    </thead>
    {{#priceListTable}}
    <tr>
        <td>{{AssNum}}</td>
        <td>{{AssName}}</td>
        <td>{{Price}}</td>
        <td>{{PriceList}}</td>
        <td>{{Volume}}</td>
        {{#Months}}
        <td>{{VolumeStr}}</td>
        {{/Months}}
    </tr>
    {{/priceListTable}}
    <tr>
        <td colspan="4" align="rightfeaturesArea">Volum i m³ totalt</td>
        <td>{{priceListTotalSum}}</td>
        {{#priceListSumPerMonth}}
        <td>{{.}}</td>
        {{/priceListSumPerMonth}}
    </tr>
</table>
<br>
{{priceListTableAsterixText}}
Virket avregnes og utbetales skogeier på grunnlag av gjeldende priser i markedet ved innmålingsdato.<br>
Oppgjørsgrunnlag er volum- og verdiberegning på grunnlag av volum oppgitt i målekvitteringer.<br><br>

<table width="100%" class="bordered" style="height: 100px">
<tr>
    <td style="vertical-align: top; white-space: pre-wrap;">
        <br>Merknad:
        <br>{{additionalFields.messageToForestOwner}}
        {{#isAreaCohesiveProductiveAreaSet}}
        </br>Skogeier formidler landskapsplan for oppstart av drift.
        {{/isAreaCohesiveProductiveAreaSet}}
    </td>    
</tr>
</table>











<!-- NEW PAGE -->


<p style="page-break-before: always">

<table width="100%" cellpadding="1" cellspacing="0">
    <tr>
        <td valign="top"><img height="60px" src="https://www.glommen-mjosen.no/Static/img/logo-glommen-mjosen-skog-square-green.svg"></td>
    </tr>
    <tr>
        <td colspan="2"><h1>{{title}} - Kart</h1></td>
    </tr>
    {{#mapImages}}
    <tr>
        <td align="center" colspan="2">
            <img style="height: 700px;" src="{{image}}">
            <br>{{comment}}
        </td>
    </tr>
    {{/mapImages}}
</table>


</body>
</html>