<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>
<style type="text/css"> * {margin:0; padding:0; text-indent:0; }
 h1 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .p, p { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; margin:0pt; }
 .s2 { color: #0462C1; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s3 { color: #0462C1; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 11pt; }
 .s4 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .s5 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s6 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .s7 { color: #528135; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .s8 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 11pt; }
 .s9 { color: #F00; font-family:Calibri, sans-serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 11pt; }
 li {display: block; }
 #l1 {padding-left: 0pt; }
 #l1> li>*:first-child:before {content: " "; color: black; font-family:Symbol, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 table, tbody {vertical-align: top; overflow: visible; }
</style>
<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
	color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    

.border {
    border: 1px solid black;
}

#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

</style>


{{#language_is_norsk}}

<table width="100%">
    <tr>
        <td align="left" width="150px" style="vertical-align: top; padding-top: 20px;">
            <img width="150px" src="https://img.feltgis.no/valdresskog.png">
        </td>
        <td width="200px" align="left" class="header" style="vertical-align: top; padding-top: 20px;">
            <b>Valdres Skog AS</b><br/>
            Austsidevegen 30<br/>
            2930 Bagn<br/>
            
            
        </td>
        <td>
            <font size="7">Arbeidsordre {{_type}}</font>
        </td>
    </tr>
    <tr>
        <td align="right" style="vertical-align: top;" colspan="3">            
            <h3>
                Dato: {{now}}<br>
                Planlegger: {{plannerContactName}}, tlf: {{plannerContactPhone}}<br>
                Oppdragsnummer: {{_job_nr}}
            </h3>
        </td>
    </tr>
</table>



<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Oppdragsinformasjon</b></td>            
      <td></td>
  </tr>  
  <tr><td>Navn på skogeier</td><td>{{forestOwnerName}}</td></tr>
  <tr><td>Skogeier e-post</td><td>{{forestOwnerEmail}}</td></tr>
  <tr><td>Leverandørnummer</td><td>{{levNr}}</td></tr>
  <tr><td>Kommune</td><td>{{muniName}}</td></tr>        
  <tr><td>Komnr-Gnr/bnr</td><td>{{muniNum}}-{{gridNum}}/{{holdingNum}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
</table>
  


{{#VSPForhandsryddingGeomForhåndsrydding}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2"><b>Tiltak: Forhandsrydding {{_title}}</b></td>                  
  </tr>  

  {{#bestand_str}}
  <tr><td><b>Bestandsnummer</b></td><td><b>{{bestand_str}}</b></td></tr>  
  {{/bestand_str}}

  {{#road_dist}}
  <tr><td>Avstand fra parkeringsplass</td><td>{{road_dist}}</td></tr>  
  {{/road_dist}}
    
  {{#delivery_place}}
  <tr><td>Leveringssted ved salg av planter</td><td>{{delivery_place}}</td></tr>
  {{/delivery_place}}
  
  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}


  <tr><td>Teignavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
  <tr><td>Høyde over havet</td><td>{{elevation}} m</td></tr>
  {{#keys}}
  <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>
  {{/keys}}

  {{#price_model}}<tr><td>Prismodell</td><td>{{price_model}}</td></tr>{{/price_model}}
  <tr><td>Kommentarer til tiltaket</td><td>{{comment}}</td></tr>


</table>
{{/VSPForhandsryddingGeomForhåndsrydding}}

      
   
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-top: 2pt;padding-left: 40pt;text-indent: 0pt;text-align: left;">GENERELT</h1>
<p class="s3" style="padding-top: 2pt;padding-left: 40pt;text-indent: 0pt;line-height: 121%;text-align: left;"><span class="p">All utført forhåndsrydding skal ha en tilfredsstillende kvalitet og bevare eventuelle miljøverdier i henhold til </span><a href="https://norskog.no/tjenester/sertifisering/sertifisering-av-skog/" style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;" target="_blank">ISO 14001 </a>Norsk PEFC skogstandard.<span class="s2"> </span><a href="http://www.fsc.org/" style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;" target="_blank">(FSC®-C103857) </a>FSC®.</p>
<p style="padding-top: 5pt;padding-left: 40pt;text-indent: 0pt;line-height: 120%;text-align: left;">Alle arbeidere skal gjøre seg kjent med forhåndsryddingsinstruksen, plankart og arbeidsordre før oppstart.</p>
<p style="padding-left: 40pt;text-indent: 0pt;line-height: 120%;text-align: left;">Hvor det opererer flere arbeidere sammen skal arbeidsleder fordele bestandet innad i gruppen. Arbeidsleder har ansvaret for at instruksen er lest og forstått av de resterende på laget.</p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">MILJØKRAV OG UTFØRELSE:</h1>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<table style="border-collapse:collapse;margin-left:5.41pt" cellspacing="0">
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 61pt;text-indent: 0pt;text-align: left;">Beskrivelse</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 65pt;padding-right: 64pt;text-indent: 0pt;line-height: 13pt;text-align: center;">Karttegn</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 59pt;padding-right: 58pt;text-indent: 0pt;text-align: center;">Avstand</p>
      </td>
   </tr>
   <tr style="height:41pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Veigrøfter, grøft og mindre bekk uten helårs vannføring</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p style="text-indent: 0pt;text-align: left;"><br/></p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;">1 meter fra grøft/bekk til trær som spares. Holdes fri for</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">nedfelte trær.</p>
      </td>
   </tr>
   <tr style="height:27pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Merket sti/skiløype, sti historielag</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 14pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Stiplet linje og kommentar i kart</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Holdes fri for nedfelte trær i</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">eksisterende bredde.</p>
      </td>
   </tr>
   <tr style="height:15pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Ikke merket sti og vei</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 14pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Stiplet linje og kommentar i kart</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Angis i tekst i PO-skjema og kart</p>
      </td>
   </tr>
   <tr style="height:27pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Skogsbilvei/offentlig vei</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p style="text-indent: 0pt;text-align: left;"><br/></p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">4 meter fra veiskulder til trær</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">som spares i bestandet</p>
      </td>
   </tr>
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Kantsone bekk</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s7" style="padding-left: 42pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Grønn hel strek</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">5 meter</p>
      </td>
   </tr>
   <tr style="height:41pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Kulturminner/kulturmiljøer</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 42pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Symboler og tekst</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;">5 meter fra ytre synlige kant, ved noen tilfeller ryddes disse helt</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">frem, vil bli spesifisert i kart</p>
      </td>
   </tr>
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Kantsone elv, myr og vann</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s7" style="padding-left: 13pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Grønn hel strek/skravert område</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">10-25 meter</p>
      </td>
   </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">GENERELLE KRAVPUNKTER TIL FORHÅNDSRYDDING:</h1>
<ul id="l1">
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">ROS-arter, beita furu og eik og einer skal spares til viltet i luker og mellom trær i bestandet, avstand fra gjenstående trær 1-1,5m.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Skal strebes etter så lav stubbehøyde som mulig.</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Andre spesielle hensyn ved forhåndsrydding legges som beskrivelse i arbeidsordre/kart.</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Hassel skjæres alltid ned.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p class="s8" style="padding-left: 40pt;text-indent: 0pt;text-align: left;">Slutthogst</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Alt under 8-10cm skjæres ned, utenom vilthensynene og annen mindre undervegetasjon i åpninger, som ikke er i veien for hogst.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p class="s8" style="padding-left: 40pt;text-indent: 0pt;text-align: left;">Tynning</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Kun trær som er i veien for utførelse av tynning under 8-10cm i diameter skjæres ned, utenom vilthensynene.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 5pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Fuktdrag spares hvis ikke annen beskjed er gitt. I enkelte tilfeller ønskes disse regulert, vil spesifiseres i arbeidsordre/kart.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">PÅBUDT VERNEUTSTYR OG SIKKERHET:</h1>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Godkjent hjelm påmontert godkjent hørselvern og visir/vernebriller ved trehøyde over 2m</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Ved trehøyde under 2m er kun hørsels- og øyevern påbudt</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Fottøy med godt gripmønster</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Signalfarget jakke/refleksvest</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Enkeltmannspakke og/eller førstehjelpskrin tilgjengelig på arbeidsstedet</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Ved bruk av motorsag skal godkjent vernebukse og annet påbudt verneutstyr alltid brukes</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 120%;text-align: left;">Ved arbeid hvor to eller flere arbeider i samme område/bestand må sikker avstand mellom arbeiderne opprettholdes; ryddesag sikkerhetsavstand 30 m og to trelengder for motorsag</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Arbeidsleder har ansvaret for å fordele feltet mellom arbeiderne slik at sikkerhetsavstanden er umulig å bryte.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 120%;text-align: left;">Dersom skogsarbeiderne har behov for kommunikasjon med andre i arbeidsfeltet skal det brukes sikringsradio/mobil eller at det skapes oppmerksomhet før en går nærmere enn sikkerhetsavstanden</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">90m sikkerhetsavstand til skogsmaskiner ved forhåndsrydding under påbegynt skogsdrift. Løpende kommunikasjon med maskinførerne påbudt.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Ved snø/is/glatt føre: vurder behov for brodder/pigger på verneskoene</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Alenearbeid: Hver og en er ansvarlig for sin egen sikkerhet og må alltid passe på å ha tilgjengelig kommunikasjonsmiddel ved arbeid alene slik at det enkelt kan varsles ved uhell<span class="s9">.</span></p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Tilfredsstillende kommunikasjonsmiddel (telefon/sikringsradio)</p>
   </li>
</ul>


{{/language_is_norsk}}

{{#language_is_engelsk}}

<table width="100%">
    <tr>
        <td align="left" width="150px" style="vertical-align: top; padding-top: 20px;">
            <img width="150px" src="https://img.feltgis.no/valdresskog.png">
        </td>
        <td width="200px" align="left" class="header" style="vertical-align: top; padding-top: 20px;">
            <b>Valdres Skog AS</b><br/>
            Austsidevegen 30<br/>
            2930 Bagn<br/>
        </td>
        <td>
            <font size="7">Work order {{_type}}</font>
        </td>
    </tr>
    <tr>
        <td align="right" style="vertical-align: top;" colspan="3">            
            <h3>
                Date: {{now}}<br>
                Planner: {{plannerContactName}}, Phone: {{plannerContactPhone}}<br>
                Job number: {{_job_nr}}
            </h3>
        </td>
    </tr>
</table>




<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Assignment Information</b></td>            
      <td></td>
  </tr>  
  <tr><td>Forest Owner's Name</td><td>{{forestOwnerName}}</td></tr>
  <tr><td>Forest Owner's Email</td><td>{{forestOwnerEmail}}</td></tr>
  <tr><td>Supplier Number</td><td>{{levNr}}</td></tr>
  <tr><td>Municipality</td><td>{{muniName}}</td></tr>        
  <tr><td>Municipality Number-Parcel/Farm Number</td><td>{{muniNum}}-{{gridNum}}/{{holdingNum}}</td></tr>
  <tr><td>Area</td><td>{{area}} hectares</td></tr>
</table>
  


{{#VSPForhandsryddingGeomForhåndsrydding}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2"><b>Action: Pre-cleaning {{_title}}</b></td>                  
  </tr>  

  <tr><td>Job Number</td><td>{{_job_nr}}</td></tr>  
  <tr><td>Desired Time</td><td>{{start}}</td></tr>  
  <tr><td>Distance from Parking</td><td>{{road_dist}}</td></tr>  
    
  {{#delivery_place}}
  <tr><td>Delivery Location for Plant Sales</td><td>{{delivery_place}}</td></tr>
  {{/delivery_place}}
  
  <tr><td>Does the Action Affect Biologically Important Area?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Note: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Does the Action Affect Known Cultural Heritage?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Note: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Does the Action Affect Important Recreational Values?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Note: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Buffer Zone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Note: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}


  <tr><td>Stand Number</td><td>{{bestand_str}}</td></tr>  
  <tr><td>Parcel Name</td><td>{{teignavn}}</td></tr>
  <tr><td>Parcel Number</td><td>{{teignr}}</td></tr>
  <tr><td>Area</td><td>{{area}} hectares</td></tr>
  <tr><td>Elevation</td><td>{{elevation}} m</td></tr>
  <tr><td>Bomveg Comment</td><td>{{keys}}</td></tr>

  <tr><td>Comments on Action</td><td>{{comment}}</td></tr>


</table>
{{/VSPForhandsryddingGeomForhåndsrydding}}

      
   
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-top: 2pt;padding-left: 40pt;text-indent: 0pt;text-align: left;">GENERAL</h1>
<p class="s3" style="padding-top: 2pt;padding-left: 40pt;text-indent: 0pt;line-height: 121%;text-align: left;"><span class="p">All pre-clearance work must be of satisfactory quality and preserve any environmental values in accordance with </span><a href="https://norskog.no/tjenester/sertifisering/sertifisering-av-skog/" style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;" target="_blank">ISO 14001 </a>Norwegian PEFC forest standard.<span class="s2"> </span><a href="http://www.fsc.org/" style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;" target="_blank">(FSC®-C103857) </a>FSC®.</p>
<p style="padding-top: 5pt;padding-left: 40pt;text-indent: 0pt;line-height: 120%;text-align: left;">All workers must familiarize themselves with the pre-clearance instructions, map, and work order before starting.</p>
<p style="padding-left: 40pt;text-indent: 0pt;line-height: 120%;text-align: left;">Where multiple workers are operating together, the work leader shall distribute the stand within the group. The work leader is responsible for ensuring that the instructions are read and understood by the rest of the team.</p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">ENVIRONMENTAL REQUIREMENTS AND EXECUTION:</h1>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<table style="border-collapse:collapse;margin-left:5.41pt" cellspacing="0">
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 61pt;text-indent: 0pt;text-align: left;">Description</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 65pt;padding-right: 64pt;text-indent: 0pt;line-height: 13pt;text-align: center;">Map Symbol</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 59pt;padding-right: 58pt;text-indent: 0pt;text-align: center;">Distance</p>
      </td>
   </tr>
   <tr style="height:41pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Road ditches, ditch and smaller stream without year-round water flow</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p style="text-indent: 0pt;text-align: left;"><br/></p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;">1 meter from ditch/stream to trees that are spared. Kept free from</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">felled trees.</p>
      </td>
   </tr>
   <tr style="height:27pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Marked trail/ski track, trail historical society</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 14pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Dotted line and comment in map</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Kept free from felled trees in</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">existing width.</p>
      </td>
   </tr>
   <tr style="height:15pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Unmarked trail and road</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 14pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Dotted line and comment in map</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Specified in text in PO-form and map</p>
      </td>
   </tr>
   <tr style="height:27pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Forest road/public road</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p style="text-indent: 0pt;text-align: left;"><br/></p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">4 meters from the road shoulder to trees</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">that are spared in the stand</p>
      </td>
   </tr>
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Riparian zone stream</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s7" style="padding-left: 42pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Green solid line</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">5 meters</p>
      </td>
   </tr>
   <tr style="height:41pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Cultural heritage sites/cultural environments</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 42pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Symbols and text</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;">5 meters from the outer visible edge, in some cases these are completely cleared, will be specified in map</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;"></p>
      </td>
   </tr>
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Riparian zone river, swamp, and water</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s7" style="padding-left: 13pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Green solid line/shaded area</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">10-25 meters</p>
      </td>
   </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">GENERAL REQUIREMENTS FOR PRE-CLEARANCE:</h1>
<ul id="l1">
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">ROS-species, grazed pine and oak, and juniper should be spared for wildlife in openings and between trees in the stand, distance from remaining trees 1-1.5m.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Efforts should be made to have as low a stump height as possible.</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Other special considerations in pre-clearance should be described in the work order/map.</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Hazel is always cut down.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p class="s8" style="padding-left: 40pt;text-indent: 0pt;text-align: left;">Final felling</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Everything under 8-10cm is cut down, except for wildlife considerations and other minor undervegetation in openings, which does not interfere with logging.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p class="s8" style="padding-left: 40pt;text-indent: 0pt;text-align: left;">Thinning</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Only trees that interfere with the execution of thinning under 8-10cm in diameter are cut down, except for wildlife considerations.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 5pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Moisture tracks are spared unless otherwise instructed. In some cases, these are desired to be regulated, will be specified in work order/map.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">MANDATORY SAFETY EQUIPMENT AND SAFETY:</h1>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Approved helmet with approved hearing protection and visor/safety glasses for tree height over 2m</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">For tree height under 2m, only hearing and eye protection is mandatory</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Footwear with good tread pattern</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Signal colored jacket/reflective vest</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Individual first aid kit and/or first aid kit available at the workplace</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">When using a chainsaw, approved protective trousers and other mandatory safety equipment must always be used</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 120%;text-align: left;">When working where two or more are working in the same area/stand, a safe distance between the workers must be maintained; brush cutter safety distance 30 m and two tree lengths for chainsaw</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">The work leader is responsible for distributing the field among the workers so that the safety distance is impossible to breach.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 120%;text-align: left;">If forest workers need to communicate with others in the work field, safety radio/mobile phone should be used, or attention should be created before going closer than the safety distance</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">90m safety distance to forestry machines during pre-clearance under started forestry operations. Continuous communication with the machine operators required.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">On snow/ice/slippery conditions: assess the need for spikes/studs on safety shoes</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Solo work: Each individual is responsible for their own safety and must always ensure to have available means of communication when working alone so that it is easy to alert in case of an accident.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Satisfactory means of communication (phone/safety radio)</p>
   </li>
</ul>

{{/language_is_engelsk}}


</body>
</html>
