<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
    color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border {
    border: 1px solid black;
}
#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<table width="80%"><tr><td colspan="3">    
    <table width="100%">
        <tr>
            <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
                <img width="300px" src="https://img.feltgis.no/valdresskog.png">
            </td>
        <td align="right" class="header" style="vertical-align: top">
            Austsidevegen 30<br/>
            2930 Bagn<br/>
            Tlf.: 99287000<br/>
            
            Org. nr: NO 912493350 MVA <br/>
        </td>
            <td align="right" style="vertical-align: top;">
                <font size="20">Faktureringsgrunnlag {{jobType}}</font>
                <h3>Endret {{order._modified_Date}}</h3>
                <h4>Endret av: {{order._modifiedBy}}</h4>
                <h4>Ordrenummer: {{_job_nr}}</h4>
            </td>
        </tr>
    </table>



{{#hasorder}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="50%"><b>Oppdragsinformasjon</b></td>            
      <td></td>
  </tr>  
  <tr><td>Navn på skogeier</td><td>{{order.forestOwnerName}}</td></tr>
  <tr><td>Skogeier e-post</td><td>{{order.forestOwnerEmail}}</td></tr>
  <tr><td>Leverandørnummer</td><td>{{order.levNr}}</td></tr>
  <tr><td>Kommune</td><td>{{order.muniName}}</td></tr>        
  <tr><td>Komnr-Gnr/bnr</td><td>{{order.muniNum}}-{{order.gridNum}}/{{order.holdingNum}}</td></tr>  
  <tr><td>Entreprenør</td><td>{{_workTeamOrgNum}}</td></tr>
  <tr><td>Areal planlagte tiltak</td><td>{{plannedArea}} daa</td></tr>
  {{#performedArea}}
  <tr><td>Areal utførte tiltak</td><td>{{performedArea}} daa</td></tr>
  <tr><td>Høyde over havet</td><td>{{performedElevation}}</td></tr>
  {{/performedArea}}
</table>
{{/hasorder}}   





{{#hasVSSluttrapportPlanting}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>            
      <td></td>
  </tr>  
  <tr><td>Dato</td><td>{{VSSluttrapportPlanting._modified_Date}}</td></tr>
  <tr><td>Ansvarlig planting</td><td>{{VSSluttrapportPlanting.responsible}}</td></tr>
  <tr><td>Merknad</td><td>{{VSSluttrapportPlanting.dev_comment}}</td></tr>
  

{{#VSSluttrapportPlanting.planttype1}}  
  <tr>
    <td>Antall planter {{VSSluttrapportPlanting.planttype1}}</td>
    <td>{{VSSluttrapportPlanting.planttype1count}}</td>
  </tr>  
{{/VSSluttrapportPlanting.planttype1}}

{{#VSSluttrapportPlanting.planttype2}}  
  <tr>
    <td>Antall planter {{VSSluttrapportPlanting.planttype2}}</td>
    <td>{{VSSluttrapportPlanting.planttype2count}}</td>
  </tr>  
{{/VSSluttrapportPlanting.planttype2}}

{{#VSSluttrapportPlanting.planttype3}}  
  <tr>
    <td>Antall planter {{VSSluttrapportPlanting.planttype3}}</td>
    <td>{{VSSluttrapportPlanting.planttype3count}}</td>
  </tr>  
{{/VSSluttrapportPlanting.planttype3}}

{{#VSSluttrapportPlanting.planttype4}}  
  <tr>
    <td>Antall planter {{VSSluttrapportPlanting.planttype4}}</td>
    <td>{{VSSluttrapportPlanting.planttype4count}}</td>
  </tr>  
{{/VSSluttrapportPlanting.planttype4}}


</table>
{{/hasAISluttrapportPlanting}}   


        
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


</td></tr></table>
        
        
</body>
</html>
