<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
	color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    

.border {
    border: 1px solid black;
}

#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

</style>



<table width="100%">
    <tr>
        <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
            <img width="300px" src="https://nt.feltgis.no/nt-logo-stor.jpg">
        </td>
        <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">
            <b>NORTØMMER AS</b><br/>
            Jegerstien 18<br/>
            2406 ELVERUM<br/>
            Tlf.: 87654321<br/>
            post@nortommer.no<br/>
        </td>
        <td>
            <font size="20">Arbeidsordre {{_type}}</font>
        </td>
    </tr>
    <tr>
        <td align="right" style="vertical-align: top;" colspan="3">            
            <h3>
                Dato: {{now}}<br>
                Planlegger: {{plannerContactName}}, tlf: {{plannerContactPhone}}<br>
                Oppdragsnummer: {{_job_nr}}
            </h3>
        </td>
    </tr>
</table>



<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Oppdragsinformasjon</b></td>            
      <td></td>
  </tr>  
  <tr><td>Navn på skogeier</td><td>{{forestOwnerName}}</td></tr>
  <tr><td>Skogeier e-post</td><td>{{forestOwnerEmail}}</td></tr>
  <tr><td>Leverandørnummer</td><td>{{levNr}}</td></tr>
  <tr><td>Kommune</td><td>{{muniName}}</td></tr>        
  <tr><td>Komnr-Gnr/bnr</td><td>{{muniNum}}-{{gridNum}}/{{holdingNum}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
</table>
  


{{#NTPForhandsryddingGeomForhåndsrydding}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2"><b>Tiltak: Forhandsrydding {{_title}}</b></td>                  
  </tr>  

  <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
  <tr><td>Ønsket tidspunkt</td><td>{{start}}</td></tr>  
  <tr><td>Avstand fra parkeringsplass</td><td>{{road_dist}}</td></tr>  
    
  {{#delivery_place}}
  <tr><td>Leveringssted ved salg av planter</td><td>{{delivery_place}}</td></tr>
  {{/delivery_place}}
  
  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}


  <tr><td>Bestandsnummer</td><td>{{bestand}}</td></tr>  
  <tr><td>Teignavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
  <tr><td>Høyde over havet</td><td>{{elevation}} m</td></tr>
  <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>

  {{#price_model}}<tr><td>Prismodell</td><td>{{price_model}}</td></tr>{{/price_model}}
  <tr><td>Kommentarer til tiltaket</td><td>{{comment}}</td></tr>


</table>
{{/NTPForhandsryddingGeomForhåndsrydding}}

      
   
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


</body>
</html>
