<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
    color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border {
    border: 1px solid black;
}
#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<table width="80%"><tr><td colspan="3">    
    <table width="100%">
        <tr>
            <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
                <img width="300px" src="https://nt.feltgis.no/nt-logo-stor.jpg">
            </td>
            <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">
                <b>NORTØMMER AS</b><br/>
                Jegerstien 18<br/>
                2406 ELVERUM<br/>
                Tlf.: 87654321<br/>
                post@nortommer.no<br/>
            </td>
            <td align="right" style="vertical-align: top;">
                <font size="20">Sluttrapport {{jobType}}</font>
                <h3>Endret {{order._modified_Date}}</h3>
                <h4>Endret av: {{order._modifiedBy}}</h4>
                <h4>Ordrenummer: {{_job_nr}}</h4>
            </td>
        </tr>
    </table>



{{#hasorder}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="50%"><b>Oppdragsinformasjon</b></td>            
      <td></td>
  </tr>  
  <tr><td>Navn på skogeier</td><td>{{order.forestOwnerName}}</td></tr>
  <tr><td>Skogeier e-post</td><td>{{order.forestOwnerEmail}}</td></tr>
  <tr><td>Leverandørnummer</td><td>{{order.levNr}}</td></tr>
  <tr><td>Kommune</td><td>{{order.muniName}}</td></tr>        
  <tr><td>Komnr-Gnr/bnr</td><td>{{order.muniNum}}-{{order.gridNum}}/{{order.holdingNum}}</td></tr>  
  <tr><td>Entreprenør</td><td>{{_workTeamOrgNum}}</td></tr>
  <tr><td>Areal planlagte tiltak</td><td>{{plannedArea}} daa</td></tr>
  {{#performedArea}}
  <tr><td>Areal utførte tiltak</td><td>{{performedArea}} daa</td></tr>
  <tr><td>Høyde over havet</td><td>{{performedElevation}}</td></tr>
  {{/performedArea}}
</table>
{{/hasorder}}   


{{#hasNTPlantingMottakskontroll}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="6"><b>Mottakskontroll</b></td>            
  </tr>
  <tr class="tableheader">
      <td>Registrert</td>
      <td>Refnr</td>
      <td>Grønne</td>
      <td>Fuktige</td>
      <td>Hele</td>
      <td>Kommentar</td>
  </tr>  
  
  {{#NTPlantingMottakskontroll}}
  <tr>
    <td>{{_created_Date}}</td>
    <td>{{refNr}}</td>
    <td>{{green_Boolean}}</td>
    <td>{{moist_Boolean}}</td>
    <td>{{notdamaged_Boolean}}</td>
    <td>{{comment}}</td>     
  </tr>  
  {{/NTPlantingMottakskontroll}}

</table>
{{/hasNTPlantingMottakskontroll}}



{{#hasNTPlantingTelling}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="4"><b>Tellinger</b></td>            
  </tr>
  <tr class="tableheader">
      <td>Registrert</td>
      <td>Antall plantede</td>
      <td>Antall naturlige</td>
      <td>Målemetode</td>
  </tr>
  
  {{#NTPlantingTelling}}
  <tr>
    <td>{{_created_Date}}</td>
    <td>{{count}}</td>
    <td>{{natural}}</td>
    <td>{{countType}}</td>    
  </tr>  
  {{/NTPlantingTelling}}

</table>
{{/hasNTPlantingTelling}}


{{#hasNTUngskogpleieTelling}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="5"><b>Tellinger</b></td>            
  </tr>
  <tr class="tableheader">
      <td>Registrert</td>
      <td>Målemetode</td>
      <td>Antall gran</td>
      <td>Antall furu</td>
      <td>Antall lauv</td>
  </tr>  
  
  {{#NTUngskogpleieTelling}}
  <tr>
    <td>{{_created_Date}}</td>
    <td>{{countType}}</td>    
    <td>{{count_g}}</td>
    <td>{{count_f}}</td>
    <td>{{count_l}}</td>
  </tr>  
  {{/NTUngskogpleieTelling}}

</table>
{{/hasNTUngskogpleieTelling}}


{{#NTMarkberedningTelling}}
    <table class="mytable" width="90%" border="0">
        <tr class="tableheader">
          <td width="75%"><b>Kontrollflate markberedning</b></td>            
          <td></td>
        </tr>  
        <tr><td>Opprettet</td><td>{{_created_Date}}</td></tr>
        <tr><td>Opprettet av</td><td>{{_createdBy}}</td></tr>
        <tr><td>Godkjente plante-/spireplasser pr. dekar</td><td>{{approved_places}}</td></tr>
        <tr><td>Antall plante/-spiseplasser pr. dekar er i henhold</td><td>{{approved_places_ok_Boolean}}</td></tr>
        <tr><td>Oppløft naturlig/fysisk (prosent)</td><td>{{lifted_percent}}</td></tr>
        <tr><td>Avflekkingsgrad sammenhengende striper (prosent)</td><td>{{soil_exposure_coherent}}</td></tr>
        <tr><td>Avflekkingsgrad hensyntatt oppløft (prosent)</td><td>{{soil_exposure}}</td></tr>
        <tr><td>Avflekkingsgrad hensyntatt oppløft er i henhold</td><td>{{soil_exposure_ok_Boolean}}</td></tr>  
    </table>

    {{#geojpgs}}
    <table><tr><td align="center">
      <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
    </td></tr><tr><td>
      <h3>
        {{comment}}
        {{#links}}
        <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
        {{/links}}
      </h3>
    </td></tr></table>
    {{/geojpgs}}

{{/NTMarkberedningTelling}}


{{#hasNTSluttrapportPlanting}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>            
      <td></td>
  </tr>  
  <tr><td>Dato</td><td>{{NTSluttrapportPlanting._modified_Date}}</td></tr>
  {{#NTSluttrapportPlanting.responsible}}
  <tr><td>Ansvarlig planting</td><td>{{NTSluttrapportPlanting.responsible}}</td></tr>
  {{/NTSluttrapportPlanting.responsible}}

  {{#NTSluttrapportPlanting.proveniens_Boolean}}
  <tr><td>Er riktig proveniens benyttet?</td><td>{{NTSluttrapportPlanting.proveniens_Boolean}}</td></tr>
  {{/NTSluttrapportPlanting.proveniens_Boolean}}

  {{#NTSluttrapportPlanting.cleaned_Boolean}}
  <tr><td>Er avfallet ryddet etter planting?</td><td>{{NTSluttrapportPlanting.cleaned_Boolean}}</td></tr>
  {{/NTSluttrapportPlanting.cleaned_Boolean}}

  {{#NTSluttrapportPlanting.cleaned_edges}}
  <tr><td>Er det plantet i kantsoner/vegetasjonsbelter eller stier?</td><td>{{NTSluttrapportPlanting.cleaned_edges}}</td></tr>
  {{/NTSluttrapportPlanting.cleaned_edges}}

  {{#NTSluttrapportPlanting.planted_near_ch}}
  <tr><td>Er det plantet nærmere enn 5m fra kjent kulturminne?</td><td>{{NTSluttrapportPlanting.planted_near_ch}}</td></tr>
  {{/NTSluttrapportPlanting.planted_near_ch}}

  {{#NTSluttrapportPlanting.planted_near_bio}}
  <tr><td>Er det plantet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{NTSluttrapportPlanting.planted_near_bio}}</td></tr>
  {{/NTSluttrapportPlanting.planted_near_bio}}

  {{#NTSluttrapportPlanting.plant_count_ok_Boolean}}
  <tr><td>Er planteantall i tråd med gitt arbeidsordre?</td><td>{{NTSluttrapportPlanting.plant_count_ok_Boolean}}</td></tr>
  {{/NTSluttrapportPlanting.plant_count_ok_Boolean}}

  {{#NTSluttrapportPlanting.plant_place_Boolean}}
  <tr><td>Er riktig planteplass benyttet?</td><td>{{NTSluttrapportPlanting.plant_place_Boolean}}</td></tr>
  {{/NTSluttrapportPlanting.plant_place_Boolean}}

  {{#NTSluttrapportPlanting.dev_Boolean}}
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td>{{NTSluttrapportPlanting.dev_Boolean}}</td></tr>
  {{/NTSluttrapportPlanting.dev_Boolean}}

{{#NTSluttrapportPlanting.planttype1}}  
  <tr>
    <td>Antall planter {{NTSluttrapportPlanting.planttype1}}</td>
    <td>{{NTSluttrapportPlanting.planttype1count}}</td>
  </tr>  
{{/NTSluttrapportPlanting.planttype1}}

{{#NTSluttrapportPlanting.planttype2}}  
  <tr>
    <td>Antall planter {{NTSluttrapportPlanting.planttype2}}</td>
    <td>{{NTSluttrapportPlanting.planttype2count}}</td>
  </tr>  
{{/NTSluttrapportPlanting.planttype2}}

{{#NTSluttrapportPlanting.planttype3}}  
  <tr>
    <td>Antall planter {{NTSluttrapportPlanting.planttype3}}</td>
    <td>{{NTSluttrapportPlanting.planttype3count}}</td>
  </tr>  
{{/NTSluttrapportPlanting.planttype3}}

{{#NTSluttrapportPlanting.planttype4}}  
  <tr>
    <td>Antall planter {{NTSluttrapportPlanting.planttype4}}</td>
    <td>{{NTSluttrapportPlanting.planttype4count}}</td>
  </tr>  
{{/NTSluttrapportPlanting.planttype4}}


</table>
{{/hasNTSluttrapportPlanting}}   

{{#hasNTSluttrapportMarkberedning}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>                  
      <td></td>
  </tr>
  <tr><td>Dato</td><td>{{NTSluttrapportMarkberedning._modified_Date}}</td></tr>
  <tr><td>Ansvarlig markberedning</td><td>{{NTSluttrapportMarkberedning.responsible}}</td></tr>
  <tr><td>Er det ryddet i kantsoner/vegetasjonsbelter?</td><td>{{NTSluttrapportMarkberedning.edges_ok}}</td></tr>
  <tr><td>Er merkede og mye brukte stier ryddet og fremkommelige?</td><td>{{NTSluttrapportMarkberedning.trails_ok}}</td></tr>
  <tr><td>Er det ryddet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{NTSluttrapportMarkberedning.bio_ok}}</td></tr>
  <tr><td>Er rovfuglreir/tiurleik hensyntatt under arbeidet?</td><td>{{NTSluttrapportMarkberedning.nest_ok}}</td></tr>
  <tr><td>Er evt. andre spesielle hensyn ved arbeidet godt gjennomført? (eks. sette igjen lauv til elgbeite)</td><td>{{NTSluttrapportMarkberedning.other_ok}}</td></tr>
  <tr><td>Merknad, andre hensyn:</td><td>{{NTSluttrapportMarkberedning.other_notes}}</td></tr>
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td><b>{{NTSluttrapportMarkberedning.dev_Boolean}}</b></td></tr>
  <tr><td>Merknad til avvik</td><td>{{NTSluttrapportMarkberedning.dev_comment}}</td></tr>
  <tr><td>Er det behov for oppfølging?</td><td>{{NTSluttrapportMarkberedning.followup_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{NTSluttrapportMarkberedning.dev_comment}}</td></tr>
</table>
{{/hasNTSluttrapportMarkberedning}}   



{{#hasNTSluttrapportUngskogpleie}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>                  
      <td></td>
  </tr>
  <tr><td>Dato</td><td>{{NTSluttrapportUngskogpleie._modified_Date}}</td></tr>
  <tr><td>Ansvarlig ungskogpleie</td><td>{{NTSluttrapportUngskogpleie.responsible}}</td></tr>
  <tr><td>Organisasjonsnummer arbeidslag</td><td>{{NTSluttrapportUngskogpleie._workTeamOrgNum}}</td></tr>
  <tr><td>Er det ryddet i kantsoner/vegetasjonsbelter?</td><td>{{NTSluttrapportUngskogpleie.edges_ok}}</td></tr>
  <tr><td>Er merkede og mye brukte stier ryddet og fremkommelige?</td><td>{{NTSluttrapportUngskogpleie.trails_ok}}</td></tr>
  <tr><td>Er det ryddet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{NTSluttrapportUngskogpleie.bio_ok}}</td></tr>
  <tr><td>Er rovfuglreir/tiurleik hensyntatt under arbeidet?</td><td>{{NTSluttrapportUngskogpleie.nest_ok}}</td></tr>
  <tr><td>Er evt. andre spesielle hensyn ved arbeidet godt gjennomført? (eks. sette igjen lauv til elgbeite)</td><td>{{NTSluttrapportUngskogpleie.other_ok}}</td></tr>
  <tr><td>Merknad, andre hensyn:</td><td>{{NTSluttrapportUngskogpleie.other_notes}}</td></tr>
  <tr><td>Er treantall i tråd med gitt arbeidsordre?</td><td>{{NTSluttrapportUngskogpleie.treecount_ok_Boolean}}</td></tr>
  <tr><td>Er det gjort et godt valg av gjenstående trær?</td><td>{{NTSluttrapportUngskogpleie.selection_ok_Boolean}}</td></tr>
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td>{{NTSluttrapportUngskogpleie.dev_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{NTSluttrapportUngskogpleie.dev_comment}}</td></tr>
  <tr><td>Er det behov for oppfølging?</td><td>{{NTSluttrapportUngskogpleie.followup_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{NTSluttrapportUngskogpleie.dev_comment}}</td></tr>
</table>
{{/hasNTSluttrapportUngskogpleie}}   


{{#hasNTSluttrapportForhandsrydding}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>                  
      <td></td>
  </tr>
  <tr><td>Dato</td><td>{{NTSluttrapportForhandsrydding._modified_Date}}</td></tr>
  <tr><td>Ansvarlig forhåndsrydding</td><td>{{NTSluttrapportForhandsrydding.responsible}}</td></tr>
  <tr><td>Er det ryddet i kantsoner/vegetasjonsbelter?</td><td>{{NTSluttrapportForhandsrydding.edges_ok}}</td></tr>
  <tr><td>Er merkede og mye brukte stier ryddet og fremkommelige?</td><td>{{NTSluttrapportForhandsrydding.trails_ok}}</td></tr>
  <tr><td>Er det ryddet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{NTSluttrapportForhandsrydding.bio_ok}}</td></tr>
  <tr><td>Er rovfuglreir/tiurleik hensyntatt under arbeidet?</td><td>{{NTSluttrapportForhandsrydding.nest_ok}}</td></tr>
  <tr><td>Er evt. andre spesielle hensyn ved arbeidet godt gjennomført? (eks. sette igjen lauv til elgbeite)</td><td>{{NTSluttrapportForhandsrydding.other_ok}}</td></tr>
  <tr><td>Merknad, andre hensyn:</td><td>{{NTSluttrapportForhandsrydding.other_notes}}</td></tr>
  <tr><td>Er treantall i tråd med gitt arbeidsordre?</td><td>{{NTSluttrapportForhandsrydding.treecount_ok_Boolean}}</td></tr>
  <tr><td>Er det gjort et godt valg av gjenstående trær?</td><td>{{NTSluttrapportForhandsrydding.selection_ok_Boolean}}</td></tr>
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td>{{NTSluttrapportForhandsrydding.dev_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{NTSluttrapportForhandsrydding.dev_comment}}</td></tr>
  <tr><td>Er det behov for oppfølging?</td><td>{{NTSluttrapportForhandsrydding.followup_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{NTSluttrapportForhandsrydding.dev_comment}}</td></tr>
</table>
{{/hasNTSluttrapportForhandsrydding}}   



{{#hasNTSluttrapportGrofterensk}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>                  
      <td></td>
  </tr>
  <tr><td>Dato</td><td>{{NTSluttrapportGrofterensk._modified_Date}}</td></tr>
  <tr><td>Ansvarlig grøfterensk</td><td>{{NTSluttrapportGrofterensk.responsible}}</td></tr>
  <tr><td>Er det ryddet i kantsoner/vegetasjonsbelter?</td><td>{{NTSluttrapportGrofterensk.edges_ok}}</td></tr>
  <tr><td>Er merkede og mye brukte stier ryddet og fremkommelige?</td><td>{{NTSluttrapportGrofterensk.trails_ok}}</td></tr>
  <tr><td>Er det ryddet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{NTSluttrapportGrofterensk.bio_ok}}</td></tr>
  <tr><td>Er rovfuglreir/tiurleik hensyntatt under arbeidet?</td><td>{{NTSluttrapportGrofterensk.nest_ok}}</td></tr>
  <tr><td>Er evt. andre spesielle hensyn ved arbeidet godt gjennomført? (eks. sette igjen lauv til elgbeite)</td><td>{{NTSluttrapportGrofterensk.other_ok}}</td></tr>
  <tr><td>Merknad, andre hensyn:</td><td>{{NTSluttrapportGrofterensk.other_notes}}</td></tr>
  <tr><td>Er treantall i tråd med gitt arbeidsordre?</td><td>{{NTSluttrapportGrofterensk.treecount_ok_Boolean}}</td></tr>
  <tr><td>Er det gjort et godt valg av gjenstående trær?</td><td>{{NTSluttrapportGrofterensk.selection_ok_Boolean}}</td></tr>
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td>{{NTSluttrapportGrofterensk.dev_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{NTSluttrapportGrofterensk.dev_comment}}</td></tr>
  <tr><td>Er det behov for oppfølging?</td><td>{{NTSluttrapportGrofterensk.followup_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{NTSluttrapportGrofterensk.dev_comment}}</td></tr>
</table>
{{/hasNTSluttrapportGrofterensk}}   

{{#NTDoneWork}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2"><b>Utført arbeid</b></td>
  </tr>
  <tr><td>Dato</td><td>{{_modified_Date}}</td></tr>
  {{#contractor_done_Boolean}}
  <tr><td>Markér som ferdig (entrep)</td><td>{{contractor_done_Boolean}}</td></tr>
  {{/contractor_done_Boolean}}
  {{#trees_after}}
  <tr><td>Antall trær per dekar etter ungskogpleie</td><td>{{trees_after}}</td></tr>
  {{/trees_after}}
  {{#seeds_grams_total}}
  <tr><td>Antall gram frø totalt</td><td>{{seeds_grams_total}}</td></tr>
  {{/seeds_grams_total}}
  {{#hours}}
  <tr><td>Timer</td><td>{{hours}}</td></tr>
  {{/hours}}
  {{^hours}}{{#hours_Decimal2}}
  <tr><td>Timer</td><td>{{hours_Decimal2}}</td></tr>
  {{/hours_Decimal2}}{{/hours}}
  {{#natural_plants}}
  <tr><td>Antall naturlig kommet per daa</td><td>{{natural_plants}}</td></tr>
  {{/natural_plants}}
  {{#seeds_grams_per_daa}}
  <tr><td>Antall gram frø per daa.</td><td>{{seeds_grams_per_daa}}</td></tr>
  {{/seeds_grams_per_daa}}
  {{#seeds_area_daa}}
  <tr><td>Antall naturlig kommet per daa.</td><td>{{seeds_area_daa}}</td></tr>
  {{/seeds_area_daa}}
  {{#seeds_ref_nr}}
  <tr><td>Frøparti (sertifikat nr)</td><td>{{seeds_ref_nr}}</td></tr>
  {{/seeds_ref_nr}}
  {{#seeds_Date}}
  <tr><td>Såtidspunkt</td><td>{{seeds_Date}}</td></tr>
  {{/seeds_Date}}
  {{#trees_before}}
  <tr><td>Antall trær per dekar før ungskogpleie</td><td>{{trees_before}}</td></tr>
  {{/trees_before}}
  {{#height_before_Decimal1}}
  <tr><td>Gjennomsnittlig trehøyde før ungskogpleie</td><td>{{height_before_Decimal1}}</td></tr>
  {{/height_before_Decimal1}}
  {{#height_after_Decimal1}}
  <tr><td>Gjennomsnittlig trehøyde etter ungskogpleie</td><td>{{height_after_Decimal1}}</td></tr>
  {{/height_after_Decimal1}}
  {{#perc_gran}}
  <tr><td>Andel gran</td><td>{{perc_gran}}</td></tr>
  {{/perc_gran}}
  {{#perc_furu}}
  <tr><td>Andel furu</td><td>{{perc_furu}}</td></tr>
  {{/perc_furu}}
  {{#perc_lauv}}
  <tr><td>Andel lauv</td><td>{{perc_lauv}}</td></tr>
  {{/perc_lauv}}

  {{#tree_kind_2}}
  <td colspan="2"><b>Plantetype 1</b></td>
  {{/tree_kind_2}}

  {{#proveniens}}
  <tr><td>Proveniens</td><td>{{proveniens}}</td></tr>
  {{/proveniens}}
  {{#tree_kind}}
  <tr><td>Treslag</td><td>{{tree_kind}}</td></tr>
  {{/tree_kind}}
  {{#plant_type}}
  <tr><td>Plantetype gran</td><td>{{plant_type}}</td></tr>
  {{/plant_type}}
  {{#plant_treatment}}
  <tr><td>Behandling</td><td>{{plant_treatment}}</td></tr>
  {{/plant_treatment}}
  {{#plant_type_1_percent}}
  <tr><td>Prosentfordeling plantetype 1</td><td>{{plant_type_1_percent}}</td></tr>
  {{/plant_type_1_percent}}
  {{#num_planted}}
  <tr><td>Antall plantede planter</td><td>{{num_planted}}</td></tr>
  {{/num_planted}}
  {{#refnr_plants}}
  <tr><td>Referansenummer planter</td><td>{{refnr_plants}}</td></tr>
  {{/refnr_plants}}

  {{#tree_kind_2}}
    <td colspan="2"><b>Plantetype 2</b></td>
    {{#proveniens_2}}
    <tr><td>Proveniens</td><td>{{proveniens_2}}</td></tr>
    {{/proveniens_2}}
    {{#tree_kind_2}}
    <tr><td>Treslag</td><td>{{tree_kind_2}}</td></tr>
    {{/tree_kind_2}}
    {{#plant_type_2}}
    <tr><td>Plantetype gran</td><td>{{plant_type_2}}</td></tr>
    {{/plant_type_2}}
    {{#plant_treatment_2}}
    <tr><td>Behandling</td><td>{{plant_treatment_2}}</td></tr>
    {{/plant_treatment_2}}
    {{#plant_type_2_percent}}
    <tr><td>Prosentfordeling plantetype 2</td><td>{{plant_type_2_percent}}</td></tr>
    {{/plant_type_2_percent}}
    {{#num_planted_2}}
    <tr><td>Antall plantede planter</td><td>{{num_planted_2}}</td></tr>
    {{/num_planted_2}}
    {{#refnr_plants_2}}
    <tr><td>Referansenummer planter</td><td>{{refnr_plants_2}}</td></tr>
    {{/refnr_plants_2}}
    <td colspan="2"><b></b></td>
  {{/tree_kind_2}}

  {{#comment}}
  <tr><td>Kommentar</td><td>{{comment}}</td></tr>
  {{/comment}}
</table>
{{/NTDoneWork}}
        
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


</td></tr></table>
        
        
</body>
</html>
