<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
    color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border {
    border: 1px solid black;
}
#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<table width="80%"><tr><td colspan="3">    
    <table width="100%">
        <tr>
            <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
                <img width="300px" src="https://nt.feltgis.no/nt-logo-stor.jpg">
            </td>
            <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">
                <b>NORTØMMER AS</b><br/>
                Jegerstien 18<br/>
                2406 ELVERUM<br/>
                Tlf.: 87654321<br/>
                post@nortommer.no<br/>
            </td>
            <td align="right" style="vertical-align: top;">
                <font size="20">Faktureringsgrunnlag {{jobType}}</font>
                <h3>Endret {{order._modified_Date}}</h3>
                <h4>Endret av: {{order._modifiedBy}}</h4>
                <h4>Ordrenummer: {{_job_nr}}</h4>
            </td>
        </tr>
    </table>



{{#hasorder}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="50%"><b>Oppdragsinformasjon</b></td>            
      <td></td>
  </tr>  
  <tr><td>Navn på skogeier</td><td>{{order.forestOwnerName}}</td></tr>
  <tr><td>Skogeier adresse</td><td>{{order.forestOwnerAddress}}</td></tr>
  <tr><td>Skogeier e-post</td><td>{{order.forestOwnerEmail}}</td></tr>
  <tr><td>Leverandørnummer</td><td>{{order.levNr}}</td></tr>
  <tr><td>Kommune</td><td>{{order.muniName}}</td></tr>        
  <tr><td>Komnr-Gnr/bnr</td><td>{{order.muniNum}}-{{order.gridNum}}/{{order.holdingNum}}</td></tr>  
  {{#performedArea}}
  <tr><td>Areal utførte tiltak</td><td>{{performedArea}} daa</td></tr>  
  {{/performedArea}}
  {{#performedElevation}}
  <tr><td>Høyde over havet</td><td>{{performedElevation}}</td></tr>
  {{/performedElevation}}

  {{#plantingTotalTable}}
    {{#rows}}
      <tr>
        {{#cells}}
        <td>{{.}}</td>
        {{/cells}}
      </tr>
    {{/rows}}
  {{/plantingTotalTable}}
</table>
{{/hasorder}}

{{#plantingTables}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
        {{#headers}}
        <td width="50%"><b>{{.}}</b></td>            
        {{/headers}}      
  </tr>  
  {{#rows}}
  <tr>
    {{#cells}}
    <td>{{.}}</td>
    {{/cells}}
  </tr>
  {{/rows}}
</table>    
{{/plantingTables}}

<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
        {{#plantingBilling.headers}}
        <td><b>{{.}}</b></td>            
        {{/plantingBilling.headers}}      
  </tr>  
  {{#plantingBilling.rows}}
  <tr>
    {{#cells}}
    <td>{{.}}</td>
    {{/cells}}
  </tr>
  {{/plantingBilling.rows}}
</table>    


        
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


</td></tr></table>
        
        
</body>
</html>
