<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-top: 2pt;padding-left: 40pt;text-indent: 0pt;text-align: left;">GENERELT</h1>
<p class="s3" style="padding-top: 2pt;padding-left: 40pt;text-indent: 0pt;line-height: 121%;text-align: left;"><span class="p">All utført forhåndsrydding skal ha en tilfredsstillende kvalitet og bevare eventuelle miljøverdier i henhold til </span><a href="https://norskog.no/tjenester/sertifisering/sertifisering-av-skog/" style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;" target="_blank">ISO 14001 </a>Norsk PEFC skogstandard.<span class="s2"> </span><a href="http://www.fsc.org/" style=" color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt;" target="_blank">(FSC®-C103857) </a>FSC®.</p>
<p style="padding-top: 5pt;padding-left: 40pt;text-indent: 0pt;line-height: 120%;text-align: left;">Alle arbeidere skal gjøre seg kjent med forhåndsryddingsinstruksen, plankart og arbeidsordre før oppstart.</p>
<p style="padding-left: 40pt;text-indent: 0pt;line-height: 120%;text-align: left;">Hvor det opererer flere arbeidere sammen skal arbeidsleder fordele bestandet innad i gruppen. Arbeidsleder har ansvaret for at instruksen er lest og forstått av de resterende på laget.</p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">MILJØKRAV OG UTFØRELSE:</h1>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<table style="border-collapse:collapse;margin-left:5.41pt" cellspacing="0">
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 61pt;text-indent: 0pt;text-align: left;">Beskrivelse</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 65pt;padding-right: 64pt;text-indent: 0pt;line-height: 13pt;text-align: center;">Karttegn</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#D9D9D9">
         <p class="s4" style="padding-left: 59pt;padding-right: 58pt;text-indent: 0pt;text-align: center;">Avstand</p>
      </td>
   </tr>
   <tr style="height:41pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Veigrøfter, grøft og mindre bekk uten helårs vannføring</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p style="text-indent: 0pt;text-align: left;"><br/></p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;">1 meter fra grøft/bekk til trær som spares. Holdes fri for</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">nedfelte trær.</p>
      </td>
   </tr>
   <tr style="height:27pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Merket sti/skiløype, sti historielag</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 14pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Stiplet linje og kommentar i kart</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Holdes fri for nedfelte trær i</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">eksisterende bredde.</p>
      </td>
   </tr>
   <tr style="height:15pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Ikke merket sti og vei</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 14pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Stiplet linje og kommentar i kart</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Angis i tekst i PO-skjema og kart</p>
      </td>
   </tr>
   <tr style="height:27pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Skogsbilvei/offentlig vei</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p style="text-indent: 0pt;text-align: left;"><br/></p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">4 meter fra veiskulder til trær</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">som spares i bestandet</p>
      </td>
   </tr>
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Kantsone bekk</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s7" style="padding-left: 42pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Grønn hel strek</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">5 meter</p>
      </td>
   </tr>
   <tr style="height:41pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Kulturminner/kulturmiljøer</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s6" style="padding-left: 42pt;text-indent: 0pt;line-height: 13pt;text-align: left;">Symboler og tekst</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;">5 meter fra ytre synlige kant, ved noen tilfeller ryddes disse helt</p>
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">frem, vil bli spesifisert i kart</p>
      </td>
   </tr>
   <tr style="height:14pt">
      <td style="width:184pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Kantsone elv, myr og vann</p>
      </td>
      <td style="width:178pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s7" style="padding-left: 13pt;text-indent: 0pt;line-height: 12pt;text-align: left;">Grønn hel strek/skravert område</p>
      </td>
      <td style="width:163pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
         <p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">10-25 meter</p>
      </td>
   </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">GENERELLE KRAVPUNKTER TIL FORHÅNDSRYDDING:</h1>
<ul id="l1">
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">ROS-arter, beita furu og eik og einer skal spares til viltet i luker og mellom trær i bestandet, avstand fra gjenstående trær 1-1,5m.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Skal strebes etter så lav stubbehøyde som mulig.</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Andre spesielle hensyn ved forhåndsrydding legges som beskrivelse i arbeidsordre/kart.</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Hassel skjæres alltid ned.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p class="s8" style="padding-left: 40pt;text-indent: 0pt;text-align: left;">Slutthogst</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Alt under 8-10cm skjæres ned, utenom vilthensynene og annen mindre undervegetasjon i åpninger, som ikke er i veien for hogst.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p class="s8" style="padding-left: 40pt;text-indent: 0pt;text-align: left;">Tynning</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Kun trær som er i veien for utførelse av tynning under 8-10cm i diameter skjæres ned, utenom vilthensynene.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 5pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Fuktdrag spares hvis ikke annen beskjed er gitt. I enkelte tilfeller ønskes disse regulert, vil spesifiseres i arbeidsordre/kart.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-left: 40pt;text-indent: 0pt;text-align: left;">PÅBUDT VERNEUTSTYR OG SIKKERHET:</h1>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Godkjent hjelm påmontert godkjent hørselvern og visir/vernebriller ved trehøyde over 2m</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Ved trehøyde under 2m er kun hørsels- og øyevern påbudt</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Fottøy med godt gripmønster</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Signalfarget jakke/refleksvest</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Enkeltmannspakke og/eller førstehjelpskrin tilgjengelig på arbeidsstedet</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;text-align: left;">Ved bruk av motorsag skal godkjent vernebukse og annet påbudt verneutstyr alltid brukes</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 120%;text-align: left;">Ved arbeid hvor to eller flere arbeider i samme område/bestand må sikker avstand mellom arbeiderne opprettholdes; ryddesag sikkerhetsavstand 30 m og to trelengder for motorsag</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Arbeidsleder har ansvaret for å fordele feltet mellom arbeiderne slik at sikkerhetsavstanden er umulig å bryte.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 120%;text-align: left;">Dersom skogsarbeiderne har behov for kommunikasjon med andre i arbeidsfeltet skal det brukes sikringsradio/mobil eller at det skapes oppmerksomhet før en går nærmere enn sikkerhetsavstanden</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">90m sikkerhetsavstand til skogsmaskiner ved forhåndsrydding under påbegynt skogsdrift. Løpende kommunikasjon med maskinførerne påbudt.</p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Ved snø/is/glatt føre: vurder behov for brodder/pigger på verneskoene</p>
   </li>
   <li data-list-text="">
      <p style="padding-top: 2pt;padding-left: 76pt;text-indent: -18pt;line-height: 119%;text-align: left;">Alenearbeid: Hver og en er ansvarlig for sin egen sikkerhet og må alltid passe på å ha tilgjengelig kommunikasjonsmiddel ved arbeid alene slik at det enkelt kan varsles ved uhell<span class="s9">.</span></p>
   </li>
   <li data-list-text="">
      <p style="padding-left: 76pt;text-indent: -18pt;text-align: left;">Tilfredsstillende kommunikasjonsmiddel (telefon/sikringsradio)</p>
   </li>
</ul>
