<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
    color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    

.border {
    border: 1px solid black;
}

#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

{{#watermark}}
body:before {
  content: "";
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 
    url('data:image/svg+xml;utf8,<svg style="transform:rotate(-45deg)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 60"><text x="10" y="25" fill="%23900" fill-opacity="0.10">{{watermark}}</text></svg>') 
    0 0/100% 100vh;
}
{{/watermark}}

</style>


<br><br>
<table width="100%">
    <tr>
        <td align="left" width="300px" style="vertical-align: top">
            <img width="100px" src="https://www.storaenso.com/-/media/system-images/logo-large.png">
        </td>
        <td align="right" class="header" style="vertical-align: top">
            Elvarheimgata 10B<br/>
            2406 Elverum<br/>
            Tlf.: 12341234<br/>
            post@storaenso.no<br/>
            Org. nr: NO 938124337 MVA
        </td>
        <td>
            <img height="100px" src="https://nt.feltgis.no/dnv.png">
        </td>
    </tr>
</table>


<br><br>
<h1>AVTALE - SKOGKULTUR</h1>
Dato: {{now}}<br>
Oppdragsnummer:<br/><b>{{#_job_nrs}} {{.}}<br/>{{/_job_nrs}}</b>
<br>
<br>
<table class="mytable" width="90%" border="0" cellspacing="0" cellpadding="0">


  <tr class="tableheader">
      <td></td>
      <td><b>Skogeier</b></td>
      <td></td>
      <td>Tjenesteleverandør</td>
  </tr>  
  <tr><td>Navn:</td><td>{{forestOwnerName}}</td><td></td><td>STORA ENSO<br>v/{{plannerContactName}}</td></tr>
  <tr>
    <td>Adresse:</td>
    <td>
        {{forestOwnerAddress}} 
        {{#forestOwnerAddress2}}
        <br>{{forestOwnerAddress2}}
        {{/forestOwnerAddress2}}
    </td>
    <td></td>
    <td>Jegerstien 18</td>
  </tr>
  <tr><td>Postnummer:</td><td>{{forestOwnerZipCode}}</td><td></td><td>1234</td></tr>
  <tr><td>Sted:</td><td>{{forestOwnerCity}}</td><td></td><td>Sted</td></tr>
  <tr><td>E-post</td><td>{{forestOwnerEmail}}</td><td></td><td>post@storaenso.no</td></tr>
  <tr><td>Leverandørnummer:</td><td>{{levNr}}</td><td></td><td>Org.nr. 980018709</td></tr>
  <tr><td>Telefon:</td><td>{{forestOwnerPhone}}</td><td></td><td>{{plannerContactPhone}}</td></tr>
  <tr><td>Komnr-Gnr/bnr</td><td>{{muniNum}}-{{gridNum}}/{{holdingNum}}</td><td></td><td></td></tr>
  <tr><td>Kommune</td><td>{{muniName}}</td><td></td><td></td></tr>
  
</table>

<br><br><br>  
Takk for at du har valgt STORA ENSO som tjenesteleverandør!
<br><br>

<h2>Omfang</h2>

<h4>Tiltak/delområder</h4>

<h4>Kartutsnitt</h4>

<h4>Kontraktsbetingelser</h4>
    




<div class="pagebreak"> </div>
<h2>Tiltak / delområder</h2>

{{#SEPGjodslingGeomGjødsling}}
<table class="mytable" width="90%" border="0">
    <tr class="tableheader">
      <td><b>Tiltak: {{_title}}</b></td>            
      <td></td>
    </tr>  

    <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
    <tr><td>Areal</td><td>{{area}}</td></tr>
    <tr><td>Høyde over havet</td><td>{{elevation}}</td></tr>
    <tr><td>Bonitet</td><td>{{bonitet}}</td></tr>
    
    <tr><td>Enhetspris {{price_model_lower}}, arbeid (eks. mva)</td><td>{{price}}</td></tr>  

    <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
    
    {{#keys}}
    <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>
    {{/keys}}
    
    {{#comment}}
    <tr><td>Kommentarer til tiltaket</td><td>{{comment}}</td></tr>
    {{/comment}}

    <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>
    {{#bioComment}}
    <tr><td>Biologisk, kommentar</td><td>{{bioComment}}</td></tr>
    {{/bioComment}}

    <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
    {{#heritComment}}
    <tr><td>Kulturminne, kommentar</td><td>{{heritComment}}</td></tr>
    {{/heritComment}}
    
    <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
    {{#recreationalComment}}
    <tr><td>Friluftsverdier, kommentar</td><td>{{recreationalComment}}</td></tr>
    {{/recreationalComment}} 

    <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
    {{#bufferZoneComment}}
    <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
    {{/bufferZoneComment}}

    {{#forestOwnerComment}}
    <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>
    {{/forestOwnerComment}}  
</table>
{{/SEPGjodslingGeomGjødsling}}


{{#SEPGravearbeidGeomGravearbeid}}
<table class="mytable" width="90%" border="0">
    <tr class="tableheader">
      <td><b>Tiltak: {{_title}}</b></td>            
      <td></td>
    </tr>  

    <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
    <tr><td>Areal</td><td>{{area}}</td></tr>
    <tr><td>Høyde over havet</td><td>{{elevation}}</td></tr>
    <tr><td>Bonitet</td><td>{{bonitet}}</td></tr>
    
    <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
    <tr><td>Avstand fra parkeringsplass</td><td>{{road_dist}}</td></tr>

    {{#keys}}
    <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>
    {{/keys}}
    
    {{#comment}}
    <tr><td>Kommentarer til tiltaket</td><td>{{comment}}</td></tr>
    {{/comment}}

    <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>
    {{#bioComment}}
    <tr><td>Biologisk, kommentar</td><td>{{bioComment}}</td></tr>
    {{/bioComment}}

    <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
    {{#heritComment}}
    <tr><td>Kulturminne, kommentar</td><td>{{heritComment}}</td></tr>
    {{/heritComment}}
    
    <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
    {{#recreationalComment}}
    <tr><td>Friluftsverdier, kommentar</td><td>{{recreationalComment}}</td></tr>
    {{/recreationalComment}} 

    <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
    {{#bufferZoneComment}}
    <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
    {{/bufferZoneComment}}

    {{#forestOwnerComment}}
    <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>
    {{/forestOwnerComment}}  
</table>
{{/SEPGravearbeidGeomGravearbeid}}


{{#SEPSporskaderettingGeomSporskaderetting}}
<table class="mytable" width="90%" border="0">
    <tr class="tableheader">
      <td><b>Tiltak: {{_title}}</b></td>            
      <td></td>
    </tr>  

    <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
    <tr><td>Areal</td><td>{{area}}</td></tr>
    <tr><td>Høyde over havet</td><td>{{elevation}}</td></tr>
    <tr><td>Bonitet</td><td>{{bonitet}}</td></tr>
    
    <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
    <tr><td>Avstand fra parkeringsplass</td><td>{{road_dist}}</td></tr>

    {{#keys}}
    <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>
    {{/keys}}
    
    {{#comment}}
    <tr><td>Kommentarer til tiltaket</td><td>{{comment}}</td></tr>
    {{/comment}}

    <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>
    {{#bioComment}}
    <tr><td>Biologisk, kommentar</td><td>{{bioComment}}</td></tr>
    {{/bioComment}}

    <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
    {{#heritComment}}
    <tr><td>Kulturminne, kommentar</td><td>{{heritComment}}</td></tr>
    {{/heritComment}}
    
    <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
    {{#recreationalComment}}
    <tr><td>Friluftsverdier, kommentar</td><td>{{recreationalComment}}</td></tr>
    {{/recreationalComment}} 

    <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
    {{#bufferZoneComment}}
    <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
    {{/bufferZoneComment}}

    {{#forestOwnerComment}}
    <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>
    {{/forestOwnerComment}}  
</table>
{{/SEPSporskaderettingGeomSporskaderetting}}


{{#SEPSproytingGeomSprøyting}}
<table class="mytable" width="90%" border="0">
    <tr class="tableheader">
      <td><b>Tiltak: {{_title}}</b></td>            
      <td></td>
    </tr>  

    <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
    <tr><td>Areal</td><td>{{area}}</td></tr>
    <tr><td>Høyde over havet</td><td>{{elevation}}</td></tr>
    <tr><td>Bonitet</td><td>{{bonitet}}</td></tr>
    
    <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
    <tr><td>Avstand fra parkeringsplass</td><td>{{road_dist}}</td></tr>

    {{#keys}}
    <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>
    {{/keys}}
    
    {{#comment}}
    <tr><td>Kommentarer til tiltaket</td><td>{{comment}}</td></tr>
    {{/comment}}

    <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>
    {{#bioComment}}
    <tr><td>Biologisk, kommentar</td><td>{{bioComment}}</td></tr>
    {{/bioComment}}

    <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
    {{#heritComment}}
    <tr><td>Kulturminne, kommentar</td><td>{{heritComment}}</td></tr>
    {{/heritComment}}
    
    <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
    {{#recreationalComment}}
    <tr><td>Friluftsverdier, kommentar</td><td>{{recreationalComment}}</td></tr>
    {{/recreationalComment}} 

    <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
    {{#bufferZoneComment}}
    <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
    {{/bufferZoneComment}}

    {{#forestOwnerComment}}
    <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>
    {{/forestOwnerComment}}  
</table>
{{/SEPSproytingGeomSprøyting}}




{{#SEPPlantingGeomPlanting}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Tiltak: Planting (kun arbeid) {{_title}}</b></td>            
      <td></td>
  </tr>  
  
  <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
  <tr><td>Oppdragstype</td><td>{{job_type}}</td></tr>  
  {{#price_model}}
  <tr><td>Pris</td><td>{{price_model}}: {{work_price_Decimal2}}</td></tr>  
  {{/price_model}}
  <tr><td>Treslag</td><td>{{tree_kind}}</td></tr>
  <tr><td>Plantetype</td><td>{{plant_type}}</td></tr>           
  <tr><td>Plantetype kommentar</td><td>{{plant_type_comment}}</td></tr>               
  <tr><td>Behandling</td><td>{{plant_treatment}}</td></tr>           
  <tr><td>Behandling kommentar</td><td>{{plant_treatment_comment}}</td></tr>
  <!-- tr><td>Planteutstyr</td><td>{{plant_equipment}}</td></tr -->           
  <tr><td>Markberedt</td><td>{{soil_preparation_Boolean}}</td></tr>           
  <tr><td>Tettere planting</td><td>{{plants_denser_Boolean}}</td></tr>           
  <tr><td>Antall planter/daa</td><td>{{plants_per_da}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
  <tr><td>Antall planter totalt</td><td>{{_plants_total}}</td></tr>    
  <tr><td>Pris per plante utsatt</td><td>{{plant_price_Decimal1}}{{plant_price_Decimal2}}</td></tr>
  <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
  <tr><td>Avstand fra parkeringsplass</td><td>{{road_dist}}</td></tr>  

  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}

  <tr><td>Bestandsnummer</td><td>{{bestand}}</td></tr>  
  <tr><td>Teignavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Bonitet</td><td>{{bonitet}}</td></tr>  
  <tr><td>Høyde over havet</td><td>{{elevation}} m</td></tr>  
  <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>
  <!--   
  {{#delivery_place}}
  <tr><td>Leveringssted ved salg av planter</td><td>{{delivery_place}}</td></tr>
  {{/delivery_place}}
  -->

      
  {{#forestowner_covers_cost_for_300_m_Boolean}}
  <tr><td>Kostnad for bæring av planter over 300 meter dekkes av skogeier</td><td>{{forestowner_covers_cost_for_300_m_Boolean}}</td></tr>  
  {{/forestowner_covers_cost_for_300_m_Boolean}}
  {{#hour_price_to_carry_plants}}
  <tr><td>Timespris bæring av planter</td><td>{{hour_price_to_carry_plants}}</td></tr>  
  {{/hour_price_to_carry_plants}}
<tr><td>Kommentar til tiltaket</td><td>{{comment}}</td></tr>
  <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>
</table>
{{/SEPPlantingGeomPlanting}}



{{#SEPPlantingGeomPlantesalgPlanting}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Tiltak: Plantesalg inkl planting {{_title}}</b></td>            
      <td></td>
  </tr>

  <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
  <tr><td>Oppdragstype</td><td>{{job_type}}</td></tr>  
  {{#price_model}}
  <tr><td>Pris</td><td>{{price_model}}: {{work_price_Decimal2}}</td></tr>  
  {{/price_model}}
  <tr><td>Treslag</td><td>{{tree_kind}}</td></tr>
  <tr><td>Plantetype</td><td>{{plant_type}}</td></tr>           
  <tr><td>Plantetype kommentar</td><td>{{plant_type_comment}}</td></tr>               
  <tr><td>Behandling</td><td>{{plant_treatment}}</td></tr>           
  <tr><td>Behandling kommentar</td><td>{{plant_treatment_comment}}</td></tr>           
  <!-- tr><td>Planteutstyr</td><td>{{plant_equipment}}</td></tr -->           
  <tr><td>Markberedt</td><td>{{soil_preparation_Boolean}}</td></tr>           
  <tr><td>Tettere planting</td><td>{{plants_denser_Boolean}}</td></tr>           
  <tr><td>Antall planter/daa</td><td>{{plants_per_da}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
  <tr><td>Antall planter totalt</td><td>{{_plants_total}}</td></tr>  
  <tr><td>Pris per plante</td><td>{{plant_price_Decimal1}}{{plant_price_Decimal2}}</td></tr>
  <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
  <tr><td>Avstand fra parkeringsplass</td><td>{{road_dist}}</td></tr>  

  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}

  <tr><td>Bestandsnummer</td><td>{{bestand}}</td></tr>  
  <tr><td>Teignavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Bonitet</td><td>{{bonitet}}</td></tr>  
  <tr><td>Høyde over havet</td><td>{{elevation}} m</td></tr>
  <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>
  <!--   
  {{#delivery_place}}
  <tr><td>Leveringssted ved salg av planter</td><td>{{delivery_place}}</td></tr>
  {{/delivery_place}}
  -->

      
  {{#forestowner_covers_cost_for_300_m_Boolean}}
  <tr><td>Kostnad for bæring av planter over 300 meter dekkes av skogeier</td><td>{{forestowner_covers_cost_for_300_m_Boolean}}</td></tr>  
  {{/forestowner_covers_cost_for_300_m_Boolean}}
  {{#hour_price_to_carry_plants}}
  <tr><td>Timespris bæring av planter</td><td>{{hour_price_to_carry_plants}}</td></tr>  
  {{/hour_price_to_carry_plants}}
<tr><td>Kommentar til tiltaket</td><td>{{comment}}</td></tr>
  <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>

</table>
{{/SEPPlantingGeomPlantesalgPlanting}}



{{#SEPPlantingGeomPlantesalg}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Tiltak: Plantesalg {{_title}}</b></td>            
      <td></td>
  </tr>  
  <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
  <tr><td>Treslag</td><td>{{tree_kind}}</td></tr>
  <tr><td>Behandling</td><td>{{plant_treatment}}</td></tr>           
  <tr><td>Behandling kommentar</td><td>{{plant_treatment_comment}}</td></tr>
  <tr><td>Plantetype</td><td>{{plant_type}}</td></tr>               
  <tr><td>Plantetype kommentar</td><td>{{plant_type_comment}}</td></tr>               
  <tr><td>Antall planter</td><td>{{num_plants}}</td></tr>  
  <tr><td>Pris per plante</td><td>{{plant_price_Decimal1}}{{plant_price_Decimal2}}</td></tr>
  <tr><td>Hentested / leveringssted planter</td><td>{{delivery_place}}</td></tr>  
  <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
      
  {{#forestowner_covers_cost_for_300_m_Boolean}}
  <tr><td>Kostnad for bæring av planter over 300 meter dekkes av skogeier</td><td>{{forestowner_covers_cost_for_300_m_Boolean}}</td></tr>  
  {{/forestowner_covers_cost_for_300_m_Boolean}}
  {{#hour_price_to_carry_plants}}
  <tr><td>Timespris bæring av planter</td><td>{{hour_price_to_carry_plants}}</td></tr>  
  {{/hour_price_to_carry_plants}}
<tr><td>Kommentar til tiltaket</td><td>{{comment}}</td></tr>
  <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>
</table>
{{/SEPPlantingGeomPlantesalg}}



{{#SEPForhandsryddingGeomForhåndsrydding}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Tiltak: Forhandsrydding {{_title}}</b></td>            
      <td></td>
  </tr>  
  <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
  <tr><td>Pris</td><td>{{price_model}} {{price}}</td></tr>  
  <tr><td>Ønsket tidspunkt</td><td>{{start}}</td></tr>  
  <tr><td>Avstand fra parkeringsplass</td><td>{{road_dist}}</td></tr>  
    
  {{#delivery_place}}
  <tr><td>Leveringssted ved salg av planter</td><td>{{delivery_place}}</td></tr>
  {{/delivery_place}}
  
  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}


  <tr><td>Bestandsnummer</td><td>{{bestand}}</td></tr>  
  <tr><td>Teignavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
  <tr><td>Høyde over havet</td><td>{{elevation}} m</td></tr>
  <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>

    <tr><td>Kommentar til tiltaket</td><td>{{comment}}</td></tr>
  <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>


</table>
{{/SEPForhandsryddingGeomForhåndsrydding}}



{{#SEPUngskogpleieGeomUngskogpleie}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Tiltak: Ungskogpleie {{_title}}</b></td>            
      <td></td>
  </tr>  

  <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
  <tr><td>Nåværende treslag</td><td>{{tree_kind}}</td></tr>  
  <tr><td>Antall trær per dekar før ungskogpleie</td><td>{{trees_before}}</td></tr>  
  <tr><td>Gjennomsnittlig trehøyde før ungskogpleie</td><td>{{height_before_Decimal1}}</td></tr>  
  <tr><td>Prioritert treslag etter ungskogpeie</td><td>{{plant_pri}}</td></tr>  
  <tr><td>Antall trær per dekar etter ungskogpleie</td><td>{{trees_after}}</td></tr>  
  <tr><td>Kommentar prioritert treslag etter ungskogpleie </td><td>{{prio_comment}}</td></tr>  
  <tr><td>Skal løv stå spredt i bestand eller i klynger?</td><td>{{lauv_dist}}</td></tr>  
  <tr><td>Behandling av beitetrær</td><td>{{beitetraer}}</td></tr>  
  <tr><td>Pris</td><td>{{price}} {{price_model}}</td></tr>  
  <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
  <tr><td>Avstand fra parkeringsplass</td><td>{{road_dist}}</td></tr>  
  
  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}

  <tr><td>Bestandsnummer</td><td>{{bestand}}</td></tr>  
  <tr><td>Teignavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Areal</td><td>{{area}}da</td></tr>      
  <tr><td>Høyde over havet</td><td>{{elevation}} m</td></tr>
  <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>
  
    <tr><td>Kommentar til tiltaket</td><td>{{comment}}</td></tr>
  <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>

</table>
{{/SEPUngskogpleieGeomUngskogpleie}}




{{#SEPMarkberedningGeomMarkberedning}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Tiltak: Markberedning {{_title}}</b></td>            
      <td></td>
  </tr>  
  <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
  <tr><td>Maskintype</td><td>{{machine_type}}</td></tr>  
  <tr><td>Type markberedning</td><td>{{type_mb}}</td></tr>  
  <tr><td>Grøfterensk utføres sammen med markberedning</td><td>{{grofterensk}}</td></tr>  
  <tr><td>Pris</td><td>{{price_model}}: {{price}}</td></tr>  
  <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
  <tr><td>Avstand inn til hogstfelt fra avlastingsplass</td><td>{{road_dist}}</td></tr>  
  
  {{#delivery_place}}
  <tr><td>Leveringssted ved salg av planter</td><td>{{delivery_place}}</td></tr>
  {{/delivery_place}}
  
  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}


  <tr><td>Bestandsnummer</td><td>{{bestand}}</td></tr>  
  <tr><td>Teignavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
  <tr><td>Høyde over havet</td><td>{{elevation}} m</td></tr>
  <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>

    <tr><td>Kommentar til tiltaket</td><td>{{comment}}</td></tr>
  <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>

</table>
{{/SEPMarkberedningGeomMarkberedning}}




{{#SEPGrofterenskGeomGrøfterensk}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Tiltak: Grøfterensk {{_title}}</b></td>            
      <td></td>
  </tr>  
  <tr><td>Oppdragsnummer</td><td>{{_job_nr}}</td></tr>  
  <tr><td>Pris</td><td>{{price_model}} {{price}}</td></tr>  
  <tr><td>Ønsket starttidspunkt</td><td>{{start}}</td></tr>
  <tr><td>Avstand inn til hogstfelt fra avlastingsplass</td><td>{{dist}}</td></tr>  
  
  {{#delivery_place}}
  <tr><td>Leveringssted ved salg av planter</td><td>{{delivery_place}}</td></tr>
  {{/delivery_place}}
  
  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>  
  {{#bioComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bioComment}}</td></tr>
  {{/bioComment}}

  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  {{#heritComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{heritComment}}</td></tr>
  {{/heritComment}}

  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  {{#recreationalComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{recreationalComment}}</td></tr>
  {{/recreationalComment}}

  <tr><td>Kantsone</td><td>{{bufferZone_Boolean}}</td></tr>
  {{#bufferZoneComment}}
  <tr><td colspan="2" style="text-align: center;">Merknad: {{bufferZoneComment}}</td></tr>        
  {{/bufferZoneComment}}

  <tr><td>Bestandsnummer</td><td>{{bestand}}</td></tr>  
  <tr><td>Teignavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Høyde over havet</td><td>{{elevation}} m</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
  <tr><td>Bomveg kommentar</td><td>{{keys}}</td></tr>

    <tr><td>Kommentar til tiltaket</td><td>{{comment}}</td></tr>
  <tr><td>Kommentar til skogeier</td><td>{{forestOwnerComment}}</td></tr>

</table>
{{/SEPGrofterenskGeomGrøfterensk}}


<br>
<a href="https://www.landbruksdirektoratet.no/nb/filarkiv/skjema/LDIR-909_B_Utbetaling%20fra%20skogfond%20og%20s%C3%B8knad%20om%20tilskudd%20til%20skogkultur..pdf/_/attachment/inline/63fc4123-2ff1-4001-b570-59df81b7027a:ad978cf7a79df1e118cba91facfebdbab9b5f289/LDIR-909_B_Utbetaling%20fra%20skogfond%20og%20s%C3%B8knad%20om%20tilskudd%20til%20skogkultur.pdf">Utbetaling fra skogfond og
søknad om tilskudd til skogkultur</a>




<div class="pagebreak"> </div>
<h2>Kartutsnitt</h2>
         
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


</body>
</html>