<html>

<head>
    <meta charset="UTF-8">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            min-height: 300vh;
            position: relative;
            margin: 0;
        }

        thead {
            background: lightgrey;
        }

        .headbg {
            background: lightgrey;
        }

        table {
            font-size: smaller;
            border-collapse: collapse;
        }

        .bordered td {
            padding: 2px;
            border-color: black;
            border-style: solid;
            border-width: 0.1mm;
        }

        .bordered td td {
            border: none;
        }

        .max-width {
            width: 100%;
        }

        .center-content {
            text-align: center;
        }

        .left-content {
            text-align: left;
        }

        .text-center {
            text-align: center;
        }

        .terms {
            columns: 2;
            font-size: 80%;
        }

        .terms>ol.defs {
            counter-reset: defs-counter;
            margin-bottom: 1em;
        }

        .terms>ol.defs>li {
            counter-increment: defs-counter;
            list-style: none;
            font-weight: normal;
            margin-bottom: 0.2em;
        }

        .terms>ol.defs>li:before {
            content: counter(defs-counter, lower-alpha) ") ";
        }

        .terms ol {
            list-style-type: none;
            counter-reset: term-counter;
            margin: 0;
            padding: 0;
        }

        .terms ol>li {
            display: table;
            counter-increment: term-counter;
            margin-bottom: 1em;
            font-weight: bold;
        }

        .terms ol>li>ol {
            -webkit-column-break-before: avoid;
        }

        .terms ol>li:before {
            content: counters(term-counter, ".") ". ";
            display: table-cell;
            padding-right: 0.6em;
        }

        .terms li ol>li {
            margin: 0.1em 0 0.2em 0;
            font-weight: normal;
        }

        .terms li ol>li:before {
            content: counters(term-counter, ".") " ";
        }

            
        {{#watermark}}

        body:before {
            content: "";
            position: absolute;
            z-index: 9999;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background:
                url('data:image/svg+xml;utf8,<svg style="transform:rotate(-45deg)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 60"><text x="10" y="25" fill="%23900" fill-opacity="0.10">{{watermark}}</text></svg>') 0 0/100% 100vh; }

        {{/watermark}}
    </style>

</head>

<body>

    <table class="max-width">
        <tr>
            <td valign="top"><img height="60px" src="https://www.storaenso.com/-/media/system-images/logo-large.png">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center-content">
                <h2>{{title}}</h2>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                Mellom
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <table class="bordered max-width">
                    <tr>
                        <td width="50%" valign="top">
                            <table>
                                <tr>
                                    <td>Org. nr</td>
                                    <td>:</td>
                                    <td>{{head.SellerOrgNum}}</td>
                                </tr>
                                <tr>
                                    <td>Tømmermerke</td>
                                    <td>:</td>
                                    <td>{{head.OwnershipMark}}</td>
                                </tr>
                                <tr valign="top">
                                    <td>Selger</td>
                                    <td>:</td>
                                    <td>
                                        {{head.SellerName}}

                                        <br>{{head.SellerAddress}}

                                        {{#additionalFields.address2}}
                                        <br>{{additionalFields.address2}}
                                        {{/additionalFields.address2}}

                                        <br>{{head.SellerZipCode}} {{head.SellerCity}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bankkto</td>
                                    <td>:</td>
                                    <td>{{additionalFields.sellerBankAccount}}</td>
                                </tr>
                                <tr>
                                    <td>E-post</td>
                                    <td>:</td>
                                    <td>{{head.SellerContactEMail}}</td>
                                </tr>
                                <tr>
                                    <td>Innkjøpsordrenummer</td>
                                    <td>:</td>
                                    <td>{{purchaseOrderNum}}</td>
                                </tr>
                                <tr>
                                    <td>Driftsansvarlig:</td>
                                    <td>:</td>
                                    <td>{{additionalFields.productionResponsible}}</td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" valign="top">
                            <table>
                                <tr valign="top">
                                    <td>Kjøper</td>
                                    <td>:</td>
                                <td>Stora Enso<br>Elvarheimgata 10B<br/>2408 Elverum</td>
                                </tr>
                                <tr>
                                    <td>Internett</td>
                                    <td>:</td>
                                    <td>www.storaenso.com</td>
                                </tr>
                                <tr>
                                    <td>Org. nr</td>
                                    <td>:</td>
                                    <td>{{head.BuyerOrgNum}}</td>
                                </tr>
                                <tr>
                                    <td>Kontaktperson</td>
                                    <td>:</td>
                                    <td>{{head.BuyerContactName}}, tlf {{head.BuyerContactPhone}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="100px" colspan="2" align="left" valign="bottom">
                <h1>Omfang</h1>
                <hr style="height:1px;border-width:0;color:black">
            </td>
        </tr>
        <tr>
            <td height="100px" colspan="2" align="left">

                <h3>{{title}}</h3>
                <h3>Sertifiseringsavtale</h3>
                <h3>Vedlegg: Betingelser, virkessalg</h3>
            </td>
        </tr>
        {{^watermark}}
        <tr>
            <td colspan="2">
                Dato: {{signatureDate}}
            </td>
        </tr>
        <tr>
            <td height="500px">
                ______________________________<br>
                Selger
            </td>
            <td>
                ______________________________<br>
                Kjøper
            </td>
        </tr>
        {{/watermark}}
    </table>








    <!-- NEW PAGE -->






    <p style="page-break-before: always">


    <table width="100%" class="bordered">
        <thead>
            <td>Kommune (navn/nummer)</td>
            <td>Hovednr</td>
            <td>Skogfond %</td>
            <td>Driftspris</td>
            <td>Hentested</td>
            <td>Styrende for avvirkn.</td>
        </thead>
        <tr>
            <td>{{head.MuniName}}/{{head.MuniNum}}</td>
            <td>Gnr {{head.GridNum}}, bnr {{head.HoldingNum}}</td>
            <td>{{head.ForestryFundPercentage}}</td>
            <td>{{head.OperationCost}}</td>
            <td>{{pickupLocationName}}</td>
            <td>{{additionalFields.production}}</td>
        </tr>
    </table>
    <br>
    <table width="100%" class="bordered">
        <thead>
            <td>Teignavn/nr</td>
            <td>Hogstform</td>
            <td>Bestand nr</td>
            <td>Areal</td>
            <td>Foryngelsesmetode</td>
            <td>Kommentar</td>
        </thead>
        {{#features}}
        <tr>
            <td>{{attributes.name}}/{{attributes.teignr}}</td>
            <td>{{attributes.hogstform}}
            {{#attributes.type_hogst}}, {{attributes.type_hogst}}{{/attributes.type_hogst}}        
            {{#attributes.type_lukket_hogst}}: {{attributes.type_lukket_hogst}}{{/attributes.type_lukket_hogst}}</td>
            <td>{{attributes.bestandnr}}</td>
            <td>{{geometry._area_rounded1}}da</td>
            <td>{{attributes.foryngelsesmetode}}</td>
            <td>{{attributes.forestOwnerComment}}</td>            
        </tr>
        {{/features}}
    </table>
    <br>
    <table width="100%" class="bordered text-center">
        <thead>
            <td>Annet vedr. driftsavtale</td>
            <td>Ansvarlig gjennomføring</td>
            <td>Kostnad belastes</td>
            <td>Frist gjennomføring, mnr. år</td>
        </thead>
        <tr>
            <td class="headbg left-content">Snøbrøyting/grusing</td>
            <td>{{additionalFields.snowPlowingResponsible}}{{#additionalFields.snowPlowingContact}}, kontaktperson:
                {{additionalFields.snowPlowingContact}}{{/additionalFields.snowPlowingContact}}{{#additionalFields.snowPlowingPhone}},
                tlf: {{additionalFields.snowPlowingPhone}}{{/additionalFields.snowPlowingPhone}}</td>
            <td>{{additionalFields.snowPlowingBilling}}</td>
            <td>{{additionalFields.snowPlowingDamageDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Oppretting av sporskader terreng</td>
            <td>{{additionalFields.terrainTrackDamageResponsible}}</td>
            <td>{{additionalFields.terrainTrackDamageBilling}}</td>
            <td>{{additionalFields.terrainTrackDamageDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Oppretting av sporskader vei</td>
            <td>{{additionalFields.roadTrackDamageResponsible}}</td>
            <td>{{additionalFields.roadTrackDamageBilling}}</td>
            <td>{{additionalFields.roadTrackDamageDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Grøfterensk</td>
            <td>{{additionalFields.trenchClearingResponsible}}</td>
            <td>{{additionalFields.trenchClearingBilling}}</td>
            <td>{{additionalFields.trenchClearingDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Arbeidsvarsling/skiltplan</td>
            <td>{{additionalFields.signPlanResponsible}}</td>
            <td>{{additionalFields.signPlanBilling}}</td>
            <td>{{additionalFields.signPlanDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Varsling e-verk/televerk</td>
            <td>{{additionalFields.powerplantCoordinationResponsible}}</td>
            <td>{{additionalFields.powerplantCoordinationBilling}}</td>
            <td>{{additionalFields.powerplantCoordinationDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Fremkjørtmelding</td>
            <td>{{additionalFields.forwardedResponsible}}</td>
            <td>{{additionalFields.forwardedBilling}}</td>
            <td>{{additionalFields.forwardedDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Planlegging av drift/sjekk av miljøinfo</td>
            <td>{{additionalFields.environmentReportResponsible}}</td>
            <td>{{additionalFields.environmentReportBilling}}</td>
            <td>{{additionalFields.environmentReportDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Kontakt med naboer vedrørende forhold som må avklares</td>
            <td>{{additionalFields.neighborCoordinationResponsible}}</td>
            <td>{{additionalFields.neighborCoordinationBilling}}</td>
            <td>{{additionalFields.neighborCoordinationDeadline}}</td>
        </tr>
        <tr>
            <td class="headbg left-content">Merking av virke</td>
            <td>{{additionalFields.woodMarkingResponsible}}</td>
            <td>{{additionalFields.woodMarkingBilling}}</td>
            <td>{{additionalFields.woodMarkingDate}}</td>
        </tr>
    </table>
    <br>
    <table width="100%" class="bordered">
        <thead class="text-center">
            <td>Miljø/hensyn</td>
            <td>Merknad</td>
        </thead>

        {{#miljoSections}}
        {{#rows}}
        <tr>
            <td class="headbg">{{question}}</td>
            <td>{{answer}}</td>
        </tr>
        {{/rows}}
        {{/miljoSections}}
    </table>

    <br>
    <table width="100%" class="bordered">
        <thead>
            <td>Sort nr</td>
            <td>Sort navn</td>
            <td>Pris pr. fm³ ub</td>
            <td>Prisliste nr</td>
            <td>Volum fm³ ub</td>
            <td colspan="{{priceListTableMonthsLength}}">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td colspan="4">Estimert leveringstermin, kvantum m³ per mnd</td>
                    </tr>
                    <tr>
                        {{#priceListTableMonths}}
                        <td>{{.}}</td>
                        {{/priceListTableMonths}}
                    </tr>
                </table>
            </td>
        </thead>
        {{#priceListTable}}
        <tr>
            <td>{{AssNum}}</td>
            <td>{{AssName}}</td>
            <td>{{Price}}</td>
            <td>{{PriceList}}</td>
            <td>{{Volume}}</td>
            {{#Months}}
            <td>{{VolumeStr}}</td>
            {{/Months}}
        </tr>
        {{/priceListTable}}
        <tr>
            <td colspan="4" align="rightfeaturesArea">Volum i m³ totalt</td>
            <td>{{priceListTotalSum}}</td>
            {{#priceListSumPerMonth}}
            <td>{{.}}</td>
            {{/priceListSumPerMonth}}
        </tr>
    </table>
    <br>
    {{priceListTableAsterixText}}
    Virket avregnes og utbetales skogeier på grunnlag av gjeldende priser i markedet ved innmålingsdato.<br>
    Oppgjørsgrunnlag er volum- og verdiberegning på grunnlag av volum oppgitt i målekvitteringer.<br><br>

    <table width="100%" class="bordered" style="height: 100px">
        <tr>
            <td style="vertical-align: top; white-space: pre-wrap;">
                <br>Merknad:
                <br>{{additionalFields.messageToForestOwner}}
                {{#isAreaCohesiveProductiveAreaSet}}
                </br>Skogeier formidler landskapsplan for oppstart av drift.
                {{/isAreaCohesiveProductiveAreaSet}}
            </td>
        </tr>
    </table>


    </p>








    <!-- NEW PAGE -->


    <p style="page-break-before: always">

    <table width="100%" cellpadding="1" cellspacing="0">
        <tr>
            <td valign="top"><img height="60px" src="https://www.storaenso.com/-/media/system-images/logo-large.png"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h1>{{title}} - Kart</h1>
            </td>
        </tr>
        {{#mapImages}}
        <tr>
            <td align="center" colspan="2">
                <img style="height: 700px;" src="{{image}}">
                <br>{{comment}}
            </td>
        </tr>
        {{/mapImages}}
    </table>

    </p>


    <!-- Sertifiseringsavtale -->
    <p style="page-break-before: always"></p>
    <h1>Sertifiseringsavtale</h1>
    <h2>1. SKOGEIERS FORPLIKTELSER:</h2>
    <p>
        <strong>1.1.</strong> Følge norsk lovgivning relevant for skogforvaltning og Norsk PEFC Skogstandard for all
        aktivitet på skogeiendommen.
    </p>
    <p>
        <strong>1.2.</strong> Skaffe seg kompetanse om Norsk PEFC Skogstandard eller benytte andre som har slik
        kompetanse ved
        planlegging og gjennomføring av skogbrukstiltak på eiendommen.
    </p>
    <p>
        <strong>1.3.</strong> Sørge for at all relevant informasjon blir meddelt sertifikatholder eller entreprenør. Gi
        Sertifikatholder
        tilgang til bruk av informasjon fra skogbruksplaner for alle skogeiendommer der dette finnes.
    </p>
    <p>
        <strong>1.4.</strong> Følge sertifikatholders krav og rutiner i forbindelse med oppfølging av sertifiseringen.
        Hogst og andre
        skogbrukstiltak i nøkkelbiotoper, som åpner for skjøtsel, skal godkjennes på forhånd av sertifikatholder.
    </p>
    <p>
        <strong>1.5.</strong> Akseptere de vurderinger utførende entreprenør/sertifikatholder gjør i forhold
        sporutbedring og miljøhensyn
        i hogsten. Ansvaret for sporoppretting skal konkretiseres i virkeskontrakten.
    </p>
    <p>
        <strong>1.6.</strong> Ikke utføre tiltak på eiendommen som er i strid med Norsk PEFC Skogstandard etter at
        hogsten er
        gjennomført. Eksempler på tiltak som ikke kan utføres er hogst i av livsløpstrær og hogst i kantsone som
        reduserer eller endrer kantsonens funksjon.
    </p>
    <p>
        <strong>1.7.</strong> Sørge for at skogen forynges etter hogst, ihht. Lov om skogbruk § 6 og krav i Norsk PEFC
        Skogstandard.
    <p>
        <strong>1.8.</strong> Samarbeide og bistå ved gjennomføring av internkontroll, internrevisjon og
        eksternrevisjon. Herunder svare på alle forespørsler om relevant informasjon fra sertifikatholder eller
        sertifiseringsorgan.
    </p>
    <p>
        <strong>1.9.</strong> Bidra til å lukke avvik som oppstår på eiendommen samt sørge for å gjennomføre
        korrigerende og/eller forebyggende tiltak som pålegges fra sertifikatholder.
    </p>
    <p>
        <strong>1.10.</strong> Følge PEFC Norges retningslinjer for offentlighet knyttet til informasjon som er av
        interesse for allmenheten. Jfr. Skogbrukslovens bestemmelser og Norsk PEFC Skogstandard om åpenhet om
        miljøinformasjon.
    </p>
    <p>
        <strong>1.11.</strong> Dokumentere hogst og andre tiltak i samsvar med sertifikatholders krav (jfr også PEFC N
        03 kap 7.2 - pkt 4,5 og 6).
    </p>


    <h2>3. SERTIFIKATHOLDERS FORPLIKTELSER:</h2>

    <p>
        <strong>2.1.</strong> Sørge for at skogeier får nødvendig informasjon og veiledning for å oppfylle kravene i
        Norsk PEFC Skogstandard.
    </p>
    <p>
        <strong>2.2.</strong> Informere skogeier om endringer i Norsk PEFC Skogstandard.
    </p>
    <p>
        <strong>2.3.</strong> Gjennom stikkprøvebasert kontroll og revisjon, kontrollere at sertifiserte skogeiere
        oppfyller kravene i sertifiseringssystemet.
    </p>
    <p>
        <strong>2.4.</strong> Rett til å iverksette korrigerende og/eller forebyggende tiltak ved avvik hos sertifiserte
        skogeiere eller i gruppesertifikatholders administrative rutiner.
    </p>
    <p>
        <strong>2.5.</strong> Følge PEFC Norges retningslinjer for offentlighet i henhold til PEFC N-01
    </p>
    <p>
        <strong>2.6.</strong> Dokumentere hogst og andre tiltak i samsvar med sertifikatholders krav.
    </p>
    <p>
        <strong>2.7.</strong> Skogeier som hogger/administrerer skogsdrift selv skal oppbevare dokumentasjon om driften,
        slik at den kan forevises ved forespørsel.
    </p>
    <p>
        <strong>2.8.</strong> Dokumentasjonen skal oppbevares i minimum 10 år.
    </p>

    <h2>3. AVVIK</h2>
    Hvis skogeier oppdager avvik fra lovverk og/eller Norsk PEFC Skogstandard skal dette rapporteres til
    gruppesertifikatholder skriftlig eller muntlig så snart som mulig.

    Skogeier plikter å opplyse om åpne avvik ved skifte til ny gruppesertifikatholder. Ved tilslutning til mer enn
    en gruppesertifikatholder, skal avvik meddeles øvrige sertifikatholdere.
    <h2>4. AVTALETID</h2>
    Avtalen løper fra [xx.xx.xxxx] og opphører uten forutgående oppsigelse den [xx.xx.xxxx].
    <h2>5. MISLIGHOLD OG OPPSIGELSE</h2>
    <p>Dersom skogeier misbruker skogsertifiseringen eller hvis det avdekkes alvorlige avvik som ikke følges opp, kan
        sertifikatholder ved skriftlig varsel suspendere eller si opp avtalen om deltakelse i gruppesertifiseringen.
        Sertifikatholder skal varsle sertifiseringsorganet og PEFC Norge om suspensjon og oppsigelse av avtale.
        Suspenderte skogeiere registreres hos PEFC Norge og kan ikke inngå ny sertifiseringsavtale før avvik er lukket.
    </p>

    <p>Dersom sertifikatholder ikke følger opp de forpliktelser selskapet har påtatt seg i henhold til denne avtale,
        har skogeier anledning til å trekke seg fra avtalen med øyeblikkelig virkning, etter skriftlig varsel og
        dokumentert påvisning av den aktuelle unnlatelse fra sertifikatholder.</p>

    <p>Ved oppsigelse av sertifiseringsavtalen opprettholdes sertifikatholders ansvar og rettighet til å kontrollere
        eiendommen i inntil 1 år etter oppsigelse. Skogeiers forpliktelse til å samarbeide, ved gjennomføring av
        kontroll, revisjon og lukking av eventuelle avvik, opprettholdes på tilsvarende måte i 1 år.</p>

    <p>Skogeier kan klage til sertifiseringsorganet på oppsigelse eller suspensjon av sertifiseringsavtalen.</p>

    <p>Denne avtalen er utarbeidet i tråd med PEFC Norge sine retningslinjer.</p>

    <!-- Virkeskontrakt med driftsavtale -->
    <p style="page-break-before: always"></p>
    <h1>Virkeskontrakt med driftsavtale</h1>
    <h2>1. KONTRAKTSBETINGELSER VED VIRKESSALG:</h2>
    Definisjoner:
    <p><strong>a)</strong> Selger kan kun være skogeier som har hjemmel til eiendommen hvorfra det selges virke.
        Hjemmelshaver kan gi andre
        fullmakt til å underskrive virkeskontrakten på sine vegne.</p>
    <p><strong>b)</strong> Driftsansvarlig er selger, eller den som i kontrakten er oppført som dette på vegne av
        selger.</p>

    <p>
        <strong>1.1. Generelle kontraktsbetingelser</strong><br>
        Stora Enso Skogs generelle kontraktsbetingelser fremgår av bilag 1 og bilag 2 til dette avtaledokument. Bilag 1
        og 2 utfyller ordlyden i dette avtaledokument. Dersom det er direkte motstrid mellom ordlyden i dette
        avtaledokument og de generelle betingelsene i bilag 1 og 2, er det ordlyden i dette avtaledokumentet som er
        gjeldende.
    </p>
    <p>
        <strong>1.2. Stora Enso Skog AS’ Videresalg av virke i kontrakten</strong><br>
        Stora Enso Skog AS kan videreselge alt tømmer i kontrakten til enhver kjøper som Stora Enso Skog AS har avtale
        med.
    </p>
    <p>
        <strong>1.3. Eiendomsrett til virket</strong><br>
        Eiendomsrett til virke i kontrakten overgår til Stora Enso Skog AS ved måling. Skogeier har alltid risiko for
        virkets tilfeldige undergang til det er opplastet på bil. Skogeier har alltid ansvar for skade virket påfører
        tredjemann til det er opplastet på bil. Dersom selger misligholder kontrakten og Stora Enso Skog AS som følge
        derav forestår fremdrift av kontraktskvantum, overgår eiendomsretten til virket på hogsttidspunktet
    </p>
    <p>
        <strong>1.4. Vei og velteplassforhold</strong><br>
        Skogeier er ansvarlig for å påvise grenser, utkjøringsveier og velteplasser og å holde nødvendige veier, bruer,
        velteplasser m.v. i forsvarlig stand. Utgifter til leie av veier og velteplasser samt utbedring av vei- og
        terrengskader dekkes av skogeier hvis ikke annet særskilt er avtalt.
        Hvis transportør på grunn av forhold på privat vei, snuplass eller velteplass må kjøre mindre lass enn normalt,
        eller ikke får kjørt (bomtur), kan dette medføre trekk i virkesoppgjør.
    </p>
    <p>
        <strong>1.5. Måling av virket</strong><br>
        Virket måles normalt på Stora Enso Skog AS’ kjøpers mottaksted.
        Virket måles i henhold til gjeldende sortimentsbeskrivelser, toleransetabeller, dimensjonsavgrensninger og
        måleregelement. Virket som ikke holder kravene til levert sortiment innmåles som utlegg til redusert pris eller
        vrakes. Vraket virke er kjøpers eiendom. Virke som i henhold til reglement ikke kan måles avvises for måling.
        Selger plikter å fjerne slikt virke fra målestedet umiddelbart og for egen regning. Det utstedes målekvittering
        for målt virke. Selgers andel av målekostnaden trekkes i virkesoppgjør.
    </p>
    <p>
        <strong>1.6. Priser</strong><br>
        Virket verdiberegnes i henhold til priser for de enkelte sortimenter i eget vedlegg.
        Priser for avvirkningskostnader, fremkjøring og annet spesifiseres i egen avtale.
    </p>
    <p>
        <strong>1.7. Betalingsbetingelser</strong><br>
        Virke som er innmålt innen utløpet av kalendermåneden avregnes i henhold til månedlige oppgjørsterminer
        registrert i
        Skog-Data.
        Utbetalingstidspunkt for etterbetalinger, korrigeringer og lignende kan fravike disse oppgjørsterminer.
    </p>
    <p>
        <strong>1.8. Trekk i virkesoppgjør</strong><br>
        Ved utbetaling av virkesoppgjør trekkes måleøre, trekk pålagt av myndighetene i henhold til lov/forskrift,
        driftskostnader og eventuelt andre trekk som det er gjort avtale om mellom partene.
    </p>
    <p>
        <strong>1.9. Driftsavtale</strong><br>
        Hvis det er opprettet driftsavtale med utførende entreprenør i virkeskontrakten, skal avtalt driftspris trekkes
        fra virkesoppgjør.
    </p>
    <strong>1.10. Sertifiseringavtale</strong><br>
    Underskrevet sertifiseringsavtale mellom selger og Stora Enso Skog AS (eller annen godkjent aktør) skal
    foreligge
    før virkeskontrakten er bindende for Stora Enso Skog AS.

    <p>Stora Enso Skog er i prosess med etablering av et gruppesertifikat og har, inntil slik godkjenning er på plass,
        inngått samarbeidsavtale med Skog og Virke AS, som vil sertifisere på vegne av Stora Enso Skog AS. Inntil Stora
        Enso Skog AS har eget sertifikat, inngås således egen sertifiseringsavtale mellom selger og Skog og Virke AS.
        Når Stora Enso Skog AS har fått på plass gruppesertifikat, vil Stora Enso Skog AS overta oppfølging og ansvar
        for sertifiseringen, og skogeier plikter da å inngå sertifiseringsavtale med Stora Enso Skog AS.</p>
    <p>Ved brudd på sertifiseringsavtalen bortfaller enhver av Stora Enso Skog AS sine forpliktelser i henhold til
        virkeskontrakten umiddelbart og uten varsel</p>
    <p>Selger plikter å erstatte Stora Enso Skog AS sine direkte kostnader som måtte oppstå som følge av selgers
        mislighold av sertifiseringsavtale.</p>


    <strong>1.11. Reklamasjoner</strong>
    <p>Reklamasjon skal fremmes skriftlig, senest 14 dager etter påstått avvik/feil avdekkes.</p>

    <strong>1.12. Force majeure</strong>
    <p>Force majeure som mobiliseres, krig, naturkatastrofe, streik, lockout, blokade, brann, statlige inngrep,
        hindrende
        drifts- og eller transportforhold eller andre forhold som partene ikke rår over, fritar partene for plikt i
        henhold til denne kontrakt. Det forutsettes at den part det gjelder så snart som mulig, og senest 30 dager etter
        at det har vært mulig å bedømme at slik situasjonen har oppstått, varsler den andre parten.</p>
    <p>Hvis Stora Enso Skog AS sin kjøper av virket i denne kontrakten påberoper seg force majeure, vil denne også bli
        gjort gjeldende av Stora Enso Skog AS ovenfor selger.</p>

    <h2>2. BEHANDLING AV PERSONOPPLYSNINGER</h2>
    <p>Ved underskrift av denne kontrakt/miljøavtale/driftsavtale vil Stora Enso Skog AS, i medhold av
        Personopplysningslovens § 8, pkt c, behandle personopplysninger som omhandler Stora Enso Skog AS’ sin
        rapporteringsplikt til myndighetene. Alle personopplysninger innhentet av Stora Enso Skog AS skal kun anvendes
        til det formål de er registrert.</p>

    <p>Formålet med behandlingen av personopplysninger er:</p>
    <ul>
        <li>Overholdelse av myndighetenes rapporteringsplikt</li>
        <li>Nødvendige opplysninger for å ivareta Stora Enso Skog AS sine miljøsertifikater</li>
    </ul>

    <p>Ved underskrift gis samtykke til registrering av kundens e-post for bruk i forretningsmessig sammenheng og
        for markedsføring av Stora Enso Skog AS’ skogstjenester overfor kunden. Det henvises for øvrig til
        Personvernerklæringer fra Stora Enso Skog AS. Se www.storaenso.com</p>



</body>

</html>