<div style="break-after:page"></div>


<div>
	<div style="clear:both">
		<p style="margin-bottom:0pt; line-height:120%; font-size:14pt">
			Fritzøe Skoger Ungskopleieinstruks
		</p>
		<p style="margin-bottom:0pt; line-height:120%; font-size:12pt">
			Laget: 2.11.2020, revidert 05.09.2024
		</p>
		<p style="margin-bottom:0pt; line-height:120%; font-size:12pt">
			Ansvarlig: Simen Breian/Celina Mathiesen
		</p>
		<p class="Header" style="font-size:12pt">
			Godkjent av: Terje Kristoffersen
		</p>
	</div>
	<p style="margin-top:6pt; margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>GENERELT </strong>
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		All utført ungskogpleie skal ha en tilfredsstillende kvalitet og bevare eventuelle miljøverdier i henhold til<span style="font-family:Arial">&#xa0;</span><span style="font-family:Arial">ISO 14001</span><span style="font-family:Arial">&#xa0;</span><a href="https://pefc.no/vare-standarder/norsk-pefc-skog-standard" style="text-decoration:none"><span class="Hyperlink" style="font-family:Arial">Norsk PEFC Skogstandard</span></a><span style="font-family:Arial"> </span><span style="font-family:Arial">&#xa0;</span><span style="font-family:Arial">(FSC®-C103857)</span> <a href="http://www.fsc.org/" target="_blank" style="text-decoration:none"><span class="Hyperlink" style="font-family:Arial">FSC®</span></a><span class="Hyperlink" style="font-family:Arial">.</span> 
	</p>
	<p style="margin-top:6pt; margin-bottom:0pt; line-height:120%; font-size:11pt">
		Alle arbeidere skal gjøre seg kjent med ungskogpleieinstruks, arbeidsordre og kart før oppstart.
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		Hvor det opererer flere arbeidere sammen skal arbeidsleder fordele bestandet innad i gruppen. Arbeidsleder har ansvaret for at instruksen er lest og forstått av de resterende på laget. 
	</p>
	<p style="margin-top:6pt; margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>Løvrydding:</strong>
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		Tiltaket har som målsetting å sikre at nødvendig antall trær får best mulige utviklingsmuligheter fram 
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		til tidspunkt for avstandsregulering. Løvrydding gjøres normalt ved bestandshøyde 0,5-2 m.
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>&#xa0;</strong>
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>Avstandsregulering:</strong>
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		Tiltaket har som målsetting å sikre utviklingsmulighet (kronedybde og kvalitetsutvikling) til rett antall framtidsstammer i forhold til markas produksjonsevne og optimal økonomisk tilvekst.
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		Tiltaket gjøres ved bestandshøyde 5-8 m.&#xa0; 
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		&#xa0;
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>MILJØKRAV OG UTFØRELSE:</strong>
	</p>
	<table style="width:496.9pt; margin-bottom:0pt; border:0.75pt solid #000000; border-collapse:collapse">
		<tr style="height:11.35pt">
			<td style="width:159.3pt; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9">
				<p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11pt">
					<strong><span style="font-family:Helvetica; ">Beskrivelse</span></strong>
				</p>
			</td>
			<td style="width:166.4pt; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9">
				<p style="margin-bottom:0pt; text-align:center; line-height:108%; font-size:11pt">
					<strong><span style="font-family:Helvetica; ">Karttegn</span></strong>
				</p>
			</td>
			<td style="width:138.05pt; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9">
				<p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11pt">
					<strong><span style="font-family:Helvetica; ">Avstand</span></strong>
				</p>
			</td>
		</tr>
		<tr style="height:11.35pt">
			<td style="width:159.3pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					Veigrøfter, grøft og mindre bekk uten helårs vannføring
				</p>
			</td>
			<td style="width:166.4pt; border:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-left:35.4pt; margin-bottom:0pt; line-height:normal; font-size:11pt">
					&#xa0;
				</p>
			</td>
			<td style="width:138.05pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					1 meter til trær som spares. Holdes fri for nedfelte trær.
				</p>
			</td>
		</tr>
		<tr style="height:11.35pt">
			<td style="width:159.3pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:108%; font-size:11pt">
					Merket sti/skiløype, sti historielag 
				</p>
			</td>
			<td style="width:166.4pt; border:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11pt">
					<strong>Stiplet linje og kommentar i kart</strong>
				</p>
			</td>
			<td style="width:138.05pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					Holdes fri for nedfelte trær i eksisterende bredde.
				</p>
			</td>
		</tr>
		<tr style="height:11.35pt">
			<td style="width:159.3pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:108%; font-size:11pt">
					Ikke merket sti og vei
				</p>
			</td>
			<td style="width:166.4pt; border:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; text-align:center; line-height:normal; font-size:11pt">
					<strong>Stiplet linje og kommentar i kart</strong>
				</p>
			</td>
			<td style="width:138.05pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					Angis i tekst i arbeidsordre og kart
				</p>
			</td>
		</tr>
		<tr style="height:11.35pt">
			<td style="width:159.3pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:108%; font-size:11pt">
					Skogsbilvei/offentlig vei
				</p>
			</td>
			<td style="width:166.4pt; border:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-left:35.4pt; margin-bottom:0pt; line-height:normal; font-size:11pt">
					<span style="color:#538135">&#xa0;</span>
				</p>
			</td>
			<td style="width:138.05pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					4 meter fra veiskulder til trær som spares i bestandet
				</p>
			</td>
		</tr>
		<tr style="height:11.35pt">
			<td style="width:159.3pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					Kantsone bekk
				</p>
			</td>
			<td style="width:166.4pt; border:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					<span style="color:#538135">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><strong><span style="color:#538135">Grønn</span></strong><strong> </strong><strong><span style="color:#538135">hel/stiplet strek</span></strong>
				</p>
			</td>
			<td style="width:138.05pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					5 meter
				</p>
			</td>
		</tr>
		<tr style="height:11.35pt">
			<td style="width:159.3pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					Kulturminner/kulturmiljøer
				</p>
			</td>
			<td style="width:166.4pt; border:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					<strong>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </strong><strong>Symboler og tekst</strong>
				</p>
			</td>
			<td style="width:138.05pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					5 meter
				</p>
			</td>
		</tr>
		<tr style="height:11.35pt">
			<td style="width:159.3pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					Kantsone elv, myr og vann
				</p>
			</td>
			<td style="width:166.4pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					<strong><span style="color:#538135">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span></strong><strong><span style="color:#538135">Grønn hel/stiplet strek</span></strong>
				</p>
			</td>
			<td style="width:138.05pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-bottom:0pt; line-height:normal; font-size:11pt">
					10-25 meter
				</p>
			</td>
		</tr>
	</table>
	<p style="margin-top:6pt; margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong><span style="color:#ff0000">&#xa0;</span></strong>
	</p>
	<p>
		<strong>Generelle kravpunkter løvrydding og avstandsregulering:</strong>
	</p>
	<ul style="margin:0pt; padding-left:0pt">
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Flerbrukshensyn fra foryngelseshogst og bestandsetableringen ivaretas.</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Holt av or/svartor spares, avstand til framtidsstammer 4 m.</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">ROS arter, beitet furu, eik og bjørk og einer spares/evt. enkelte trær toppkappes 1 m høyde. Minimum avstand bartrær 1 m.</span><span style="font-family:Calibri">&#xa0; </span>
		</li>
	</ul>
	<ul style="margin:0pt; padding-left:0pt">
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Furu som ikke spares toppkappes.</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Skjær ned overstandere/varger som vil hemme/hemmer den nye foryngelsen. </span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Det skal gås helt ut i bestandskant får å få med løv som vil hemme/hemmer foryngelsen.</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Større rogner, over 8cm i brysthøydediameter, spares alltid</span>
		</li>
	</ul>
	<p style="margin-top:6pt">
		<strong>Løvrydding:</strong>
	</p>
	<ul style="margin:0pt; padding-left:0pt">
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Som hovedregel ryddes nesten alt løv ned. Løv spares i åpninger mellom framtidsstammer av bar og i fuktdrag med 2 m avstand fra framtidstrærne. </span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">All furu og gran spares med avstand 1-1,5 m. Det skal strebes etter så lav stubbehøyde som mulig på evt. gran som skjæres ned. Unntak kan forekomme, vil beskrives i arbeidsordre.</span><span style="font-family:Calibri">&#xa0; </span>
		</li>
	</ul>
	<p style="line-height:120%; font-size:11pt">
		<strong>&#xa0;</strong>
	</p>
	<p>
		<strong>Avstandsregulering:</strong>
	</p>
	<ul style="margin:0pt; padding-left:0pt">
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Løv skal utgjøre 10-20% av treslagsandelen. Løv prioriteres framfor gran og furu med dårlig kvalitet og undertrykte mindre graner. Ved prioritering av lauv skal det velges trær med tilnærmet lik høyde som framtidsstammene av bartre, minimum avstand bartrær 3 m.</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">I bestand hvor blanding er etablert eller hvor det ligger til rette for dette, skal denne opprettholdes ved avstandsregulering.</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Reguler også mindre områder med løv i bestandet hvis ikke annen beskjed blir gitt.</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Minimumavstand mellom gjenstående framtidsstammer 1,5 m.</span>
		</li>
	</ul>
	<p style="margin-top:6pt; margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>&#xa0;</strong>
	</p>
	<p style="margin-top:6pt; margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>TREANTALL DA/ETTER UTFØRT TILTAK </strong>
	</p>
	<p style="margin-top:6pt; margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>Løvrydding:</strong>
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		Alle bartrær spares hvis annen beskjed ikke blir gitt. Minimum avstand mellom bartrærne 1 m.
	</p>
	<p style="margin-top:6pt; margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>Avstandsregulering </strong><strong><span style="color:#ff0000">gran</span></strong><strong>:</strong>
	</p>
	<table style="width:454.1pt; margin-bottom:0pt; border:0.75pt solid #000000; border-collapse:collapse">
		<tr>
			<td style="width:71.35pt; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					Bonitet
				</p>
			</td>
			<td style="width:63.35pt; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					G26-23
				</p>
			</td>
			<td style="width:63.45pt; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					G20
				</p>
			</td>
			<td style="width:63.35pt; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					G17
				</p>
			</td>
			<td style="width:59.9pt; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					G14
				</p>
			</td>
			<td style="width:67.15pt; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					G11
				</p>
			</td>
		</tr>
		<tr>
			<td style="width:71.35pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					Treantall/da
				</p>
			</td>
			<td style="width:63.35pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					150 
				</p>
			</td>
			<td style="width:63.45pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					140 
				</p>
			</td>
			<td style="width:63.35pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					130 
				</p>
			</td>
			<td style="width:59.9pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					120 
				</p>
			</td>
			<td style="width:67.15pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					110 
				</p>
			</td>
		</tr>
	</table>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>&#xa0;</strong>
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>Avstandsregulering </strong><strong><span style="color:#ff0000">furu / blanding</span></strong><strong>:</strong>
	</p>
	<table style="width:454.1pt; margin-bottom:0pt; border:0.75pt solid #000000; border-collapse:collapse">
		<tr>
			<td style="width:71.3pt; border-right:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					Bonitet
				</p>
			</td>
			<td style="width:84.05pt; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					F20
				</p>
			</td>
			<td style="width:81.35pt; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					F17
				</p>
			</td>
			<td style="width:81.35pt; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					F14
				</p>
			</td>
			<td style="width:81.3pt; border-left:0.75pt solid #000000; border-bottom:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					F11
				</p>
			</td>
		</tr>
		<tr>
			<td style="width:71.3pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					Treantall/da
				</p>
			</td>
			<td style="width:84.05pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					160 
				</p>
			</td>
			<td style="width:81.35pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					150 
				</p>
			</td>
			<td style="width:81.35pt; border-top:0.75pt solid #000000; border-right:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					140 
				</p>
			</td>
			<td style="width:81.3pt; border-top:0.75pt solid #000000; border-left:0.75pt solid #000000; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top">
				<p style="margin-top:6pt; line-height:120%; font-size:11pt">
					130 
				</p>
			</td>
		</tr>
	</table>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>&#xa0;</strong>
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		Minimumavstand mellom gjenstående framtidsstammer 1,5 m.
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		&#xa0;
	</p>
	<p style="margin-top:6pt; margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>Egenkontroll av treantall/da etter utført inngrep:</strong>
	</p>
	<ul style="margin:0pt; padding-left:0pt">
		<li class="ListParagraph" style="margin-top:6pt; margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Det skal utføres minimum 6 målinger pr dag/mann med stang/snor. 3 av målingene skal tas etter en tenkt rett linje med minimum avstand mellom hver måling på 15 m. Disse målingene merkes i bestandet med merkebånd og rapporteres sammen med timer/dag. Resterende målinger tas vilkårlig.</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Ved 3 av målingene skal treantall før regulering måles (telle stubber). </span>
		</li>
	</ul>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>&#xa0;</strong>
	</p>
	<p style="margin-bottom:0pt; line-height:120%; font-size:11pt">
		<strong>PÅBUDT VERNEUTSTYR OG SIKKERHET:</strong>
	</p>
	<ul style="margin:0pt; padding-left:0pt">
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Godkjent hjelm påmontert godkjent hørselvern og visir/vernebriller ved trehøyde over 2m</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Ved trehøyde under 2m er kun hørsels- og øyevern påbudt</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Fottøy med godt gripmønster</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Signalfarget jakke/refleksvest </span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Enkeltmannspakke og/eller førstehjelpskrin tilgjengelig på arbeidsstedet</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Ved arbeid hvor to eller flere arbeider i samme område/bestand må sikker avstand mellom arbeiderne opprettholdes</span><span style="font-family:Calibri; color:#ff0000">, sikkerhetsavstand 30m</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Arbeidsleder har ansvaret for å fordele feltet mellom arbeiderne slik at sikkerhetsavstanden er umulig å bryte. </span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Ved snø/is/glatt føre: vurder behov for brodder/pigger på verneskoene</span>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Alenearbeid: Hver og en er ansvarlig for sin egen sikkerhet og må alltid passe på å ha tilgjengelig kommunikasjonsmiddel ved arbeid alene slik at det enkelt kan varsles ved uhell</span><em><span style="font-family:Calibri; color:#ff0000">. </span></em>
		</li>
		<li class="ListParagraph" style="margin-left:28.06pt; margin-bottom:0pt; line-height:120%; padding-left:7.94pt; font-family:serif; font-size:11pt">
			<span style="font-family:Calibri">Tilfredsstillende kommunikasjonsmiddel (telefon/sikringsradio)</span>
		</li>
	</ul>
</div>

