<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
    color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border {
    border: 1px solid black;
}
#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<table width="80%"><tr><td colspan="3">    
    <table width="100%">
        <tr>
            <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
                <img width="300px" src="https://img.feltgis.no/mev.png">
            </td>
        <td align="right" class="header" style="vertical-align: top">
            Brustad<br/>
            2090 HURDAL<br/>
            Tlf.: 63988970<br/>
            
            Org. nr: NO 931073737 MVA <br/>
        </td>
            <td align="right" style="vertical-align: top;">
                <font size="20">Egenkontroll</font>
                <h3>Endret {{_modified_Date}}</h3>
                <h4>Endret av: {{_modifiedBy}}</h4>
                <h4>IO-nummer: {{_orderNum}}</h4>
                <h4>Tømmermerke: {{_ownershipMark}}</h4>
            </td>
        </tr>
    </table>

   

    
    <table class="mytable" width="100%" border="0">
        <tr class="tableheader">
            <td width="75%"><b>Egenkontroll entreprenør</b></td>            
            <td></td>
        </tr>  
        <tr><td>Avvirket volum (m3)</td><td>{{volume}}</td></tr>
        <tr><td>Er det oppstått kjørespor med behov for oppretting?</td><td>{{tracks_Boolean}}</td></tr>
        <tr><td>Hvis det er oppstått kjørespor, er sted for oppretting avmerket på kartet?</td><td>{{marked_Boolean}}</td></tr>
        <tr><td>Er livsløpstre kartfestet?</td><td>{{tree_Boolean}}</td></tr>
        <tr><td>Er arbeidene gjennomført i samsvar med plan?</td><td>{{asplanned_Boolean}}</td></tr>
        <tr><td>Er arbeidene gjennomført i samsvar med Norsk PEFC Skogstandard?</td><td>{{pefc_Boolean}}</td></tr>
        <tr><td>Kantsone - gjennomsnittlig bredde på gjensatt kantsone (m)</td><td>{{padding}}</td></tr>        
        <tr><td>Avvik registrert</td><td>{{_dev_Boolean}}</td></tr>
        <tr><td>Maskinførers signatur</td><td>{{sign}}</td></tr>
        <tr><td colspan="2">{{comments}}</td></tr>   
    </table>
        
        
    {{#geojpgs}}
    <table><tr><td align="center">
      <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
    </td></tr><tr><td>
      <h3>
        {{comment}}
        {{#links}}
        <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
        {{/links}}
      </h3>
    </td></tr></table>
    {{/geojpgs}}

        
<tr><td></table>
</body>
</html>
