<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
    color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.border {
    border: 1px solid black;
}
#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

<table width="80%"><tr><td colspan="3">    
    <table width="100%">
        <tr>
            <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
                <img width="300px" src="https://img.feltgis.no/cappelen.png">
            </td>
        <td align="right" class="header" style="vertical-align: top">
            Industriveien 24<br/>
            3748 SILJAN<br/>
            Tlf.: 90478000<br/>
            
            Org. nr: NO 980 018 709 MVA <br/>
        </td>
            <td align="right" style="vertical-align: top;">
                <font size="20">Sluttrapport {{jobType}}</font>
                <h3>Endret {{order._modified_Date}}</h3>
                <h4>Endret av: {{order._modifiedBy}}</h4>
                <h4>Ordrenummer: {{_job_nr}}</h4>
            </td>
        </tr>
    </table>



{{#hasorder}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="50%"><b>Oppdragsinformasjon</b></td>            
      <td></td>
  </tr>  
  <tr><td>Navn på skogeier</td><td>{{order.forestOwnerName}}</td></tr>
  <tr><td>Skogeier e-post</td><td>{{order.forestOwnerEmail}}</td></tr>
  <tr><td>Leverandørnummer</td><td>{{order.levNr}}</td></tr>
  <tr><td>Kommune</td><td>{{order.muniName}}</td></tr>        
  <tr><td>Komnr-Gnr/bnr</td><td>{{order.muniNum}}-{{order.gridNum}}/{{order.holdingNum}}</td></tr>  
  <tr><td>Entreprenør</td><td>{{_workTeamOrgNum}}</td></tr>
  <tr><td>Areal planlagte tiltak</td><td>{{plannedArea}} daa</td></tr>
  {{#performedArea}}
  <tr><td>Areal utførte tiltak</td><td>{{performedArea}} daa</td></tr>
  <tr><td>Høyde over havet</td><td>{{performedElevation}}</td></tr>
  {{/performedArea}}
</table>
{{/hasorder}}   


{{#hasCAPlantingMottakskontroll}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="6"><b>Mottakskontroll</b></td>            
  </tr>
  <tr class="tableheader">
      <td>Registrert</td>
      <td>Refnr</td>
      <td>Grønne</td>
      <td>Fuktige</td>
      <td>Hele</td>
      <td>Kommentar</td>
  </tr>  
  
  {{#CAPlantingMottakskontroll}}
  <tr>
    <td>{{_created_Date}}</td>
    <td>{{refNr}}</td>
    <td>{{green_Boolean}}</td>
    <td>{{moist_Boolean}}</td>
    <td>{{notdamaged_Boolean}}</td>
    <td>{{comment}}</td>     
  </tr>  
  {{/CAPlantingMottakskontroll}}

</table>
{{/hasCAPlantingMottakskontroll}}



{{#hasCAPlantingTelling}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="3"><b>Tellinger</b></td>            
  </tr>
  <tr class="tableheader">
      <td>Registrert</td>
      <td>Antall</td>
      <td>Målemetode</td>
  </tr>  
  
  {{#CAPlantingTelling}}
  <tr>
    <td>{{_created_Date}}</td>
    <td>{{count}}</td>
    <td>{{countType}}</td>    
  </tr>  
  {{/CAPlantingTelling}}

</table>
{{/hasCAPlantingTelling}}


{{#hasFZUngskogpleieTelling}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="5"><b>Tellinger</b></td>            
  </tr>
  <tr class="tableheader">
      <td>Registrert</td>
      <td>Målemetode</td>
      <td>Antall gran</td>
      <td>Antall furu</td>
      <td>Antall lauv</td>
  </tr>  
  
  {{#FZUngskogpleieTelling}}
  <tr>
    <td>{{_created_Date}}</td>
    <td>{{countType}}</td>    
    <td>{{count_g}}</td>
    <td>{{count_f}}</td>
    <td>{{count_l}}</td>
  </tr>  
  {{/FZUngskogpleieTelling}}

</table>
{{/hasFZUngskogpleieTelling}}


{{#FZMarkberedningTelling}}
    <table class="mytable" width="90%" border="0">
        <tr class="tableheader">
          <td width="75%"><b>Kontrollflate markberedning</b></td>            
          <td></td>
        </tr>  
        <tr><td>Opprettet</td><td>{{_created_Date}}</td></tr>
        <tr><td>Opprettet av</td><td>{{_createdBy}}</td></tr>
        <tr><td>Godkjente plante-/spireplasser pr. dekar</td><td>{{approved_places}}</td></tr>
        <tr><td>Antall plante/-spiseplasser pr. dekar er i henhold</td><td>{{approved_places_ok_Boolean}}</td></tr>
        <tr><td>Oppløft naturlig/fysisk (prosent)</td><td>{{lifted_percent}}</td></tr>
        <tr><td>Avflekkingsgrad sammenhengende striper (prosent)</td><td>{{soil_exposure_coherent}}</td></tr>
        <tr><td>Avflekkingsgrad hensyntatt oppløft (prosent)</td><td>{{soil_exposure}}</td></tr>
        <tr><td>Avflekkingsgrad hensyntatt oppløft er i henhold</td><td>{{soil_exposure_ok_Boolean}}</td></tr>  
    </table>

    {{#geojpgs}}
    <table><tr><td align="center">
      <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
    </td></tr><tr><td>
      <h3>
        {{comment}}
        {{#links}}
        <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
        {{/links}}
      </h3>
    </td></tr></table>
    {{/geojpgs}}

{{/FZMarkberedningTelling}}


{{#hasFZSluttrapportPlanting}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>            
      <td></td>
  </tr>  
  <tr><td>Dato</td><td>{{FZSluttrapportPlanting._modified_Date}}</td></tr>
  <tr><td>Ansvarlig planting</td><td>{{FZSluttrapportPlanting.responsible}}</td></tr>
  <tr><td>Er riktig proveniens benyttet?</td><td>{{FZSluttrapportPlanting.proveniens_Boolean}}</td></tr>
  <tr><td>Er avfallet ryddet etter planting?</td><td>{{FZSluttrapportPlanting.cleaned_Boolean}}</td></tr>
  <tr><td>Er det plantet i kantsoner/vegetasjonsbelter eller stier?</td><td>{{FZSluttrapportPlanting.cleaned_edges}}</td></tr>
  <tr><td>Er det plantet nærmere enn 5m fra kjent kulturminne?</td><td>{{FZSluttrapportPlanting.planted_near_ch}}</td></tr>
  <tr><td>Er det plantet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{FZSluttrapportPlanting.planted_near_bio}}</td></tr>
  <tr><td>Er planteantall i tråd med gitt arbeidsordre?</td><td>{{FZSluttrapportPlanting.plant_count_ok_Boolean}}</td></tr>
  <tr><td>Er antall planter iht. lovens minstekrav?</td><td>{{FZSluttrapportPlanting.legal_ok_Boolean}}</td></tr>
  <tr><td>Er riktig planteplass benyttet?</td><td>{{FZSluttrapportPlanting.plant_place_Boolean}}</td></tr>
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td>{{FZSluttrapportPlanting.dev_Boolean}}</td></tr>
  <tr><td>Merknad</td><td>{{FZSluttrapportPlanting.dev_comment}}</td></tr>
  <tr><td>Er det behov for oppfølging?</td><td>{{FZSluttrapportPlanting.followup_Boolean}}</td></tr>
  <tr><td>Merknad til oppfølging</td><td>{{FZSluttrapportPlanting.dev_comment}}</td></tr>  

{{#FZSluttrapportPlanting.planttype1}}  
  <tr>
    <td>Antall planter {{FZSluttrapportPlanting.planttype1}}</td>
    <td>{{FZSluttrapportPlanting.planttype1count}}</td>
  </tr>  
{{/FZSluttrapportPlanting.planttype1}}

{{#FZSluttrapportPlanting.planttype2}}  
  <tr>
    <td>Antall planter {{FZSluttrapportPlanting.planttype2}}</td>
    <td>{{FZSluttrapportPlanting.planttype2count}}</td>
  </tr>  
{{/FZSluttrapportPlanting.planttype2}}

{{#FZSluttrapportPlanting.planttype3}}  
  <tr>
    <td>Antall planter {{FZSluttrapportPlanting.planttype3}}</td>
    <td>{{FZSluttrapportPlanting.planttype3count}}</td>
  </tr>  
{{/FZSluttrapportPlanting.planttype3}}

{{#FZSluttrapportPlanting.planttype4}}  
  <tr>
    <td>Antall planter {{FZSluttrapportPlanting.planttype4}}</td>
    <td>{{FZSluttrapportPlanting.planttype4count}}</td>
  </tr>  
{{/FZSluttrapportPlanting.planttype4}}


</table>
{{/hasFZSluttrapportPlanting}}   

{{#hasFZSluttrapportMarkberedning}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>                  
      <td></td>
  </tr>
  <tr><td>Dato</td><td>{{FZSluttrapportMarkberedning._modified_Date}}</td></tr>
  <tr><td>Ansvarlig markberedning</td><td>{{FZSluttrapportMarkberedning.responsible}}</td></tr>
  <tr><td>Er det ryddet i kantsoner/vegetasjonsbelter?</td><td>{{FZSluttrapportMarkberedning.edges_ok}}</td></tr>
  <tr><td>Er merkede og mye brukte stier ryddet og fremkommelige?</td><td>{{FZSluttrapportMarkberedning.trails_ok}}</td></tr>
  <tr><td>Er det ryddet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{FZSluttrapportMarkberedning.bio_ok}}</td></tr>
  <tr><td>Er rovfuglreir/tiurleik hensyntatt under arbeidet?</td><td>{{FZSluttrapportMarkberedning.nest_ok}}</td></tr>
  <tr><td>Er evt. andre spesielle hensyn ved arbeidet godt gjennomført? (eks. sette igjen lauv til elgbeite)</td><td>{{FZSluttrapportMarkberedning.other_ok}}</td></tr>
  <tr><td>Merknad, andre hensyn:</td><td>{{FZSluttrapportMarkberedning.other_notes}}</td></tr>
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td><b>{{FZSluttrapportMarkberedning.dev_Boolean}}</b></td></tr>
  <tr><td>Merknad til avvik</td><td>{{FZSluttrapportMarkberedning.dev_comment}}</td></tr>
  <tr><td>Er det behov for oppfølging?</td><td>{{FZSluttrapportMarkberedning.followup_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{FZSluttrapportMarkberedning.dev_comment}}</td></tr>
</table>
{{/hasFZSluttrapportMarkberedning}}   



{{#hasFZSluttrapportUngskogpleie}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>                  
      <td></td>
  </tr>
  <tr><td>Dato</td><td>{{FZSluttrapportUngskogpleie._modified_Date}}</td></tr>
  <tr><td>Ansvarlig ungskogpleie</td><td>{{FZSluttrapportUngskogpleie.responsible}}</td></tr>
  <tr><td>Organisasjonsnummer arbeidslag</td><td>{{FZSluttrapportUngskogpleie._workTeamOrgNum}}</td></tr>
  <tr><td>Er det ryddet i kantsoner/vegetasjonsbelter?</td><td>{{FZSluttrapportUngskogpleie.edges_ok}}</td></tr>
  <tr><td>Er merkede og mye brukte stier ryddet og fremkommelige?</td><td>{{FZSluttrapportUngskogpleie.trails_ok}}</td></tr>
  <tr><td>Er det ryddet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{FZSluttrapportUngskogpleie.bio_ok}}</td></tr>
  <tr><td>Er rovfuglreir/tiurleik hensyntatt under arbeidet?</td><td>{{FZSluttrapportUngskogpleie.nest_ok}}</td></tr>
  <tr><td>Er evt. andre spesielle hensyn ved arbeidet godt gjennomført? (eks. sette igjen lauv til elgbeite)</td><td>{{FZSluttrapportUngskogpleie.other_ok}}</td></tr>
  <tr><td>Merknad, andre hensyn:</td><td>{{FZSluttrapportUngskogpleie.other_notes}}</td></tr>
  <tr><td>Er treantall i tråd med gitt arbeidsordre?</td><td>{{FZSluttrapportUngskogpleie.treecount_ok_Boolean}}</td></tr>
  <tr><td>Er det gjort et godt valg av gjenstående trær?</td><td>{{FZSluttrapportUngskogpleie.selection_ok_Boolean}}</td></tr>
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td>{{FZSluttrapportUngskogpleie.dev_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{FZSluttrapportUngskogpleie.dev_comment}}</td></tr>
  <tr><td>Er det behov for oppfølging?</td><td>{{FZSluttrapportUngskogpleie.followup_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{FZSluttrapportUngskogpleie.dev_comment}}</td></tr>
</table>
{{/hasFZSluttrapportUngskogpleie}}   


{{#hasFZSluttrapportForhandsrydding}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>                  
      <td></td>
  </tr>
  <tr><td>Dato</td><td>{{FZSluttrapportForhandsrydding._modified_Date}}</td></tr>
  <tr><td>Ansvarlig forhåndsrydding</td><td>{{FZSluttrapportForhandsrydding.responsible}}</td></tr>
  <tr><td>Er det ryddet i kantsoner/vegetasjonsbelter?</td><td>{{FZSluttrapportForhandsrydding.edges_ok}}</td></tr>
  <tr><td>Er merkede og mye brukte stier ryddet og fremkommelige?</td><td>{{FZSluttrapportForhandsrydding.trails_ok}}</td></tr>
  <tr><td>Er det ryddet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{FZSluttrapportForhandsrydding.bio_ok}}</td></tr>
  <tr><td>Er rovfuglreir/tiurleik hensyntatt under arbeidet?</td><td>{{FZSluttrapportForhandsrydding.nest_ok}}</td></tr>
  <tr><td>Er evt. andre spesielle hensyn ved arbeidet godt gjennomført? (eks. sette igjen lauv til elgbeite)</td><td>{{FZSluttrapportForhandsrydding.other_ok}}</td></tr>
  <tr><td>Merknad, andre hensyn:</td><td>{{FZSluttrapportForhandsrydding.other_notes}}</td></tr>
  <tr><td>Er treantall i tråd med gitt arbeidsordre?</td><td>{{FZSluttrapportForhandsrydding.treecount_ok_Boolean}}</td></tr>
  <tr><td>Er det gjort et godt valg av gjenstående trær?</td><td>{{FZSluttrapportForhandsrydding.selection_ok_Boolean}}</td></tr>
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td>{{FZSluttrapportForhandsrydding.dev_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{FZSluttrapportForhandsrydding.dev_comment}}</td></tr>
  <tr><td>Er det behov for oppfølging?</td><td>{{FZSluttrapportForhandsrydding.followup_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{FZSluttrapportForhandsrydding.dev_comment}}</td></tr>
</table>
{{/hasFZSluttrapportForhandsrydding}}   



{{#hasFZSluttrapportGrofterensk}}   
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Egenkontroll</b></td>                  
      <td></td>
  </tr>
  <tr><td>Dato</td><td>{{FZSluttrapportGrofterensk._modified_Date}}</td></tr>
  <tr><td>Ansvarlig grøfterensk</td><td>{{FZSluttrapportGrofterensk.responsible}}</td></tr>
  <tr><td>Er det ryddet i kantsoner/vegetasjonsbelter?</td><td>{{FZSluttrapportGrofterensk.edges_ok}}</td></tr>
  <tr><td>Er merkede og mye brukte stier ryddet og fremkommelige?</td><td>{{FZSluttrapportGrofterensk.trails_ok}}</td></tr>
  <tr><td>Er det ryddet i nøkkelbiotop, reservat eller naturtype A eller B?</td><td>{{FZSluttrapportGrofterensk.bio_ok}}</td></tr>
  <tr><td>Er rovfuglreir/tiurleik hensyntatt under arbeidet?</td><td>{{FZSluttrapportGrofterensk.nest_ok}}</td></tr>
  <tr><td>Er evt. andre spesielle hensyn ved arbeidet godt gjennomført? (eks. sette igjen lauv til elgbeite)</td><td>{{FZSluttrapportGrofterensk.other_ok}}</td></tr>
  <tr><td>Merknad, andre hensyn:</td><td>{{FZSluttrapportGrofterensk.other_notes}}</td></tr>
  <tr><td>Er treantall i tråd med gitt arbeidsordre?</td><td>{{FZSluttrapportGrofterensk.treecount_ok_Boolean}}</td></tr>
  <tr><td>Er det gjort et godt valg av gjenstående trær?</td><td>{{FZSluttrapportGrofterensk.selection_ok_Boolean}}</td></tr>
  <tr><td>Er det under denne kontrollen registrert avvik?</td><td>{{FZSluttrapportGrofterensk.dev_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{FZSluttrapportGrofterensk.dev_comment}}</td></tr>
  <tr><td>Er det behov for oppfølging?</td><td>{{FZSluttrapportGrofterensk.followup_Boolean}}</td></tr>
  <tr><td>Merknad til avvik</td><td>{{FZSluttrapportGrofterensk.dev_comment}}</td></tr>
</table>
{{/hasFZSluttrapportGrofterensk}}   

{{#CADoneWork}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2"><b>Utført arbeid</b></td>
  </tr>
  <tr><td>Dato</td><td>{{_modified_Date}}</td></tr>
  {{#contractor_done_Boolean}}
  <tr><td>Markér som ferdig (entrep)</td><td>{{contractor_done_Boolean}}</td></tr>
  {{/contractor_done_Boolean}}
  {{#trees_after}}
  <tr><td>Antall trær per dekar etter ungskogpleie</td><td>{{trees_after}}</td></tr>
  {{/trees_after}}
  {{#seeds_grams_total}}
  <tr><td>Antall gram frø totalt</td><td>{{seeds_grams_total}}</td></tr>
  {{/seeds_grams_total}}
  {{#hours}}
  <tr><td>Timer</td><td>{{hours}}</td></tr>
  {{/hours}}
  {{^hours}}{{#hours_Decimal2}}
  <tr><td>Timer</td><td>{{hours_Decimal2}}</td></tr>
  {{/hours_Decimal2}}{{/hours}}
  {{#natural_plants}}
  <tr><td>Antall naturlig kommet per daa</td><td>{{natural_plants}}</td></tr>
  {{/natural_plants}}
  {{#seeds_grams_per_daa}}
  <tr><td>Antall gram frø per daa.</td><td>{{seeds_grams_per_daa}}</td></tr>
  {{/seeds_grams_per_daa}}
  {{#seeds_area_daa}}
  <tr><td>Sådd areal i daa.</td><td>{{seeds_area_daa}}</td></tr>
  {{/seeds_area_daa}}
  {{#seeds_ref_nr}}
  <tr><td>Frøparti (sertifikat nr)</td><td>{{seeds_ref_nr}}</td></tr>
  {{/seeds_ref_nr}}
  {{#seeds_Date}}
  <tr><td>Såtidspunkt</td><td>{{seeds_Date}}</td></tr>
  {{/seeds_Date}}
  {{#trees_before}}
  <tr><td>Antall trær per dekar før ungskogpleie</td><td>{{trees_before}}</td></tr>
  {{/trees_before}}
  {{#height_before_Decimal1}}
  <tr><td>Gjennomsnittlig trehøyde før ungskogpleie</td><td>{{height_before_Decimal1}}</td></tr>
  {{/height_before_Decimal1}}
  {{#height_after_Decimal1}}
  <tr><td>Gjennomsnittlig trehøyde etter ungskogpleie</td><td>{{height_after_Decimal1}}</td></tr>
  {{/height_after_Decimal1}}
  {{#perc_gran}}
  <tr><td>Andel gran</td><td>{{perc_gran}}</td></tr>
  {{/perc_gran}}
  {{#perc_furu}}
  <tr><td>Andel furu</td><td>{{perc_furu}}</td></tr>
  {{/perc_furu}}
  {{#perc_lauv}}
  <tr><td>Andel lauv</td><td>{{perc_lauv}}</td></tr>
  {{/perc_lauv}}

  {{#tree_kind_2}}
  <td colspan="2"><b>Plantetype 1</b></td>
  {{/tree_kind_2}}

  {{#proveniens}}
  <tr><td>Proveniens</td><td>{{proveniens}}</td></tr>
  {{/proveniens}}
  {{#tree_kind}}
  <tr><td>Treslag</td><td>{{tree_kind}}</td></tr>
  {{/tree_kind}}
  {{#plant_type}}
  <tr><td>Plantetype</td><td>{{plant_type}}</td></tr>
  {{/plant_type}}
  {{#plant_treatment}}
  <tr><td>Behandling</td><td>{{plant_treatment}}</td></tr>
  {{/plant_treatment}}
  {{#plant_type_1_percent}}
  <tr><td>Prosentfordeling plantetype 1</td><td>{{plant_type_1_percent}}</td></tr>
  {{/plant_type_1_percent}}
  {{#num_planted}}
  <tr><td>Antall plantede planter</td><td>{{num_planted}}</td></tr>
  {{/num_planted}}
  {{#refnr_plants}}
  <tr><td>Referansenummer planter</td><td>{{refnr_plants}}</td></tr>
  {{/refnr_plants}}

  {{#tree_kind_2}}
    <td colspan="2"><b>Plantetype 2</b></td>
    {{#proveniens_2}}
    <tr><td>Proveniens</td><td>{{proveniens_2}}</td></tr>
    {{/proveniens_2}}
    {{#tree_kind_2}}
    <tr><td>Treslag</td><td>{{tree_kind_2}}</td></tr>
    {{/tree_kind_2}}
    {{#plant_type_2}}
    <tr><td>Plantetype</td><td>{{plant_type_2}}</td></tr>
    {{/plant_type_2}}
    {{#plant_treatment_2}}
    <tr><td>Behandling</td><td>{{plant_treatment_2}}</td></tr>
    {{/plant_treatment_2}}
    {{#plant_type_2_percent}}
    <tr><td>Prosentfordeling plantetype 2</td><td>{{plant_type_2_percent}}</td></tr>
    {{/plant_type_2_percent}}
    {{#num_planted_2}}
    <tr><td>Antall plantede planter</td><td>{{num_planted_2}}</td></tr>
    {{/num_planted_2}}
    {{#refnr_plants_2}}
    <tr><td>Referansenummer planter</td><td>{{refnr_plants_2}}</td></tr>
    {{/refnr_plants_2}}
    <td colspan="2"><b></b></td>
  {{/tree_kind_2}}

  {{#comment}}
  <tr><td>Kommentar</td><td>{{comment}}</td></tr>
  {{/comment}}
</table>
{{/CADoneWork}}
        
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


</td></tr></table>
        
        
</body>
</html>
