<html>
<head>
    <meta charset="UTF-8">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            min-height: 300vh;
            position: relative;
            margin: 0;
        }
        thead {
            background: lightgrey;
        }
        .headbg {
            background: lightgrey;
        }
        table {
            font-size: smaller;
            border-collapse: collapse;
        }
        .bordered td {
            padding: 2px;
            border-color: black;
            border-style: solid;
            border-width: 0.1mm;
        }
        .bordered td td {
            border: none;
        }
        .max-width {
            width: 100%;
        }
        .center-content {
            text-align: center;
        }
        .left-content {
            text-align: left;
        }
        .text-center {
            text-align:center;
        }

        .terms {
            columns: 2;
            font-size: 80%;
        }

        .terms > ol.defs {
            counter-reset: defs-counter;
            margin-bottom: 1em;
        }
        .terms > ol.defs > li {
            counter-increment: defs-counter;
            list-style: none;
            font-weight: normal;
            margin-bottom: 0.2em;
        }
        .terms > ol.defs > li:before {
            content: counter(defs-counter, lower-alpha) ") ";
        }
        
        .terms ol {
            list-style-type: none;
            counter-reset: term-counter;
            margin: 0;
            padding: 0;
        }
        .terms ol > li {
            display: table;
            counter-increment: term-counter;
            margin-bottom: 1em;
            font-weight: bold;
        }
        .terms ol > li > ol {
            -webkit-column-break-before: avoid;
        }
        .terms ol > li:before {
            content: counters(term-counter, ".") ". ";
            display: table-cell;
            padding-right: 0.6em;    
        }
        .terms li ol > li {
            margin: 0.1em 0 0.2em 0;
            font-weight: normal;
        }
        .terms li ol > li:before {
            content: counters(term-counter, ".") " ";
        }

        {{#watermark}}
        body:before {
          content: "";
          position: absolute;
          z-index: 9999;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: 
            url('data:image/svg+xml;utf8,<svg style="transform:rotate(-45deg)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 60"><text x="10" y="25" fill="%23900" fill-opacity="0.10">{{watermark}}</text></svg>') 
            0 0/100% 100vh;
        }
        {{/watermark}}
    </style>

</head>
<body>

<table class="max-width">
    <tr>
        <td valign="top"><img height="60px" src="https://img.feltgis.no/cappelen.png"></td>

        <td align="right"><img height="100px" src="https://nt.feltgis.no/dnv.png"></td>
    </tr>
    <tr>
        <td colspan="2" class="center-content">
            <h2>{{title}}</h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            Mellom
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            <table class="bordered max-width">
                <tr>
                    <td width="50%" valign="top">
                        <table>
                            <tr>
                                <td>Org. nr</td>
                                <td>:</td>
                                <td>{{head.SellerOrgNum}}</td>
                            </tr>
                            <tr>
                                <td>Tømmermerke</td>
                                <td>:</td>
                                <td>{{head.OwnershipMark}}</td>
                            </tr>
                            <tr valign="top">
                                <td>Selger</td>
                                <td>:</td>
                                <td>
                                    {{head.SellerName}}
                                    
                                    <br>{{head.SellerAddress}}
                                    
                                    {{#additionalFields.address2}}                                    
                                    <br>{{additionalFields.address2}}
                                    {{/additionalFields.address2}}
                                    
                                    <br>{{head.SellerZipCode}} {{head.SellerCity}}
                                </td>
                            </tr>
                            <tr>
                                <td>Bankkto</td>
                                <td>:</td>
                                <td>{{additionalFields.sellerBankAccount}}</td>
                            </tr>
                            <tr>
                                <td>E-post</td>
                                <td>:</td>
                                <td>{{head.SellerContactEMail}}</td>
                            </tr>
                            <tr>
                                <td>Innkjøpsordrenummer</td>
                                <td>:</td>
                                <td>{{purchaseOrderNum}}</td>
                            </tr>
                            <tr>
                                <td>Driftsansvarlig:</td>
                                <td>:</td>
                                <td>{{additionalFields.productionResponsible}}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%" valign="top">
                        <table >
                            <tr valign="top">
                                <td>Kjøper</td>
                                <td>:</td>
                                <td>Nortømmer AS<br>Industriveien 24<br>2406 Elverum</td>
                            </tr>
                            <tr>
                                <td>Internett</td>
                                <td>:</td>
                                <td>www.nortommer.no</td>
                            </tr>
                            <tr>
                                <td>E-post:</td>
                                <td>:</td>
                                <td>post@nortommer.no</td>
                            </tr>
                            <tr>
                                <td>Org. nr</td>
                                <td>:</td>
                                <td>{{head.BuyerOrgNum}}</td>
                            </tr>
                            <tr>
                                <td>Kontaktperson</td>
                                <td>:</td>
                                <td>{{head.BuyerContactName}}, tlf {{head.BuyerContactPhone}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="100px" colspan="2" align="left" valign="bottom">
            <h1>Omfang</h1>
            <hr style="height:1px;border-width:0;color:black">
        </td>
    </tr>
    <tr>
        <td height="100px" colspan="2" align="left">

            <h3>{{title}}</h3>
            <h3>Sertifiseringsavtale</h3>
            <h3>Vedlegg: Betingelser, virkessalg</h3>
        </td>
    </tr>
    {{^watermark}}
    <tr>
        <td colspan="2">
            Dato: {{signatureDate}}
        </td>
    </tr>
    <tr>
        <td height="500px">
            ______________________________<br>
            Selger
        </td>
        <td>
            ______________________________<br>
            Kjøper
        </td>
    </tr>
    {{/watermark}}
</table>








<!-- NEW PAGE -->






<p style="page-break-before: always">


<table width="100%" class="bordered">
    <thead>
        <td>Kommune (navn/nummer)</td>
        <td>Hovednr</td>
        <td>Skogfond %</td>
        <td>Driftspris</td>
        <td>Hentested</td>
        <td>Styrende for avvirkn.</td>
    </thead>
    <tr>
        <td>{{head.MuniName}}/{{head.MuniNum}}</td>
        <td>Gnr {{head.GridNum}}, bnr {{head.HoldingNum}}</td>
        <td>{{head.ForestryFundPercentage}}</td>
        <td>{{head.OperationCost}}</td>
        <td>{{pickupLocationName}}</td>
        <td>{{additionalFields.production}}</td>
    </tr>
</table>
<br>
<table width="100%" class="bordered">
    <thead>
        <td>Teignavn/nr</td>
        <td>Hogstform</td>
        <td>Bestand nr</td>
        <td>Areal</td>        
        <td>Foryngelsesmetode</td>
        <td>Kommentar</td>
    </thead>
    {{#features}}
    <tr>
        <td>{{attributes.name}}/{{attributes.teignr}}</td>
        <td>{{attributes.hogstform}}
            {{#attributes.type_hogst}}, {{attributes.type_hogst}}{{/attributes.type_hogst}}        
            {{#attributes.type_lukket_hogst}}: {{attributes.type_lukket_hogst}}{{/attributes.type_lukket_hogst}}</td>
        <td>{{attributes.bestandnr}}</td>
        <td>{{geometry._area_rounded1}}da</td>        
        <td>{{attributes.foryngelsesmetode}}</td>
        <td>{{attributes.forestOwnerComment}}</td>
    </tr>
    {{/features}}
</table>
<br>
<table width="100%" class="bordered text-center">
    <thead>
        <td>Annet vedr. driftsavtale</td>
        <td>Ansvarlig gjennomføring</td>
        <td>Kostnad belastes</td>
        <td>Frist gjennomføring, mnr. år</td>
    </thead>
    <tr>
        <td class="headbg left-content">Snøbrøyting/grusing</td>
        <td>{{additionalFields.snowPlowingResponsible}}{{#additionalFields.snowPlowingContact}}, kontaktperson: {{additionalFields.snowPlowingContact}}{{/additionalFields.snowPlowingContact}}{{#additionalFields.snowPlowingPhone}}, tlf: {{additionalFields.snowPlowingPhone}}{{/additionalFields.snowPlowingPhone}}</td>
        <td>{{additionalFields.snowPlowingBilling}}</td>
        <td>{{additionalFields.snowPlowingDamageDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Oppretting av sporskader terreng</td>
        <td>{{additionalFields.terrainTrackDamageResponsible}}</td>
        <td>{{additionalFields.terrainTrackDamageBilling}}</td>
        <td>{{additionalFields.terrainTrackDamageDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Oppretting av sporskader vei</td>
        <td>{{additionalFields.roadTrackDamageResponsible}}</td>
        <td>{{additionalFields.roadTrackDamageBilling}}</td>
        <td>{{additionalFields.roadTrackDamageDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Grøfterensk</td>
        <td>{{additionalFields.trenchClearingResponsible}}</td>
        <td>{{additionalFields.trenchClearingBilling}}</td>
        <td>{{additionalFields.trenchClearingDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Arbeidsvarsling/skiltplan</td>
        <td>{{additionalFields.signPlanResponsible}}</td>
        <td>{{additionalFields.signPlanBilling}}</td>
        <td>{{additionalFields.signPlanDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Varsling e-verk/televerk</td>
        <td>{{additionalFields.powerplantCoordinationResponsible}}</td>
        <td>{{additionalFields.powerplantCoordinationBilling}}</td>
        <td>{{additionalFields.powerplantCoordinationDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Fremkjørtmelding</td>
        <td>{{additionalFields.forwardedResponsible}}</td>
        <td>{{additionalFields.forwardedBilling}}</td>
        <td>{{additionalFields.forwardedDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Planlegging av drift/sjekk av miljøinfo</td>
        <td>{{additionalFields.environmentReportResponsible}}</td>
        <td>{{additionalFields.environmentReportBilling}}</td>
        <td>{{additionalFields.environmentReportDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Kontakt med naboer vedrørende forhold som må avklares</td>
        <td>{{additionalFields.neighborCoordinationResponsible}}</td>
        <td>{{additionalFields.neighborCoordinationBilling}}</td>
        <td>{{additionalFields.neighborCoordinationDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Merking av virke</td>
        <td>{{additionalFields.woodMarkingResponsible}}</td>
        <td>{{additionalFields.woodMarkingBilling}}</td>
        <td>{{additionalFields.woodMarkingDate}}</td>
    </tr>
</table>
<br>
<table width="100%" class="bordered">
    <thead class="text-center">
        <td>Miljø/hensyn</td>
        <td>Merknad</td>
    </thead>

    {{#miljoSections}}
    {{#rows}}
    <tr>
        <td class="headbg">{{question}}</td>
        <td>{{answer}}</td>        
    </tr>
    {{/rows}}
    {{/miljoSections}}
</table>

<br>
<table width="100%" class="bordered">
    <thead>
    <td>Sort nr</td>
    <td>Sort navn</td>
    <td>Pris pr. fm³ ub</td>
    <td>Prisliste nr</td>
    <td>Volum fm³ ub</td>
    <td colspan="{{priceListTableMonthsLength}}">
        <table cellpadding="0" cellspacing="0"  width="100%">
            <tr>
                <td colspan="4">Estimert leveringstermin, kvantum m³ per mnd</td>
            </tr>
            <tr>
                {{#priceListTableMonths}}
                <td>{{.}}</td>
                {{/priceListTableMonths}}
            </tr>
        </table>
    </td>
    </thead>
    {{#priceListTable}}
    <tr>
        <td>{{AssNum}}</td>
        <td>{{AssName}}</td>
        <td>{{Price}}</td>
        <td>{{PriceList}}</td>
        <td>{{Volume}}</td>
        {{#Months}}
        <td>{{VolumeStr}}</td>
        {{/Months}}
    </tr>
    {{/priceListTable}}
    <tr>
        <td colspan="4" align="rightfeaturesArea">Volum i m³ totalt</td>
        <td>{{priceListTotalSum}}</td>
        {{#priceListSumPerMonth}}
        <td>{{.}}</td>
        {{/priceListSumPerMonth}}
    </tr>
</table>
<br>
{{priceListTableAsterixText}}
Virket avregnes og utbetales skogeier på grunnlag av gjeldende priser i markedet ved innmålingsdato.<br>
Oppgjørsgrunnlag er volum- og verdiberegning på grunnlag av volum oppgitt i målekvitteringer.<br><br>

<table width="100%" class="bordered" style="height: 100px">
<tr>
    <td style="vertical-align: top; white-space: pre-wrap;">
        <br>Merknad:
        <br>{{additionalFields.messageToForestOwner}}
        {{#isAreaCohesiveProductiveAreaSet}}
        </br>Skogeier formidler landskapsplan for oppstart av drift.
        {{/isAreaCohesiveProductiveAreaSet}}
    </td>    
</tr>
</table>











<!-- NEW PAGE -->


<p style="page-break-before: always">

<table width="100%" cellpadding="1" cellspacing="0">
    <tr>
        <td valign="top"><img height="60px" src="https://img.feltgis.no/cappelen.png"></td>

        <td align="right"><img height="100px" src="https://nt.feltgis.no/dnv.png"></td>
    </tr>
    <tr>
        <td colspan="2"><h1>{{title}} - Kart</h1></td>
    </tr>
    {{#mapImages}}
    <tr>
        <td align="center" colspan="2">
            <img style="height: 700px;" src="{{image}}">
            <br>{{comment}}
        </td>
    </tr>
    {{/mapImages}}
</table>






<!-- NEW PAGE -->






<p style="page-break-before: always">
<h1 class="text-center">SERTIFISERINGSAVTALE</h1>

1. FORMÅL MED AVTALEN<BR>
<P>Sertifiseringsavtalen gjelder for tilhørende virkeskontrakt mellom skogeier og sertifikatholder NORTØMMER.
Avtalen betyr at skogeiendommen er sertifisert gjennom NORTØMMERs PEFC gruppesertifikat for
    skogforvaltningen.</P>
<P>Skogeiendommen(e) som inngår i avtalen og informasjon om miljøregistreringer:</P>
<table class="headbg bordered" width="100%">
    <tr>
        <td>Kommune (navn/nummer)</td>
        <td>Gnr</td>
        <td>Bnr</td>
        <td>Produktivt skogareal</td>
        <td>Totalt skogareal</td>
        <td>Miljøreg (MIS)</td>
        <td>Avvik PEFC</td>
        <td>Landskapsplan Teig > 10000 da</td>
    </tr>
    <tr>
        <td>{{head.MuniName}}/{{head.MuniNum}}</td>
        <td>{{head.GridNum}}</td>
        <td>{{head.HoldingNum}}</td>
        <td>{{additionalFields.productiveForestArea}}</td>
        <td>{{additionalFields.totalForestArea}}</td>
        <td>{{additionalFields.misRegistrationWithinLast15Years}}</td>
        <td>{{additionalFields.envPefcDeviation}}</td>
        <td>{{additionalFields.envLandskapsplan}}</td>
    </tr>
</table>

<br>

2. Skogeiers forpliktelser<br>
<ol type="a">
    <li>Følge norsk lovgivning relevant for skogforvaltning og Norsk PEFC Skogstandard for all aktivitet på
        skogeiendommen.</li>
    <li>Skaffe seg kompetanse om Norsk PEFC Skogstandard eller benytte andre som har slik kompetanse ved
        planlegging og gjennomføring av skogbrukstiltak på eiendommen.</li>
    <li>Sørge for at all relevant miljøinformasjon som skogeier har kunnskap om blir meddelt den som planlegger og
        utfører arbeid i skogen.</li>
    <li>Følge NORTØMMER’s krav og rutiner i forbindelse med oppfølging av sertifiseringen. Skogbrukstiltak i
        nøkkelbiotoper, som åpner for skjøtsel, skal godkjennes på forhånd av sertifikatholder.</li>
    <li>Dokumentere hogst og andre skogtiltak i samsvar med NORTØMMERs krav. Herunder, bidra til at Plan - og
        Oppfølgingsskjema (PO-skjema) eller tilsvarende, med kartvedlegg, fylles ut.</li>
    <li>Akseptere de vurderinger utførende entreprenør/NORTØMMER gjør i forhold til sporutbedring og
    miljøhensyn i hogsten.</li>
    <li>Å følge Norsk PEFC Skogstandard ved tiltak på hele eiendommen etter at hogsten er gjennomført.</li>
    <li>Samarbeide og bistå ved gjennomføring av internkontroll, internrevisjon og eksternrevisjon.</li>
    <li>Bidra til å lukke avvik som oppstår på eiendommen samt sørge for å gjennomføre korrigerende og/eller
    forebyggende tiltak, som sertifikatholder pålegger.</li>
    <li>Følge PEFC Norges retningslinjer for offentlighet knyttet til informasjon som er av interesse for allmenheten
    (jfr. Skogbruksloven og Norsk PEFC Skogstandard).</li>
</ol>

<br>3. NORTØMMERs forpliktelser<ol type="a">
    <li>Sørge for at skogeier får nødvendig informasjon og veiledning for å oppfylle kravene i Norsk PEFC
    Skogstandard</li>
    <li>Informere skogeier om endringer i Norsk PEFC Skogstandard</li>
    <li>Forestå all kontakt med akkreditert sertifiseringsorgan ved ekstern revisjon, rapportering mv.</li>
    <li>Gjennomføre stikkprøvebasert internkontroll og revisjon av eiendommene, kontrollere at sertifiserte skogeiere
    oppfyller kravene i sertifiseringssystemet</li>
    <li>Iverksette korrigerende og/eller forebyggende tiltak ved avvik hos skogeiere eller i NORTØMMER sine
        administrative rutiner</li>
</ol>

4. Avvik<br>
Hvis skogeier oppdager avvik fra lovverk og/eller Norsk PEFC Skogstandard skal dette meldes fra om til
NORTØMMER så snart som mulig.
Skogeier skal opplyse om åpne avvik ved skifte til ny gruppesertifikatholder. Ved tilslutning til mer enn en
gruppesertifikatholder, skal avvik meddeles øvrige sertifikatholdere

<br><br>5. Mislighold<br>
Dersom skogeier misbruker skogsertifiseringen eller hvis det avdekkes alvorlige avvik som ikke følges opp, kan
NORTØMMER ved skriftlig varsel suspendere eller si opp avtalen om deltakelse i gruppesertifiseringen.
NORTØMMER skal varsle sertifiseringsorganet og PEFC Norge om suspensjon og oppsigelse av avtale.
Dersom NORTØMMER ikke følger opp de forpliktelser selskapet har påtatt seg i henhold til denne avtale, har
skogeier anledning til å trekke seg fra avtalen med øyeblikkelig virkning, etter skriftlig varsel og dokumentert
påvisning av den aktuelle unnlatelse fra NORTØMMER.

<br><br>6. Oppsigelse<br>
Denne avtalen gjelder normal inntil skogeier tegner virkeskontrakt med annen virkeskjøper. NORTØMMER har
ansvar og rett til å kontrollere eiendommen i inntil 1 år etter oppsigelse. Skogeier er i samme periode forpliktet til å
samarbeide med NORTØMMER om kontroll, revisjon og lukking av eventuelle avvik.
Skogeier kan klage til sertifiseringsorganet på oppsigelse eller suspensjon av sertifiseringsavtalen.
Under enhver omstendighet opphører denne avtalen når det har gått 10 år etter siste virkessalg gjennom
    NORTØMMER.






<!-- NEW PAGE -->





<p style="page-break-before: always">

<h2 class="text-center">Vedlegg betingelser</h2>
<h1 class="text-center">VIRKESSALG TIL FRITZØE SKOGER AS</h1>

<div class="terms">
    <b>Definisjoner:</b>
    <ol class="defs">
        <li>Selger skal være skogeier som har hjemmel til eiendommen hvorfra det selges virke. Unntak behandles etter egen rutine.</li>
        <li>Driftsansvarlig er selger, eller den som i kontrakten er oppført som dette på vegne av selger.</li>
        <li>Virkeskjøper/innkjøper er den som har underskrevet kontrakten på vegne av FRITZØE SKOGER AS. Om virkeskjøper er en annen enn den som har underskrevet kontrakten, skal dette være oppgitt i kontrakten.</li>
    </ol>
    
    <ol>
        <li>
            Tilgang til digitale data.
            <ol>
                <li>Nortømmer gis anledning til å benytte tilgjengelig digital informasjon registrert på eiendommen i forbindelse med planlegging og gjennomføring av avtalt virksomhet.</li>
                <li>Skogeier gir Nortømmer anledning til å bearbeide og lagre personopplysninger digitalt. Herunder anledning til å benytte mobilnummer og e-post til å informere om arrangement og møter, samt markedsinformasjon- og tilbud.</li>
            </ol>
        </li>
        <li>
            NORTØMMERs videresalg av virke i kontrakten
            <ol>
                <li>NORTØMMER kan videreselge alt tømmer i kontrakten til enhver kjøper som NORTØMMER har avtale med.</li>
            </ol>
        </li>
        <li>
            Leveringsbetingelser
            <ol>
                <li>Selger bærer ansvar og risiko for virket inntil det hentes av kjøper på avtalt leveringssted. Dette gjelder også når NORTØMMER har innvilget driftsforskudd.</li>
                <li>Kjøper overtar ansvar og risiko for virkets tilfeldige undergang eller forringelse ved opplasting på bil på avtalt leveringssted.</li>
                <li>Ansvar for mulige skader som virket påfører tredjeperson påhviler den som ifølge pkt. 3.1 eller 3.2 bærer ansvaret for virket.</li>
                <li>Hvis avtalt leveringsmåned må fravikes, skal dette avtales mellom partene før avviket oppstår.</li>
                <li>Leveranser av et mindre kvantum kan medføretrekk i virkesoppgjør.</li>
            </ol>            
        </li>
        <li>
            Eiendomsrett til virket
            <ol>
                <li>Eiendomsretten til virke i kontrakten over går til NORTØMMER ved måling.</li>
                <li>Når NORTØMMER har innvilget driftsforskudd overgår eiendomsretten til virket på hogsttidspunktet.</li>
            </ol>
        </li>
        <li>
            Veier og velteplassforhold
            <ol>
                <li>Virke må legges slik at det kan lastes direkte på tømmerbil med kran. Unngå luftspenn som elektrisk- og telenett. Ansvar for meldinger om tømmerdrift til e-verk eller televerk påligger driftsansvarlig.</li>
                <li>Virket skal kunne kjøres fra avtalt leveringssted til NORTØMMERs eller kjøpers mottakssted på veier som holder minst 10 tonns normalaksellast.</li>
                <li>Private veier skal til fredsstille kravene i landbruksdepartementets normaler for landbruksveier sist revidert august 2016 for veiklasse III eller for veiklasse IV sommerbilveier for tømmerbil med henger.</li>
                <li>Ved levering til offentlige veier skal forskrifter fra Vegvesenet overholdes. Gjennomføring av trafikksikkerhetstiltak påligger driftsansvarlig.</li>
                <li>Dersom transportør på grunn av forhold på privat vei, snuplass eller velteplass må kjøre mindre lass enn normalt, kan dette medføre trekk i virkesoppgjør.</li>
            </ol>
        </li>
        <li>
            Merking av virke
            <ol>
                <li>Tømmerlunnene skal på leveringssted (velteplass) være merket med entydig tømmermerke (leverandørnummer – internnummer) i samsvar med retningslinjer fra NORTØMMER.</li>
                <li>Tømmerlunnene skal være merket med selgers navn og sortimentnavn i samsvar med gjeldende retningslinjer.</li>
            </ol>
        </li>
        <li>
            Fremkjørtmelding/henteklart
            <ol>
                <li>Driftsansvarlig er ansvarlig for at framkjørtmelding gis fortløpende etter Nortømmer sin rutine.</li>
                <li>På siste fremkjørtmelding skal det angis at alt virkeer fremlagt på avtalt leveringssted.</li>
            </ol>
        </li>
        <li>
            Måling av virket
            <ol>
                <li>Virket måles normalt av offentlig måling på terminal eller kjøpers mottakssted.</li>
                <li>Virket kan i noen regioner bli sjåførmålt. Sjåførmålingkan korrigeres av måleresultater fra kontrollmålinger utført av Norsk virkesmåling eller måleresultat fra virkeskjøpende industri.</li>
                <li>Virket måles i henhold til gjeldende innmålingsspesifikasjon og toleransetabell.</li>
            </ol>
        </li>
        <li>
            Oppgjørsgrunnlag
            <ol>
                <li>Oppgjørsgrunnlag er volum - og verdiberegning på grunnlag av volum oppgitt i målekvitteringer.</li>
            </ol>
        </li>
        <li>
            Priser/Betaling
            <ol>
                <li>Virket avregnes og utbetales skogeier på grunnlag av gjeldende priser i markedet ved innmålingsdato.</li>
                <li>Virke målt inn innen utløpet av en kalendermåned avregnes i henhold til månedlige oppgjørsterminer registrert i Skog- Data og utbetales den 12. i påfølgende måned. Nortømmer følger Skog-Data sin rutine for avregning mot skogeier.</li>
            </ol>
        </li>
        <li>
            Trekk i virkesoppgjør
            <ol>
                <li>Ved utbetaling av virkesoppgjør trekkes måle- og datautgifter, trekk pålagt av myndighetene i henhold til lov/forskrift, driftskostnader og eventuelt andre trekk som det er gjort avtale om mellom partene.</li>
                <li>Styret eller daglig leder i NORTØMMER kan fastsette trekk i virkesoppgjør som er bindende for alle leverandører til NORTØMMER.</li>
            </ol>
        </li>
        <li>
            Sertifiseringsavtale
            <ol>
                <li>Underskrevet sertifiseringsavtale mellom selger og NORTØMMER skal foreligge før kontrakt er bindende.</li>
                <li>Ved brudd på sertifiseringsavtale bortfaller enhver av NORTØMMERs forpliktelser i henhold til kontrakten umiddelbart og uten varsel.</li>
                <li>Selger er pliktig til å erstatte NORTØMMERs direkte kostnader som måtte oppstå som følge av selgers mislighold av sertifiseringsavtale.</li>
            </ol>
        </li>
        <li>
            Driftsavtale med Nortømmer AS
            <ol>
                <li>Der FRITZØE SKOGER AS har driftsansvar er det virkeskjøper som fyller denne funksjonen. Navn på driftsansvarlig skal framgå av kontrakt.</li>
                <li>Driftsansvarlig skal sikre at nødvendig planlegging gjennomføres i området der avvirkningen skal foregå, herunder sikring av miljø og kulturverdier i.h.h.t. NORTØMMER sine miljørutiner.</li>
                <li>Avklaring av forhold til naboer vedrørende terrengtransport, snøbrøyting og bruk av skogsbilveg mv. sikres av driftsansvarlig i planleggingsfasen.</li>
            </ol>
        </li>
        <li>
            Foryngelse- skogkulturavtale med Nortømmer AS
            <ol>
                <li>Der NORTØMMER har ansvaret for gjennomføring av slike oppdrag er det virkeskjøper som innehar dette ansvaret ovenfor skogeier.</li>
                <li>Det enkelte oppdrag gjennomføres iht. til NORTØMMERs produktstandard for det aktuelle tiltak dersom ikke annet avtales mellom partene. Se www.nortommer.no for de enkelte produktstandarder.</li>
            </ol>
        </li>
        <li>
            Reklamasjoner
            <ol>
                <li>Reklamasjon skal fremmes skriftlig senest 14 dager etter at påstått avvik / feil avdekkes, dog senest 6 uker etter at siste fremkjørtmelding er sendt til NORTØMMER.</li>
            </ol>
        </li>
        <li>
            Force majeure
            <ol>
                <li>Force majeure som mobilisering, krig, naturkatastrofe, streik, lockout, blokade, brann, statlig inngrep, hindrende drifts- og eller transportforhold eller andre forhold som partene ikke rår over, fritar partene for plikt i henhold til denne kontrakt. Det forutsettes at den part det gjelder så snart som mulig, og senest 30 dager etter at det har vært mulig å bedømme at slik situasjon har oppstått, varsler den andre parten.</li>
            </ol>
        </li>
        <li>
            Tvist
            <ol>
                <li>Enhver tvist om forståelsen av denne kontrakt skal søkes løst i minnelighet. Dersom dette ikke lar seg gjøre skal tvisten avgjøres av en voldgiftsrett jfr. Lov om voldgift av 14. mai nr. 25. 2004. Voldgiftsretten sammensettes av tre medlemmer slik som beskrevet i voldgiftslovens § 13.</li>
            </ol>
        </li>
    </ol>
</div>










<!-- NEW PAGE -->









<p style="page-break-before: always">

<table style="font-size: medium">
    <tr>
        <td valign="top" align="center">
            <img height="60px" src="https://img.feltgis.no/cappelen.png">
            <br>
            www.nortommer.no
        </td>
    </tr>
    <tr>
        <td valign="top">
            <img src="https://nt.feltgis.no/r1.jpg" height="200px" align="right">
            <h1>Til tømmerleverandør</h1>
            <p>Vedlagt oversendes virkeskontrakt ihht avtale.</p>
            <p>Dersom sortimentsfordeling, totalkvantum eller fordeling av kvantum på leveringstermin avviker vesentlig fra vedlagte kontrakt, ber vi om at din megler kontaktes snarest.</p>
            <p>Vennlig hilsen FRITZØE SKOGER AS (Sentralbord 904 78 000)</p>
        </td>
    </tr>
    <tr>
        <td>
            <br><h2 class="text-center">Hva innebærer det for skogeier å levere tømmer med «PEFC-sertifiseringsavtale»?</h2>
            <p>PEFC står for Program for the Endorsement of Forest Certification, ble etabler i 1999 og er verdens største skogsertifiseringssystem.
                Ordningen er utviklet for å innfri tømmerforbrukende industri`s krav om dokumentasjon på at råstoffet kommer fra skoger som er bærekraftig forvaltet. Forbrukerne av tre-baserte produkter forlanger denne dokumentasjonen på sine innkjøp av råstoff.</p>
            <br>
        </td>
    </tr>
    <tr>
        <td>
            <img src="https://nt.feltgis.no/r2.jpg" width="200px" align="right">
            <h3>PEFC Norge</h3>
            <ul>
                <li>Eier og tilbyr et system for kvalitetssikring av skogforvaltningen i Norge. Sertifikat utstedes av en uavhengig tredjepart (akkreditert sertifiseringsorgan).</li>
                <li>Medlemmene i PEFC Norge er NORSKOG, Norges Skogeierforbund, Statskog, Treindustrien, Treforedlingsindustriens bransjeforening/Norsk Industri, Fellesforbundet, Maskinentreprenørenes Forbund (MEF), Kvinner i Skogbruket og Friluftsrådenes Landsforbund.</li>
            </ul>
            <h3>Målet med sertifiseringen</h3>
            <ul>
                <li>Grunnlag for lønnsom næring</li>
                <li>Sikrer et sunt arbeidsmiljø for arbeidere</li>
                <li>Bevarer det biologiske mangfoldet og bidrar til et godt omdømme for
                    skogbruket og skogbaserte produkter</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Skogeiere i Norge</h3>
            <ul>
                <li>er med i en gruppesertifiseringsordning, enten gjennom egen langsiktig avtale om sertifisering av skogeiendommen, eller ved å skrive under på en sertifiseringsavtale knyttet til virkeskontrakten for den enkelte hogst.</li>
                <li>er forpliktet til å følge Norsk PEFC skogstandard sine krav som gjelder forvaltning av hele skogeiendommen, også ved gjennomføring av andre skogtiltak så som planting, markberedning, ungskogpleie, gjødsling, veibygging mv.</li>
                <li>deltar i sertifikatordningen som en del av sitt forvalteransvar. Forvalteransvaret innebærer også ansvar for at den som planlegger eller gjennomfører skogbrukstiltak på eiendommen har riktig kompetanse.</li>
                <li>må forplikte seg til en sertifikarordning for å levere tømmer til en kommersiell kjøper i Norge.</li>
            </ul>
            <h3>Dagens standard for bærekraftig skogbruk i Norge</h3>
            <ul>
                <li>er koplet med ISO-standarden som angir krav til miljøstyringssystemer (ISO 14001). Standardene ble videreutviklet under navnet Norsk PEFC skogstandard, og dekker i dag ca 65 millioner dekar produktiv skog fordelt på 45 000 skogeiendommer.</li>
                <li>Norsk PEFC skogstandard (dokument PEFC N 02) inneholder 27 kravpunkt gruppert under hovedtema 1) Forvalteransvar og planlegging, 2) Hogst og skogbrukstiltak og 3) Særskilte miljøverdier. NORTØMMER tilbyr kurs i Norsk PEFC skogstandard, som kvalifiserer skogeier til driftsplanlegging på egen eiendom.</li>
            </ul>

            <p>Den komplette Norsk PEFC skogstandard kan du laste ned fra <a href="https://www.pefcnorge.no">www.pefcnorge.no</a>, eller be NORTØMMER oversende.</p>

            <h3>Nøkkelbiotoper – Miljøregistreringer i Skogbruket (MiS)</h3>
            Skogbruket er helt avhengig av at biologisk viktige områder i skog bevares. Nøkkelbiotoper velges ut og forvaltes med hensikt å bevare mangfoldet. I dag benyttes MiS-metodikken til dette.
            Gjennom skogstandardens krav sikres areal av livsmiljø som er viktig for det biologiske mangfoldet. Om lag 31 % av det produktive skogarealet i Norge er underlagt moderate eller sterke restriksjoner grunnet miljøhensyn.
            <br><br>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <img src="https://nt.feltgis.no/r3.jpg" width="250px" align="left" style="padding-right: 10px">
            <h3>Ekstern miljøinformasjon ved planlegging av skogtiltak</h3>
            I tillegg til skogbrukets nøkkelbiotoper (MiS), krever Norsk PEFC skogstandard at skogeier eller annen driftsansvarlig har kunnskap om andre viktige miljøverdier på eiendommen. Det kan være observasjoner av truede arter etter Norsk Rødliste (oppdatert 2015), viktige naturtyper, verneområder, viltbiotoper eller kulturminner.
            Skogeier er i tillegg pliktig til å vurdere miljøverdier selv om disse ikke er tilgjengelig i offentlige databaser, men der en er blitt gjort oppmerksom på dem eller de for øvrig "... er av en slik art at det er naturlig at skogeier er kjent med opplysningene". Kartdatabasen Kilden inneholder livsmiljøene og oppdateres løpende med nye registreringer. Kilden kan sees her: <a href="http://kilden.skogoglandskap.no/map/kilden/index.jsp">http://kilden.skogoglandskap.no/map/kilden/index.jsp</a>
            <h3>Sporbarhet i handelskjeden for skogbaserte produkter</h3>
            Sertifisert tømmer skal kunne spores gjennom handelsledd tilbake til skogen. Dette er en viktig del av PEFC-ordningen. Sporbarhetssertifisering betyr at den sertifiserte bedriften som produserer og selger trevarer, papir eller andre skogbaserte produkt, kan dokumentere hvor tømmeret som brukes i produksjonen stammer fra.
        </td>
    </tr>
</table>


</body>
</html>