<!DOCTYPE html>
<html lang="en">
<head>
	<title>FeltGIS dumpster</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
<style>	
table {
    width: 100%;
}

thead, tbody, tr, td, th { 
	display: block; 
	font-size: 12px;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
    /*text-align: left;*/
}

tbody {
    overflow-y: auto;
    height: 340px;
}

thead {
    /* fallback */
}

tbody td, thead th {
    width: 19.2%;
    float: left;
}

html, body, #mapDiv {
	padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#myTable_wrapper {
  background-color: white;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 700px;
  height: 500px;
  z-index: 10;
}

.actionbutton {
  padding: 10px 10px 10px 10px;
  background-color: white;
  margin-right: 10px;
  cursor: default !important;
}

.actionpane {
  position: absolute;
  bottom: 20px;
  right: 5px;
  z-index: 11;
}

.upload-btn-wrapper {
  position: relative;
  /*overflow: hidden;*/
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

</style>

<link rel="stylesheet" href="https://js.arcgis.com/4.24/esri/themes/light/main.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://js.arcgis.com/4.24/"></script>

</head>

<body>

<script type="text/javascript">

	function upload() {
		let photo = document.getElementById("upload").files[0];  // file from input
		let req = new XMLHttpRequest();
		req.onreadystatechange = function() {
			console.debug("On ready state change", req.readyState);
    	    if (req.readyState == XMLHttpRequest.DONE) {
        		alert(req.responseText);
        		window.location = window.location;
    		}
		}
		let formData = new FormData();
		formData.append("photo", photo);                                
		req.open("POST", '/excel-import?col={{Collection}}');
		req.send(formData);
	}

	$(document).ready( function () {
	    $('#myTable').DataTable();
	    $('input[name="myfile"]').on('change', upload);
	});

  require([
    "esri/Map",
    "esri/views/MapView",
    "esri/layers/VectorTileLayer",
    "esri/layers/FeatureLayer",
    "esri/geometry/Point",
    "esri/Graphic",
    "esri/geometry/SpatialReference",
    "esri/layers/GraphicsLayer"
  ], (Map, MapView, VectorTileLayer, FeatureLayer, Point, Graphic, SpatialReference, GraphicsLayer) => {

    let map = new Map();

    const view = new MapView({
      container: "mapDiv",
      map: map,
      center: {x: 220000, y: 6900000, spatialReference: {wkid: 25833}},
      zoom: 6
    });
    view.ui._removeComponents(["attribution"]);

    const tileLayer = new VectorTileLayer({
      url: "https://services.geodataonline.no/arcgis/rest/services/GeocacheVector/GeocacheBasis/VectorTileServer"
    });
    map.add(tileLayer);
  
    /*const featureLayer = new FeatureLayer({
	  url: "http://localhost:7001/NT/FeatureServer/1"
	});
	map.add(featureLayer);*/

	const graphicsLayer = new GraphicsLayer();
	map.add(graphicsLayer);

  	window.zoom = function(json) {		
		const p = Point.fromJSON(json);
		p.x -= 200;
		view.center = p;	 	
		view.zoom = 14;
		var simpleMarkerSymbol = { type: "simple-marker", color: [226, 119, 40] };
		var pointGraphic = { geometry: Point.fromJSON(json), symbol: simpleMarkerSymbol }; 
		graphicsLayer.removeAll();
		graphicsLayer.add(pointGraphic);
	};

});
</script>

<table id="myTable" class="display">
	<thead>
		<tr>
			<th><b></b></th>
		{{#Titles}}
			<th><b>{{.}}</b></th>
		{{/Titles}}
		</tr>
	</thead>
	<tbody>
		{{#Rows}}
		<tr>
		        <td>{{#Geometry}}<a style="font-size:large; text-decoration: none" onclick="window.zoom({{Geometry}})" href="#">📌</a>{{/Geometry}}</td>
			{{#Values}}
				<td>{{.}}</td>
		    {{/Values}}		    
		</tr>
		{{/Rows}}
	</tbody>	
</table>

<div class="actionpane">	
    <div class="upload-btn-wrapper">
       <a class="actionbutton" href="#">Last opp</a>
       <input type="file" name="myfile" id="upload"/>
    </div>
    <div class="upload-btn-wrapper">
	    <a class="actionbutton" href="/excel-export?col={{Collection}}">Last ned</a>
    </div>
</div>
<div id="mapDiv"></div>

</body></html>