<html>
<head>
    <meta charset="UTF-8">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            min-height: 300vh;
            position: relative;
            margin: 0;
        }
        thead {
            background: lightgrey;
        }
        .headbg {
            background: lightgrey;
        }
        table {
            font-size: smaller;
            border-collapse: collapse;
        }
        .bordered td {
            padding: 2px;
            border-color: black;
            border-style: solid;
            border-width: 0.1mm;
        }
        .bordered td td {
            border: none;
        }
        .max-width {
            width: 100%;
        }
        .center-content {
            text-align: center;
        }
        .left-content {
            text-align: left;
        }
        .text-center {
            text-align:center;
        }

        .terms {
            columns: 2;
            font-size: 80%;
        }

        .terms > ol.defs {
            counter-reset: defs-counter;
            margin-bottom: 1em;
        }
        .terms > ol.defs > li {
            counter-increment: defs-counter;
            list-style: none;
            font-weight: normal;
            margin-bottom: 0.2em;
        }
        .terms > ol.defs > li:before {
            content: counter(defs-counter, lower-alpha) ") ";
        }
        
        .terms ol {
            list-style-type: none;
            counter-reset: term-counter;
            margin: 0;
            padding: 0;
        }
        .terms ol > li {
            display: table;
            counter-increment: term-counter;
            margin-bottom: 1em;
            font-weight: bold;
        }
        .terms ol > li > ol {
            -webkit-column-break-before: avoid;
        }
        .terms ol > li:before {
            content: counters(term-counter, ".") ". ";
            display: table-cell;
            padding-right: 0.6em;    
        }
        .terms li ol > li {
            margin: 0.1em 0 0.2em 0;
            font-weight: normal;
        }
        .terms li ol > li:before {
            content: counters(term-counter, ".") " ";
        }

        {{#watermark}}
        body:before {
          content: "";
          position: absolute;
          z-index: 9999;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: 
            url('data:image/svg+xml;utf8,<svg style="transform:rotate(-45deg)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 60"><text x="10" y="25" fill="%23900" fill-opacity="0.10">{{watermark}}</text></svg>') 
            0 0/100% 100vh;
        }
        {{/watermark}}
    </style>

</head>
<body>

<table class="max-width">
    <tr>
        <td valign="top"><img height="60px" src="{{company.logoUrl}}"></td>

        <td align="right"><img height="100px" src="https://nt.feltgis.no/dnv.png" style="visibility: hidden;"></td>
    </tr>
    <tr>
        <td colspan="2" class="center-content">
            <h2>{{title}}</h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            Mellom
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            <table class="bordered max-width">
                <tr>
                    <td width="50%" valign="top">
                        <table>
                            <tr>
                                <td>Org. nr</td>
                                <td>:</td>
                                <td>{{head.SellerOrgNum}}</td>
                            </tr>
                            <tr>
                                <td>Tømmermerke</td>
                                <td>:</td>
                                <td>{{head.OwnershipMark}}</td>
                            </tr>
                            <tr valign="top">
                                <td>Selger</td>
                                <td>:</td>
                                <td>
                                    {{head.SellerName}}
                                    
                                    <br>{{head.SellerAddress}}
                                    
                                    {{#additionalFields.address2}}                                    
                                    <br>{{additionalFields.address2}}
                                    {{/additionalFields.address2}}
                                    
                                    <br>{{head.SellerZipCode}} {{head.SellerCity}}
                                </td>
                            </tr>
                            <tr>
                                <td>Bankkto</td>
                                <td>:</td>
                                <td>{{additionalFields.sellerBankAccount}}</td>
                            </tr>
                            <tr>
                                <td>E-post</td>
                                <td>:</td>
                                <td>{{head.SellerContactEMail}}</td>
                            </tr>
                            <tr>
                                <td>Innkjøpsordrenummer</td>
                                <td>:</td>
                                <td>{{purchaseOrderNum}}</td>
                            </tr>
                            <tr>
                                <td>Driftsansvarlig:</td>
                                <td>:</td>
                                <td>{{additionalFields.productionResponsible}}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%" valign="top">
                        <table >
                            <tr valign="top">
                                <td>Kjøper</td>
                                <td>:</td>
                                <td>{{company.name}}<br>{{company.address}}<br>{{company.postalCode}} {{company.postalPlace}}</td>
                            </tr>
                            <tr>
                                <td>Internett</td>
                                <td>:</td>
                                <td>{{company.homepage}}</td>
                            </tr>
                            <tr>
                                <td>E-post:</td>
                                <td>:</td>
                                <td>{{company.email}}</td>
                            </tr>
                            <tr>
                                <td>Org. nr</td>
                                <td>:</td>
                                <td>{{head.BuyerOrgNum}}</td>
                            </tr>
                            <tr>
                                <td>Kontaktperson</td>
                                <td>:</td>
                                <td>{{head.BuyerContactName}}, tlf {{head.BuyerContactPhone}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="100px" colspan="2" align="left" valign="bottom">
            <h1>Omfang</h1>
            <hr style="height:1px;border-width:0;color:black">
        </td>
    </tr>
    <tr>
        <td height="100px" colspan="2" align="left">

            <h3>{{title}}</h3>
            <h3>Vedlegg: Betingelser, avvirkningsoppdrag</h3>
            <h3>Vedlegg: Sertifiseringsavtale</h3>            
        </td>
    </tr>
    {{^watermark}}
    <tr>
        <td colspan="2">
            Dato: {{signatureDate}}
        </td>
    </tr>
    <tr>
        <td height="500px">
            ______________________________<br>
            Selger
        </td>
        <td>
            ______________________________<br>
            Kjøper
        </td>
    </tr>
    {{/watermark}}
</table>








<!-- NEW PAGE -->






<p style="page-break-before: always">


<table width="100%" class="bordered">
    <thead>
        <td>Kommune (navn/nummer)</td>
        <td>Hovednr</td>
        <td>Skogfond %</td>
        <td>Driftspris</td>
        <td>Hentested</td>
        <td>Styrende for avvirkn.</td>
    </thead>
    <tr>
        <td>{{head.MuniName}}/{{head.MuniNum}}</td>
        <td>Gnr {{head.GridNum}}, bnr {{head.HoldingNum}}</td>
        <td>{{head.ForestryFundPercentage}}</td>
        <td>{{head.OperationCost}}</td>
        <td>{{pickupLocationName}}</td>
        <td>{{additionalFields.production}}</td>
    </tr>
</table>
<br>
<table width="100%" class="bordered">
    <thead>
        <td>Teignavn/nr</td>
        <td>Hogstform</td>
        <td>Bestand nr</td>
        <td>Areal</td>        
        <td>Foryngelsesmetode</td>
        <td>Kommentar</td>
    </thead>
    {{#features}}
    <tr>
        <td>{{attributes.name}}/{{attributes.teignr}}</td>
        <td>{{attributes.hogstform}}
            {{#attributes.type_hogst}}, {{attributes.type_hogst}}{{/attributes.type_hogst}}        
            {{#attributes.type_lukket_hogst}}: {{attributes.type_lukket_hogst}}{{/attributes.type_lukket_hogst}}</td>
        <td>{{attributes.bestandnr}}</td>
        <td>{{geometry._area_rounded1}}da</td>        
        <td>{{attributes.foryngelsesmetode}}</td>
        <td>{{attributes.forestOwnerComment}}</td>
    </tr>
    {{/features}}
</table>
<br>
<table width="100%" class="bordered text-center">
    <thead>
        <td>Annet vedr. driftsavtale</td>
        <td>Ansvarlig gjennomføring</td>
        <td>Kostnad belastes</td>
        <td>Frist gjennomføring, mnr. år</td>
    </thead>
    <tr>
        <td class="headbg left-content">Snøbrøyting/grusing</td>
        <td>{{additionalFields.snowPlowingResponsible}}{{#additionalFields.snowPlowingContact}}, kontaktperson: {{additionalFields.snowPlowingContact}}{{/additionalFields.snowPlowingContact}}{{#additionalFields.snowPlowingPhone}}, tlf: {{additionalFields.snowPlowingPhone}}{{/additionalFields.snowPlowingPhone}}</td>
        <td>{{additionalFields.snowPlowingBilling}}</td>
        <td>{{additionalFields.snowPlowingDamageDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Oppretting av sporskader terreng</td>
        <td>{{additionalFields.terrainTrackDamageResponsible}}</td>
        <td>{{additionalFields.terrainTrackDamageBilling}}</td>
        <td>{{additionalFields.terrainTrackDamageDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Oppretting av sporskader vei</td>
        <td>{{additionalFields.roadTrackDamageResponsible}}</td>
        <td>{{additionalFields.roadTrackDamageBilling}}</td>
        <td>{{additionalFields.roadTrackDamageDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Grøfterensk</td>
        <td>{{additionalFields.trenchClearingResponsible}}</td>
        <td>{{additionalFields.trenchClearingBilling}}</td>
        <td>{{additionalFields.trenchClearingDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Arbeidsvarsling/skiltplan</td>
        <td>{{additionalFields.signPlanResponsible}}</td>
        <td>{{additionalFields.signPlanBilling}}</td>
        <td>{{additionalFields.signPlanDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Varsling e-verk/televerk</td>
        <td>{{additionalFields.powerplantCoordinationResponsible}}</td>
        <td>{{additionalFields.powerplantCoordinationBilling}}</td>
        <td>{{additionalFields.powerplantCoordinationDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Fremkjørtmelding</td>
        <td>{{additionalFields.forwardedResponsible}}</td>
        <td>{{additionalFields.forwardedBilling}}</td>
        <td>{{additionalFields.forwardedDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Planlegging av drift/sjekk av miljøinfo</td>
        <td>{{additionalFields.environmentReportResponsible}}</td>
        <td>{{additionalFields.environmentReportBilling}}</td>
        <td>{{additionalFields.environmentReportDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Kontakt med naboer vedrørende forhold som må avklares</td>
        <td>{{additionalFields.neighborCoordinationResponsible}}</td>
        <td>{{additionalFields.neighborCoordinationBilling}}</td>
        <td>{{additionalFields.neighborCoordinationDeadline}}</td>
    </tr>
    <tr>
        <td class="headbg left-content">Merking av virke</td>
        <td>{{additionalFields.woodMarkingResponsible}}</td>
        <td>{{additionalFields.woodMarkingBilling}}</td>
        <td>{{additionalFields.woodMarkingDate}}</td>
    </tr>
</table>
<br>
<table width="100%" class="bordered">
    <thead class="text-center">
        <td>Miljø/hensyn</td>
        <td>Merknad</td>
    </thead>

    {{#miljoSections}}
    {{#rows}}
    <tr>
        <td class="headbg">{{question}}</td>
        <td>{{answer}}</td>        
    </tr>
    {{/rows}}
    {{/miljoSections}}
</table>

<br>
<table width="100%" class="bordered">
    <thead>
    <td>Sort nr</td>
    <td>Sort navn</td>
    <td>Pris pr. fm³ ub</td>
    <td>Prisliste nr</td>
    <td>Volum fm³ ub</td>
    <td colspan="{{priceListTableMonthsLength}}">
        <table cellpadding="0" cellspacing="0"  width="100%">
            <tr>
                <td colspan="4">Estimert leveringstermin, kvantum m³ per mnd</td>
            </tr>
            <tr>
                {{#priceListTableMonths}}
                <td>{{.}}</td>
                {{/priceListTableMonths}}
            </tr>
        </table>
    </td>
    </thead>
    {{#priceListTable}}
    <tr>
        <td>{{AssNum}}</td>
        <td>{{AssName}}</td>
        <td>{{Price}}</td>
        <td>{{PriceList}}</td>
        <td>{{Volume}}</td>
        {{#Months}}
        <td>{{VolumeStr}}</td>
        {{/Months}}
    </tr>
    {{/priceListTable}}
    <tr>
        <td colspan="4" align="rightfeaturesArea">Volum i m³ totalt</td>
        <td>{{priceListTotalSum}}</td>
        {{#priceListSumPerMonth}}
        <td>{{.}}</td>
        {{/priceListSumPerMonth}}
    </tr>
</table>
<br>
{{priceListTableAsterixText}}
Virket avregnes og utbetales skogeier på grunnlag av gjeldende priser i markedet ved innmålingsdato.<br>
Oppgjørsgrunnlag er volum- og verdiberegning på grunnlag av volum oppgitt i målekvitteringer.<br><br>

<table width="100%" class="bordered" style="height: 100px">
<tr>
    <td style="vertical-align: top; white-space: pre-wrap;">
        <br>Merknad:
        <br>{{additionalFields.messageToForestOwner}}
        {{#isAreaCohesiveProductiveAreaSet}}
        </br>Skogeier formidler landskapsplan for oppstart av drift.
        {{/isAreaCohesiveProductiveAreaSet}}
    </td>    
</tr>
</table>











<!-- NEW PAGE -->


<p style="page-break-before: always">

<table width="100%" cellpadding="1" cellspacing="0">
    <tr>
        <td valign="top"><img height="60px" src="{{company.logoUrl}}"></td>

        <td align="right"><img height="100px" src="https://nt.feltgis.no/dnv.png" style="visibility: hidden;"></td>
    </tr>
    <tr>
        <td colspan="2"><h1>{{title}} - Kart</h1></td>
    </tr>
    {{#mapImages}}
    <tr>
        <td align="center" colspan="2">
            <img style="height: 700px;" src="{{image}}">
            <br>{{comment}}
        </td>
    </tr>
    {{/mapImages}}
</table>





<!-- NEW PAGE -->



<p style="page-break-before: always">

<h2 class="text-center">Vedlegg betingelser</h2>
<h1 class="text-center">Avvirkningsoppdrag, {{company.name}}</h1>

<div class="terms">
    <b>Definisjoner:</b>
    <ol class="defs">
        <li> <b>Oppdragsgiver: </b>SKontraktspart som skal ha utført skogsdriften. Oppdragsgiver kan være skogeier, skogeierandelslag, kommune, vegvesen, entreprenør, linjeselskap eller andre.</li>
        <li><b>Entreprenør: </b>Kontraktspart som har påtatt seg utførelsen av skogsdriften som kontrakten omfatter</li>
        <li><b>Driftsledelse / driftsansvar: </b>Ansvarlig for planlegging oppfølging og etterarbeid ved skogsdriften</li>
        <li><b>Skogsdrift: </b>Utførelse av hogst og/eller framkjøring til bilveg. Omfatter også, oppfølging, for og etterarbeider og rapportering av en eller flere konkrete leveranser av skogsvirke. Det omfatter også veg tomter, linjearbeid osv.</li>
        <li><b>Avtalt måling: </b>Hvis ikke annet er angitt, skal tømmeret måles av Norsk Virkesmåling basert på innmålingsspesifikasjon og prislister fra tømmerkjøperen..</li>
        <li><b>Underentreprenør: </b>Entreprenør som har påtatt seg utførelsen av en del av de forpliktelser som omfattes av {{company.name}} sin kontrakt med oppdragsgiveren</li>
        <li><b>Kontraktsum: </b>Avtalte vederlaget for entreprenørens oppfyllelse av sine kontraktsforpliktelser, eksklusiv merverdiavgift. Til kontraktsummen hører også det opprinnelige anslaget over vederlag for arbeid som skal avregnes etter enhetspriser eller etter regning.</li>
        <li><b>Tilleggsarbeider: </b>Arbeider som avregnes og gjøres opp basert på avtalte enhetspriser eller regning.</li>
    </ol>
    
    <ol>
        <li>
            Tilgang, bruk og levering av data.
            <ol>
                <li>{{company.name}} gis anledning til å benytte tilgjengelig digital informasjon registrert på eiendommen i forbindelse med planlegging og gjennomføring av driften.</li>
                <li>Skogeier gir {{company.name}} anledning til å lagre personopplysninger digitalt. Herunder anledning til å benytte mobilnummer og e-post til tilbud, møter, rapportering og fakturering</li>
                <li>Standard leveranse til virkeskjøper er pakkseddel levert som THP, PRD eller HPR fil.</li>
                <li>{{company.name}} forbeholder seg retten til å levere data om skog og skoglige forhold til FoU-aktører i forbindelse med prosjekter entreprenøren er involvert i. </li>
                <li>{{company.name}} kan benytte informasjon om tømmer, skog, tre og driftsforhold til egen bedriftsutvikling.</li>
                <li>{{company.name}} kan ikke levere digital informasjon som kan brukes kommersielt til tredjepart uten nærmere avtale med skogeier</li>
            </ol>
        </li>
        <li>
            {{company.name}}s opptreden på vegne av skogeier 
            <ol>
                <li>Dersom skogeier ønsker at {{company.name}} skal formidle salg av tømmeret fra driften, er skogeiers ansvar å velge kjøper av tømmeret og signere tømmerkontrakten.</li>
            </ol>
        </li>
        <li>
            Leveringsbetingelser
            <ol>
                <li>Følger avtale mellom virkes kjøper og skogeier som er oppdragsgiver i henhold til denne avtalen.</li>
                <li>Om ikke annet fremgår av virkes kontrakt bærer oppdragsgiver ansvar risiko for virket inntil det hentes av kjøper på avtalt leveringssted</li>
                <li>{{company.name}} er ikke Ansvarlig for skader som lagret tømmer påfører tredjeperson.</li>
                <li>Valdres skog skal holdes skadesløse dersom tømmeret blir liggende uavhentet på avtalt leveringssted.  Skogeier plikter å informere {{company.name}} dersom tømmeret blir liggende mer enn 1 måned lenger enn avtalt.  I slikt tilfelle kan {{company.name}} sende á konto faktura på arbeidet som er utført.</li>
                <li>1.1	Dersom det ikke oppnås nok tømmervolum innenfor avtalt driftsområde, avsluttes hogsten og kontrakten anses fullbyrdet. Ved avvirkning i annet areal for å oppnå ønsket volum avtales pris og vilkår for dette.</li>
            </ol>            
        </li>
        <li>
            Veier og velteplassforhold
            <ol>
                <li>Virke skal legges fram og leveres på avtalt velteplass som skogeier eier eller disponerer, Melding om tømmerdrift til e-verk eller andre linjeeiere påligger driftsansvarlig om ikke annet går frem av denne kontrakten.</li>
                <li>Ved levering langs offentlige veier skal forskrifter fra Vegvesenet overholdes. </li>
                <li>Dersom {{company.name}} har påtatt seg søknad om arbeidsvarsling og/eller skilting utføres dette i henhold til vilkår gitt i tillatelse til arbeidsvarsling. Skogeier som byggherre er kontraktspart med virkeskjøper og plikter å sørge for at tømmer og virke er transportert vekk i henhold til vilkår gitt i arbeidsvarsling.</li>
            </ol>
        </li>
        <li>
            Merking av virke
            <ol>
                <li>{{company.name}} er ansvarlig for at det framkjørte tømmeret er merket med entydig tømmermerke (leverandørnummer – internnummer) i samsvar med til enhver tid gjeldende bransjekrav..</li>
                <li>Tømmerlunnene skal være merket med selgers navn og sortimentnavn i samsvar med gjeldende bransjekrav.</li>
            </ol>
        </li>
        <li>
            Fremkjørtmelding/henteklart
            <ol>
                <li>{{company.name}} er ansvarlig for at framkjørt melding gis fortløpende. Skogeier blir varslet på mail når hentemelding sendes</li>
                <li>På siste framkjørt melding skal det angis at virke er fremlagt på avtalt leveringssted.</li>
                <li>{{company.name}} er ikke ansvarlig for at vei er brøytet og i nødvendig stand.</li>
                <li>Dersom {{company.name}} påtar seg ansvaret for å organisere snøbrøyting og strøing i forbindelse med felles skogsdrifter fordeles kostnaden mellom oppdragsgiverne etter levert virke. Virke til eget bruk fordeles etter måleopplysninger fra hogstmaskin.</li>
            </ol>
        </li>
        <li>
            Fakturagrunnlag
            <ol>
                <li>Fakturagrunnlaget er kvantum fra avtalt måling. Vraket virke inngår ikke i fakturagrunnlaget.</li>
                <li>Virke som ikke er målt av Norsk virkesmåling eller annen offentlig måling, avregnes etter målenota fra hogstmaskin.</li>
                <li>Partene kan avtale annet oppgjørsgrunnlag.</li>
                <li>Regnings arbeider. Er ikke annet avtalt, skal entreprenøren ha betalt for nødvendige kostnader med å utføre arbeidet, og et påslag til dekning av risiko og fortjeneste. Regnings arbeidet skal drives rasjonelt og forsvarlig.</li>
            </ol>
        </li>
        <li>
            Betaling
            <ol>
                <li>{{company.name}} kan kreve betaling for 90% av utført arbeid på grunnlag av egen maskinmåling pr mnd. Skogeier kan kreve dokumentasjon av maskinmålingen </li>
                <li>Innmålt kvantum kan faktureres 100 % Dersom virket ikke er innmålt innen seks måneder, avregnes driften 100% etter entreprenørens dokumenterte måling.</li>
                <li>Dersom annet ikke er avtalt, skal oppdragsgiveren betale fakturaen innen 14. kalenderdager etter fakturadato.</li>
                <li>Ved forsinket betaling kan det kreves forsinkelsesrente i henhold til lov av 17. desember 1976 nr. 100 om renter ved forsinket betaling.</li>
                <li>Trekk i virkes oppgjør («utlønning») Dersom en av partene ønsker at {{company.name}} skal motta hele eller deler av sitt vederlag via virkekjøper avtales dette spesifikt, samt vilkårene for dette.</li>
                <li>Dersom oppdragsgiveren har krav som følge av {{company.name}}s kontraktsbrudd, kan oppdragsgiveren holde tilbake så mye av betalingen at dette dekker det spesifikke kravet. For øvrig skal oppdragsgiveren betale uomtvistede krav innen betalingsfristen.</li>
            </ol>
        </li>
        <li>
            Driftsledelse utført {{company.name}}
            <ol>
                <li>Der {{company.name}} har driftsansvaret skal navn på driftsansvarlig framgå av kontrakt.</li>
                <li>Driftsansvarlig skal sikre at nødvendig planlegging gjennomføres i området der avvirkningen skal foregå etter norske lover og etter {{company.name}}s og Norsk PEFC skogstandard.</li>
                <li>Avklaring av ansvar for forhold til naboer vedrørende terrengtransport, snøbrøyting og bruk av skogsbilveg mv. Utføres som avtalt i denne avtale.</li>
                <li>I de tilfeller {{company.name}} har ansvar for å melde tømmeret henteklart, og sluttmelde ved driftsavslutning, har {{company.name}} ikke ansvar for at veiene er brøytet og holder nødvendig standard. om ikke annet går frem av denne avtalen</li>
                <li>Ved miljøkontroll vil Valdres skog stille opp vederlagsfritt hvis oppdragsgiver ønsker dette.</li>
            </ol>
        </li>
        <li>
            Foryngelse- skogkultur.
            <ol>
                <li>{{company.name}} kan, etter avtale med skogeier, formidle utførelse av etterarbeider i forbindelse med hogstoppdraget.</li>
                <li>Det gjøres egen avtale og vilkår for oppdraget mellom utførende for skogkulturoppdraget og skogeier.</li>
                <li>Det enkelte oppdrag gjennomføres iht. til utførende parts produktstandard for det aktuelle tiltak dersom ikke annet avtales mellom partene. </li>
            </ol>
        </li>
        <li>
            Avslutning skogsdrift.
            <ol>
                <li>Skogsdriften er avsluttet når avtalt dokumentasjon og rapportering er overlevert skogeier og virkeskjøper.</li>
                <li>Ved avslutning går risikoen for virke over fra {{company.name}} til oppdragsgiver. Reklamasjonsfristen etter XX XX begynner å løpe.</li>
                <li>Risikoen for framkjørt virke går over fra skogeier når det er forsvarlig fremlagt på velteplass og melding om dette er gitt til virkeskjøper med kopi til skogeier.</li>
            </ol>
        </li>
        <li>
            Reklamasjon Mangel, avbestilling, oppsigelse og heving
            <ol>
                <li><b>Mangler: </b> Det foreligger mangel dersom skogsdriften ved avsluttingen ikke er i den stand som oppdragsgiveren har krav på etter kontrakten, og dette skyldes forhold som {{company.name}} har ansvaret for. </li>
                <li><b>Utbedring: </b>Mangel ved skogsdriften som oppdragsgiver har påberopt i rett tid, har entreprenøren rett og plikt il å utbedre for egen kostnad, med mindre kostnadene til utbedringen blir uforholdsmessig store i forhold til det som skal oppnås. Nytt vederlag for å bøte på skaden kan avtales. 
                    <br>
                    Er ikke utbedringen foretatt innen en rimelig frist, som avtales mellom partene, kan oppdragsgiveren kreve at {{company.name}} betaler oppdragsgiverens forsvarlige kostnader til utbedring utført av andre. oppdragsgiveren plikter å varsle {{company.name}} skriftlig før slike arbeider gjennomføres.</li>
                <li>Dersom oppdragsgiveren ikke kan kreve utbedring etter 10-2 kan partene avtale prisavslag</li>
                <li><b>Partenes rett til oppsigelse: </b>Dersom skogsdriften blir umulig å gjennomføre, eller fremdriften hindres eller vil bli vesentlig hindret i mer enn atten måneder som følge av ekstraordinære upåregnelige forhold utenfor partenes kontroll, kan hver av partene si opp kontrakten. Ved oppsigelse har {{company.name}} rett på vederlag for det arbeidet som er utført.</li>
            </ol>
        </li>
        <li>
            Force majeure
            <ol>
                <li>Force majeure som mobilisering, krig, naturkatastrofe, streik, lockout, blokade, brann, statlig inngrep, hindrende drifts- og eller transportforhold eller andre forhold som partene ikke rår over, fritar partene for plikt i henhold til denne kontrakt. Det forutsettes at den part det gjelder så snart som mulig, og senest 30 dager etter at det har vært mulig å bedømme at slik situasjon har oppstått, varsler den andre parten.</li>
            </ol>
        </li>
        <li>
            Tvist
            <ol>
                <li>Enhver tvist om forståelsen av denne kontrakt skal søkes løst i minnelighet. Dersom dette ikke lar seg gjøre skal tvisten avgjøres av en voldgiftsrett jfr. Lov om voldgift av 14. mai nr. 25. 2004. Voldgiftsretten sammensettes av tre medlemmer slik som beskrevet i voldgiftslovens § </li>
            </ol>
        </li>
        <li>
            Konfidensialitet
            <ol>
                <li>Partene plikter å holde priser og andre sensitive opplysninger   konfidensielt. Partene har taushetsplikt vedrørende opplysninger om den annen parts forretningsmessige forhold som parten blir kjent med som følge av avtalen.
                    <br><br>
                    Taushetsplikten er ikke til hinder for at slike opplysninger utgis dersom det er nødvendig av hensyn til skogsdriften og gjeldende lovgivning. Partene plikter da å informere hverandre.
                    <br><br>
                    Taushetsplikten etter avtalen gjelder så lenge den aktuelle informasjon kan skade den annen part dersom den ble kjent, også etter avtalens opphør.
                </li>
            </ol>
        </li>
    </ol>
</div>










<!-- NEW PAGE -->









<p style="page-break-before: always">

<table style="font-size: medium">
    <tr>
        <td valign="top" align="center">
            <img height="60px" src="{{company.logoUrl}}">
            <br>
            {{company.homepage}}
        </td>
    </tr>
    <tr>
        <td valign="top">
            <img src="https://nt.feltgis.no/r1.jpg" height="200px" align="right">
            <h1>Til tømmerleverandør</h1>
            <p>Vedlagt oversendes virkeskontrakt ihht avtale.</p>
            <p>Dersom sortimentsfordeling, totalkvantum eller fordeling av kvantum på leveringstermin avviker vesentlig fra vedlagte kontrakt, ber vi om at din megler kontaktes snarest.</p>
            <p>Vennlig hilsen {{company.name}} (Sentralbord 904 78 000)</p>
        </td>
    </tr>
    <tr>
        <td>
            <br><h2 class="text-center">Hva innebærer det for skogeier å levere tømmer med «PEFC-sertifiseringsavtale»?</h2>
            <p>PEFC står for Program for the Endorsement of Forest Certification, ble etabler i 1999 og er verdens største skogsertifiseringssystem.
                Ordningen er utviklet for å innfri tømmerforbrukende industri`s krav om dokumentasjon på at råstoffet kommer fra skoger som er bærekraftig forvaltet. Forbrukerne av tre-baserte produkter forlanger denne dokumentasjonen på sine innkjøp av råstoff.</p>
            <br>
        </td>
    </tr>
    <tr>
        <td>
            <img src="https://nt.feltgis.no/r2.jpg" width="200px" align="right">
            <h3>PEFC Norge</h3>
            <ul>
                <li>Eier og tilbyr et system for kvalitetssikring av skogforvaltningen i Norge. Sertifikat utstedes av en uavhengig tredjepart (akkreditert sertifiseringsorgan).</li>
                <li>Medlemmene i PEFC Norge er NORSKOG, Norges Skogeierforbund, Statskog, Treindustrien, Treforedlingsindustriens bransjeforening/Norsk Industri, Fellesforbundet, Maskinentreprenørenes Forbund (MEF), Kvinner i Skogbruket og Friluftsrådenes Landsforbund.</li>
            </ul>
            <h3>Målet med sertifiseringen</h3>
            <ul>
                <li>Grunnlag for lønnsom næring</li>
                <li>Sikrer et sunt arbeidsmiljø for arbeidere</li>
                <li>Bevarer det biologiske mangfoldet og bidrar til et godt omdømme for
                    skogbruket og skogbaserte produkter</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Skogeiere i Norge</h3>
            <ul>
                <li>er med i en gruppesertifiseringsordning, enten gjennom egen langsiktig avtale om sertifisering av skogeiendommen, eller ved å skrive under på en sertifiseringsavtale knyttet til virkeskontrakten for den enkelte hogst.</li>
                <li>er forpliktet til å følge Norsk PEFC skogstandard sine krav som gjelder forvaltning av hele skogeiendommen, også ved gjennomføring av andre skogtiltak så som planting, markberedning, ungskogpleie, gjødsling, veibygging mv.</li>
                <li>deltar i sertifikatordningen som en del av sitt forvalteransvar. Forvalteransvaret innebærer også ansvar for at den som planlegger eller gjennomfører skogbrukstiltak på eiendommen har riktig kompetanse.</li>
                <li>må forplikte seg til en sertifikarordning for å levere tømmer til en kommersiell kjøper i Norge.</li>
            </ul>
            <h3>Dagens standard for bærekraftig skogbruk i Norge</h3>
            <ul>
                <li>er koplet med ISO-standarden som angir krav til miljøstyringssystemer (ISO 14001). Standardene ble videreutviklet under navnet Norsk PEFC skogstandard, og dekker i dag ca 65 millioner dekar produktiv skog fordelt på 45 000 skogeiendommer.</li>
                <li>Norsk PEFC skogstandard (dokument PEFC N 02) inneholder 27 kravpunkt gruppert under hovedtema 1) Forvalteransvar og planlegging, 2) Hogst og skogbrukstiltak og 3) Særskilte miljøverdier. {{company.name}} tilbyr kurs i Norsk PEFC skogstandard, som kvalifiserer skogeier til driftsplanlegging på egen eiendom.</li>
            </ul>

            <p>Den komplette Norsk PEFC skogstandard kan du laste ned fra <a href="https://www.pefcnorge.no">www.pefcnorge.no</a>, eller be {{company.name}} oversende.</p>

            <h3>Nøkkelbiotoper – Miljøregistreringer i Skogbruket (MiS)</h3>
            Skogbruket er helt avhengig av at biologisk viktige områder i skog bevares. Nøkkelbiotoper velges ut og forvaltes med hensikt å bevare mangfoldet. I dag benyttes MiS-metodikken til dette.
            Gjennom skogstandardens krav sikres areal av livsmiljø som er viktig for det biologiske mangfoldet. Om lag 31 % av det produktive skogarealet i Norge er underlagt moderate eller sterke restriksjoner grunnet miljøhensyn.
            <br><br>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <img src="https://nt.feltgis.no/r3.jpg" width="250px" align="left" style="padding-right: 10px">
            <h3>Ekstern miljøinformasjon ved planlegging av skogtiltak</h3>
            I tillegg til skogbrukets nøkkelbiotoper (MiS), krever Norsk PEFC skogstandard at skogeier eller annen driftsansvarlig har kunnskap om andre viktige miljøverdier på eiendommen. Det kan være observasjoner av truede arter etter Norsk Rødliste (oppdatert 2015), viktige naturtyper, verneområder, viltbiotoper eller kulturminner.
            Skogeier er i tillegg pliktig til å vurdere miljøverdier selv om disse ikke er tilgjengelig i offentlige databaser, men der en er blitt gjort oppmerksom på dem eller de for øvrig "... er av en slik art at det er naturlig at skogeier er kjent med opplysningene". Kartdatabasen Kilden inneholder livsmiljøene og oppdateres løpende med nye registreringer. Kilden kan sees her: <a href="http://kilden.skogoglandskap.no/map/kilden/index.jsp">http://kilden.skogoglandskap.no/map/kilden/index.jsp</a>
            <h3>Sporbarhet i handelskjeden for skogbaserte produkter</h3>
            Sertifisert tømmer skal kunne spores gjennom handelsledd tilbake til skogen. Dette er en viktig del av PEFC-ordningen. Sporbarhetssertifisering betyr at den sertifiserte bedriften som produserer og selger trevarer, papir eller andre skogbaserte produkt, kan dokumentere hvor tømmeret som brukes i produksjonen stammer fra.
        </td>
    </tr>
</table>


</body>
</html>