<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .90em;
}
.mytable {
    border: 1px solid;
    border-color: #555;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.pagebreak {
  page-break-before: always;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table { page-break-inside:avoid }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }    
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}
.tableheader {
    color: #ffffff;
    background-color: rgb(39, 86, 28) !important;
}
.subtableheader {
	color: #ffffff;
    background-color: rgb(39, 86, 28) !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    

.border {
    border: 1px solid black;
}

#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(39, 86, 28);
  color: white;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

.responsible {
    border-style: solid; 
    border-color: rgba(7, 112, 217, 1); 
    margin: 10px; 
    padding: 10px; 
    background-color: rgba(7, 112, 217, 0.2); 
    color: rgba(0, 62, 133, 1);
}
.fatresponsible {
    font-weight: bolder;
}
</style>



<table width="100%" border="0">
    <tr>
        <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
            <img width="250px" src="https://gs.feltgis.no/logo.png">
        </td>
        <td align="right">
            <font size="20">Arbeidsrapport</font>
        </td>
    </tr>
    <tr>
        <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">
            <b>Glommen Skog</b><br/>
            Grindalsvegen 3<br/>
            2406 ELVERUM<br/>
        </td>
        <td align="right" style="vertical-align: top;">            
            <h3>
                Dato: {{now}}<br>
                Driftsansvarlig: {{ProjectManager}}, tlf: {{ProjectManagerPhone}}<br>
                Prosjektnummer: {{ProjectNumber}}<br>
                Tømmermerke: {{TimberMark}}
            </h3>
        </td>
    </tr>
</table>



<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2" width="75%">Oppdragsinformasjon</td>                  
  </tr>  
  <tr><td>Navn på skogeier</td><td>{{PropertyOwnerName}}</td></tr>
  <tr><td>Skogeiers telefon</td><td>{{PropertyOwnerPhone}}</td></tr>
  <tr><td>Prosjektnummer</td><td>{{ProjectNumber}}</td></tr>
  <tr><td>Tømmermerke</td><td>{{TimberMark}}</td></tr>        
  <tr><td>Signert av skogbruksleder</td><td>{{DateSignedForestryManager}}</td></tr>
  <tr><td>Signert før hogst</td><td>{{DateSignedBeforeOperationFelling}}</td></tr>
  <tr><td>Signert etter hogst</td><td>{{DateSignedAfterOperationFelling}}</td></tr>
  <tr><td>Areal (sum driftsområde)</td><td>{{AreaOfOperation}}</td></tr>
  <tr><td>Er det utfordringer knyttet til terrengtransport?</td><td>{{ChallengesTerrainTransport}}</td></tr>
  <tr><td>Virke til eget bruk</td><td>{{WoodForOwnUse}} m³</td></tr>
  <tr><td>Driftsveilengde</td><td>{{OperationRoadLengthMeters}}</td></tr>
  <tr><td>Trær per m³</td><td>{{TreesPerM3}}</td></tr>
  <tr><td>Avslutt drift når</td><td>{{CompleteOperationTarget}}</td></tr>
  <tr><td>Er eventuelle bruer / behov for kavellegging avmerket i kartet?</td><td>{{BridgesMarkedInMap}}</td></tr>
  <tr><td>Er eventuelle bruer / behov for kavellegging avmerket i terrenget?</td><td>{{BridgesMarkedInTerrain}}</td></tr>
  <tr><td>Er basvei / tråk merket i terrenget?</td><td>{{MainRoadMarkedInTerrain}}</td></tr>
  <tr><td>Er basvei / tråk merket i kartet?</td><td>{{MainRoadMarkedInMap}}</td></tr>
  {{#PowerLineStrips}}
  <tr><td>Kraftgater/linjestrekk</td><td>{{PowerLineStrips}}<br>{{PowerLineStripsComments}}</td></tr>
  {{/PowerLineStrips}}
  {{#InternalNoteEntrepreneur}}
  <tr><td><div class="fatresponsible">Merknad til oppdrag</div></td><td><div class="responsible">{{InternalNoteEntrepreneur}}</div></td></tr>
  {{/InternalNoteEntrepreneur}}
</table>
  

<!-- NB: Finnes også i arbeidsrapporten -->
{{#HasResponsible}}
<table class="mytable" width="90%" border="1">
  <tr class="tableheader">
      <td>Ansvarsområder</td>
  </tr>
  {{#NotifiableWorksResponsible}}<tr><td><div class="responsible">Melding om meldepliktige arbeider (vernskog, graving)<br><div class="fatresponsible">{{NotifiableWorksResponsible}}</td></tr>{{/NotifiableWorksResponsible}}
  {{#ClarifyInfrastructureResponsible}}<tr><td><div class="responsible">Avklare linjestrekk / kabler / annen infrastruktur<br><div class="fatresponsible">{{ClarifyInfrastructureResponsible}}</td></tr>{{/ClarifyInfrastructureResponsible}}
  {{#SignPlanPublicRoadResponsible}}<tr><td><div class="responsible">Skiltplan offentlig veg<br><div class="fatresponsible">{{SignPlanPublicRoadResponsible}}</td></tr>{{/SignPlanPublicRoadResponsible}}
  {{#RemediationOfRoadResponsible}}<tr><td><div class="responsible">Utbedring av veg / snuplass / velteplass<br><div class="fatresponsible">{{RemediationOfRoadResponsible}}</td></tr>{{/RemediationOfRoadResponsible}}
  {{#DiggingRoadBuildingResponsible}}<tr><td><div class="responsible">Graving / veibygging av driftsveier<br><div class="fatresponsible">{{DiggingRoadBuildingResponsible}}</td></tr>{{/DiggingRoadBuildingResponsible}}
  {{#PlowingGrittingResponsible}}<tr><td><div class="responsible">Brøyting / strøing<br><div class="fatresponsible">{{PlowingGrittingResponsible}}</td></tr>{{/PlowingGrittingResponsible}}
  {{#ManualWorkResponsible}}<tr><td><div class="responsible">Manuelt arbeid (felling)<br><div class="fatresponsible">{{ManualWorkResponsible}}</td></tr>{{/ManualWorkResponsible}}
  {{#NeighborEstateAssessmentResponsible}}<tr><td><div class="responsible">Avklare forhold til naboer<br><div class="fatresponsible">{{NeighborEstateAssessmentResponsible}}</td></tr>{{/NeighborEstateAssessmentResponsible}}
  {{#MarkingOfPropertyBoundaryResponsible}}<tr><td><div class="responsible">Merking av eiendomsgrenser<br><div class="fatresponsible">{{MarkingOfPropertyBoundaryResponsible}}</td></tr>{{/MarkingOfPropertyBoundaryResponsible}}  
</table>
{{/HasResponsible}}

{{#HasActionPlans}}
<table class="mytable" width="90%" border="1" cellspacing="0" cellpadding="0">
  <tr class="tableheader">
      <td>Teig/bestand</td>
      <td>Midlertidig bru</td>
      <td>Merknad til tiltak</td>
  </tr>  
  {{#ActionPlans}}
  <tr>
    <td>{{Plot}}:{{Stand}}</td>
    <td>        
        {{TemporaryBridge}}
    </td>
    <td>{{WorkOrderNotes}}</td>
  </tr>
  {{/ActionPlans}}  
</table>
{{/HasActionPlans}}

<table class="mytable" width="90%" border="1">
  <tr class="tableheader">
      <td>Hensyn</td>     
      <td>Kommentar før hogst,<br>skogbruksleder:</td>      
      <td>Kommentar etter hogst,<br>entreprenør:</td>      
  </tr>  
  {{#EnvironmentList}}
  <tr>
      <td>
          {{#IsNatureTypeAb}}
          <h3>Naturtyper verdi A og B, trua naturtyper, utvalgte naturtyper, trua arter, prioriterte arter</h3>
          Føringer / avklaring av hensyn beskrives. Evt vedlegg (se filer)
          {{/IsNatureTypeAb}}

          {{#IsProtectionForestFieldRegulations}}
          <h3>Vernskog, markaforskrift</h3>   
          Meldeplikt - godkjenning skal foreligge. Føringer beskrives her, evt vedlegg (se filer)
          {{/IsProtectionForestFieldRegulations}}

          {{#IsKeyHabitats}}
          <h3>Nøkkelbiotop, verneområde</h3>
          Statsforvalter skal kontaktes ved hogst mot naturreservat, Grensa skal merkes.   
          {{/IsKeyHabitats}}

          {{#IsCulturalHeritage}}
          <h3>Kulturminner</h3>
          Obs: groper, hauger, murer, gamle tufter og veier. Rydd trær og busker på kulturminnene. Ikke kjør nærmere enn 5 m fra kanten.          
          {{/IsCulturalHeritage}}

          {{#IsCarrSwampDecidous}}
          <h3>Myrskog, sumpskog, edellauv</h3>
          Skal ha lukket hogst.           
          {{/IsCarrSwampDecidous}}

          {{#IsBufferzones}}
          <h3>Kantsoner</h3>
          Kantsonebredde er normalt 10-15 meter, bredere på bløt eller rik vegetasjon. Kantsoner skal normalt stå urørt. Evt hogst skal beskrives og dokumenteres. Det skal søkes dispensasjon der det er krav om det etter lovverket. For bekker mindre enn 1 meter skal buskvegetasjon og mindre trær spares.          
          {{/IsBufferzones}}

          {{#IsTrailsHikingDensePopAreas}}
          <h3>Stier, tur- og tettbebygde områder</h3>
          Unngå kjøring i stier og løyper. Skriftlig varsling ifbm tiltak skal vurderes. Utbedre raskt sporskader i viktige friluftsområder og ved tettbebyggelse.        
          {{/IsTrailsHikingDensePopAreas}}

          {{#IsRetentionTrees}}
          <h3>Livsløpstrær</h3>
          Spar minst ett tre pr daa av de eldste i driftsområdet. Spar alle aktuelle treslag, gjerne i grupper. Tørrtrær/ høgstubber av gran/osp kan inngå inntil 50 %. Tørrtrær skal spares i sin helhet der det er mulig.          
          {{/IsRetentionTrees}}

          {{#IsCrossStreamsRivers}}
          <h3>Kryssing av bekker, elver, o.l.</h3>
          Tiltak ved kryssing av bekker gjelder uavhengig av bredde.          
          {{/IsCrossStreamsRivers}}

          {{#IsDrinkSourceWaste}}
          <h3>Drikkevannskilder, avfall, visuelt utsatte områder o.l.</h3>
          Ved hogst innenfor hensynsområde drikkevann skal eventuelle restriksjoner avklares med vannverk/kommune. Ved hogst i nærheten av hensynspunkt, drikkevann skal det tas kontakt med skogeier for å avklare forhold til drikkevannskilde.         
          {{/IsDrinkSourceWaste}}

          {{#IsTrackDamage}}
          <h3>Sporskader</h3>
          Spor dypere enn 30 cm over mer enn 10 m strekning rapporteres, samt andre sporskader som anses som alvorlige.
          {{/IsTrackDamage}}

          {{#IsOilSpill}}
          <h3>Oljeutslipp</h3>
          Varsle brannvesen dersom utslippet overskrider 50 liter.            
          {{/IsOilSpill}}

          {{#IsGrouseRaptornestOther}}
          <h3>Tiurleik, rovfuglreir, andre aktuelle hekkelokaliteter (se Allma, artskart, kilden)</h3>
          Biolog/ornitolog må konsulteres.        
          {{/IsGrouseRaptornestOther}}

    <td>
          {{#ConsiderationComments}}
          <div style="border-style: solid; border-color: rgb(255, 220, 131); margin: 10px; padding: 10px; background-color: rgb(255, 240, 160); color: rgb(110, 44, 0)">
            {{ConsiderationComments}}
          </div>
          {{/ConsiderationComments}}        
    </td>
     <td>
          {{#AccountedForComments}}
          <div style="border-style: solid; border-color: rgb(255, 199, 231); margin: 10px; padding: 10px; background-color: rgb(255, 217, 241); color: rgb(133, 0, 53)">
            {{AccountedForComments}}
          </div>
          {{/AccountedForComments}} 
          {{#Amount}}
              {{#IsRetentionTrees}}
                  Antall trær: {{Amount}}
              {{/IsRetentionTrees}}        
              {{#IsOilSpill}}
                  Antall liter: {{Amount}}
              {{/IsOilSpill}}
              {{#IsTrackDamage}}
                  Antall meter: {{Amount}}
              {{/IsTrackDamage}}
          {{/Amount}}
     </td>
  </tr>
  {{/EnvironmentList}}
</table>

{{#EnvironmentReport.InternalNoteFromEntrepreneur}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td>Intern kommentar fra entreprenør</td>                  
  </tr>  
  <tr>
    <td>
        {{EnvironmentReport.InternalNoteFromEntrepreneur}}
    </td>
  </tr>
</table>
{{/EnvironmentReport.InternalNoteFromEntrepreneur}}    


{{#image}}
<div class="center,pagebreak">
  <img class="border" alt="" style="width: 600px; margin-top: 20px" src="{{image}}" />
</div>
{{/image}}


</body>
</html>
