<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body>

<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: .75em;
}
table {
    page-break-inside: avoid;
    margin: 0px auto; 
}
th, td {    

    padding: 5px;        
    /*border: 1px solid gray;*/
}
figure {
    width: 88%;
    page-break-inside: avoid;
}
.header {
    font-size: .70em;
}
.mytable {
    border: 2px solid;
    border-collapse: collapse;        
    margin-top: 10px;
    page-break-inside: avoid;
}
.mytable tr:nth-of-type(odd) {
    background: #f5f5f5;
}

.tableheader {
    color: #ffffff;
    background-color: #0e721d !important;
}
.subtableheader {
	color: #ffffff;
    background-color: #0e721d !important;
    font-weight: bold;
}
.map {
   border:2px solid #021a40;
   display: block;
   width: 100%;
   height: auto;        
}    

.border {
    border: 1px solid black;
}

#ek td, #ek th {
  border: 2px solid #000;
  margin: 0px;
  padding: 15px;
}

#ek th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

</style>


{{#language_is_norsk}}

<table width="100%">
    <tr>
        <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
            <img width="300px" src="https://img.feltgis.no/lovenskiold-fossum.png">
        </td>
        <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">
            <b>FRITZØE SKOGER AS</b><br/>
            Industriveien 24<br/>
            3748 SILJAN<br/>
            
            
        </td>
        <td>
            <font size="20">Arbeidsordre {{_type}}</font>
        </td>
    </tr>
    <tr>
        <td align="right" style="vertical-align: top;" colspan="3">            
            <h3>
                Dato: {{now}}<br>
                Planlegger: {{plannerContactName}}, tlf: {{plannerContactPhone}}<br>
                Oppdragsnummer: {{_job_nr}}
            </h3>
        </td>
    </tr>
</table>


<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Oppdragsinformasjon</b></td>            
      <td></td>
  </tr>  
  <tr><td>Navn på skogeier</td><td>{{forestOwnerName}}</td></tr>
  <tr><td>Skogeier e-post</td><td>{{forestOwnerEmail}}</td></tr>
  <tr><td>Leverandørnummer</td><td>{{levNr}}</td></tr>
  <tr><td>Kommune</td><td>{{muniName}}</td></tr>        
  <tr><td>Komnr-Gnr/bnr</td><td>{{muniNum}}-{{gridNum}}/{{holdingNum}}</td></tr>
  <tr><td>Areal</td><td>{{area}} daa</td></tr>
</table>
  

{{#LFPSaaingGeomSåing}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2"><b>Tiltak: Såing {{_title}}</b></td>                  
  </tr>  
  <tr><td>Opprettet</td><td>{{_created_Date}}</td></tr>
  <tr><td>Opprettet av</td><td>{{_createdBy}}</td></tr>
  <tr><td>Type</td><td>{{_type}}</td></tr>
  <tr><td>Veinavn</td><td>{{teignavn}}</td></tr>
  <tr><td>Bestandsnummer</td><td>{{bestand_str}}</td></tr>
  <tr><td>Bonitet</td><td>{{bonitet}}</td></tr>
  <tr><td>Planlagt såareal i daa.</td><td>{{planned_area}}</td></tr>
  <tr><td>Gram pr. daa</td><td>{{gram_per_daa}}</td></tr>
  <tr><td>Plannummer</td><td>{{plannr}}</td></tr>
  <tr><td>Teignummer</td><td>{{teignr}}</td></tr>
  <tr><td>Prosent gran</td><td>{{precent_spruce}}</td></tr>
  <tr><td>Prosent furu</td><td>{{precent_pine}}</td></tr>
  <tr><td>Prosent lauv</td><td>{{precent_leav}}</td></tr>
  <tr><td>Berører tiltaket biologisk viktig område?</td><td>{{bio_Boolean}}</td></tr>
  <tr><td>Biologisk, kommentar</td><td>{{bioComment}}</td></tr>
  <tr><td>Berører tiltaket kjent kulturminne?</td><td>{{herit_Boolean}}</td></tr>
  <tr><td>Kulturminne, kommentar</td><td>{{heritComment}}</td></tr>
  <tr><td>Berører tiltaket viktige friluftsverdier?</td><td>{{recreational_Boolean}}</td></tr>
  <tr><td>Friluftsverdier, kommentar</td><td>{{recreationalComment}}</td></tr>
  <tr><td>Kommentarer til tiltaket</td><td>{{comment}}</td></tr>
  <tr><td>Areal</td><td>{{area}}</td></tr>
  <tr><td>Høyde over havet</td><td>{{elevation}}</td></tr>
  <tr><td>Tiltaksnummer</td><td>{{_number}}</td></tr>
  <tr><td>Organisasjonsnummer arbeidslag planting</td><td>{{_workTeamOrgNumPL}}</td></tr>
</table>
{{/LFPSaaingGeomSåing}}

{{/language_is_norsk}}
{{#language_is_engelsk}}
<table width="100%">
    <tr>
        <td align="left" width="300px" style="vertical-align: top; padding-top: 20px;">
            <img width="300px" src="https://img.feltgis.no/lovenskiold-fossum.png">
        </td>
        <td align="left" class="header" style="vertical-align: top; padding-top: 20px;">
            <b>FRITZØE SKOGER AS</b><br/>
            Industriveien 24<br/>
            3748 SILJAN<br/>
            
            
        </td>
        <td>
            <font size="20">Work Order {{_type}}</font>
        </td>
    </tr>
    <tr>
        <td align="right" style="vertical-align: top;" colspan="3">            
            <h3>
                Date: {{now}}<br>
                Planner: {{plannerContactName}}, tel: {{plannerContactPhone}}<br>
                Assignment number: {{_job_nr}}
            </h3>
        </td>
    </tr>
</table>


<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td width="75%"><b>Assignment Information</b></td>            
      <td></td>
  </tr>  
  <tr><td>Name of forest owner</td><td>{{forestOwnerName}}</td></tr>
  <tr><td>Forest owner email</td><td>{{forestOwnerEmail}}</td></tr>
  <tr><td>Supplier number</td><td>{{levNr}}</td></tr>
  <tr><td>Municipality</td><td>{{muniName}}</td></tr>        
  <tr><td>Municipality-grid/holding number</td><td>{{muniNum}}-{{gridNum}}/{{holdingNum}}</td></tr>
  <tr><td>Area</td><td>{{area}} daa</td></tr>
</table>
  

{{#LFPSaaingGeomSåing}}
<table class="mytable" width="90%" border="0">
  <tr class="tableheader">
      <td colspan="2"><b>Measure: Sowing {{_title}}</b></td>                  
  </tr>  
  <tr><td>Created</td><td>{{_created_Date}}</td></tr>
  <tr><td>Created by</td><td>{{_createdBy}}</td></tr>
  <tr><td>Type</td><td>{{_type}}</td></tr>
  <tr><td>Road name</td><td>{{teignavn}}</td></tr>
  <tr><td>Stand number</td><td>{{bestand_str}}</td></tr>
  <tr><td>Site quality</td><td>{{bonitet}}</td></tr>
  <tr><td>Planned sowing area in daa.</td><td>{{planned_area}}</td></tr>
  <tr><td>Grams per daa</td><td>{{gram_per_daa}}</td></tr>
  <tr><td>Plan number</td><td>{{plannr}}</td></tr>
  <tr><td>Plot number</td><td>{{teignr}}</td></tr>
  <tr><td>Percent spruce</td><td>{{precent_spruce}}</td></tr>
  <tr><td>Percent pine</td><td>{{precent_pine}}</td></tr>
  <tr><td>Percent deciduous</td><td>{{precent_leav}}</td></tr>
  <tr><td>Does the measure affect biologically important area?</td><td>{{bio_Boolean}}</td></tr>
  <tr><td>Biological, comment</td><td>{{bioComment}}</td></tr>
  <tr><td>Does the measure affect known cultural heritage?</td><td>{{herit_Boolean}}</td></tr>
  <tr><td>Cultural heritage, comment</td><td>{{heritComment}}</td></tr>
  <tr><td>Does the measure affect important recreational values?</td><td>{{recreational_Boolean}}</td></tr>
  <tr><td>Recreational values, comment</td><td>{{recreationalComment}}</td></tr>
  <tr><td>Comments on the measure</td><td>{{comment}}</td></tr>
  <tr><td>Area</td><td>{{area}}</td></tr>
  <tr><td>Elevation above sea level</td><td>{{elevation}}</td></tr>
  <tr><td>Measure number</td><td>{{_number}}</td></tr>
  <tr><td>Organization number work team planting</td><td>{{_workTeamOrgNumPL}}</td></tr>
</table>
{{/LFPSaaingGeomSåing}}
{{/language_is_engelsk}}
  
   
{{#geojpgs}}
<table><tr><td align="center">
  <img class="border" alt="{{comment}}" style="width: 550px; margin-top: 20px" src="data:image/jpg;base64,{{b64}}" />
</td></tr><tr><td>
  <h3>
    {{comment}}
    {{#links}}
    <br><a href="https://maps.google.com/?q={{lat}},{{lon}}">{{comment}}</a>
    {{/links}}
  </h3>
</td></tr></table>
{{/geojpgs}}


</body>
</html>
