<html>
<head>
    <meta charset="UTF-8">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
        }
        thead {
            background: lightgrey;
        }
        .headbg {
            background: lightgrey;
        }
        table {
            font-size: small;
            border-collapse: collapse;
        }
        .fat {
            font-weight: bold;
        }
        .bordered td {
            padding: 2px;
            border-color: black;
            border-style: solid;
            border-width: 0.1mm;
        }
        .bordered td td {
            border: none;
        }
        .max-width {
            width: 100%;
        }
        .center-content {
            text-align: center;
        }
        .left-content {
            text-align: left;
        }
        .text-center {
            text-align:center;
        }
        .header {
            font-size: x-large;
        }
        hr {
            border: none;
            height: 1pt;
            background: black;
        }
        .green {
            height: 50px;
            background: rgb(211, 243, 218);
            border-color: white;
            border-style: solid;
            border-width: 6px;
        }
    </style>

</head>
<body>

<table class="max-width">
    <tr>
        <td valign="top" align="left">
            <img height="30px" src="https://img.feltgis.no/lovenskiold-fossum.png"><br>
            {{head.SellerName}} {{head.MuniNum}}-{{head.GridNum}}/{{head.HoldingNum}}, opprettet {{signatureDate}}
        </td>
    </tr>
</table>




<br>
<table class="max-width">
    <tr>
        <td colspan="2" class="header">
            Hogstinstruks
            <hr width="100%">
        </td>
    </tr>
    <tr>
        <td width="300px" class="fat">Veinavn:</td>
        <td>{{additionalFields.nickName}}</td>
    </tr>
    <tr>
        <td width="300px" class="fat">Tømmermerke:</td>
        <td>{{head.OwnershipMark}}</td>
    </tr>
    <tr>
        <td width="300px" class="fat">Innkjøpsordrenummer:</td>
        <td>{{purchaseOrderNum}}</td>
    </tr>
    <tr>
        <td width="300px" class="fat">Entreprenør:</td>
        <td>{{contractorOrder.order.sellerParty.name}}</td>
    </tr>
    <tr>
        <td width="300px" class="fat">Entreprenørordrenummer:</td>
        <td>{{contractorOrderId}}</td>
    </tr>
    <tr>
        <td class="fat">Skogeier:</td>
        <td>{{head.SellerName}}</td>
    </tr>
    <tr>
        <td class="fat">Kontaktperson:</td>
        <td>{{head.BuyerContactName}}, tlf {{head.BuyerContactPhone}}</td>
    </tr>
    <tr>
        <td class="fat">Eiendom (kommune, knr-gnr/bnr)</td>
        <td>{{head.SellerCity}}, {{head.MuniNum}}-{{head.GridNum}}/{{head.HoldingNum}}</td>
    </tr>
</table>


<br>
<table class="max-width">
    <tr>
        <td class="header">Plan</td>
    </tr>
</table>
<table class="max-width bordered">
    <thead>
        <td fgid="1">Teignavn/nr</td>        
        <td fgid="2">Areal (daa)</td>        
        <td fgid="3">KBM</td>        
        <td fgid="4">Type hogst</td>             
        <td fgid="5">Dato for miljøavsjekk</td>
    </thead>
    {{#features}}

    <tr>
        <td fgid="1">{{attributes.name}}/{{attributes.teignr}}</td>   
        <td fgid="2">{{geometry._area_rounded1}}</td>
        <td fgid="3">{{volumeTreslag}}</td>        
        <td fgid="4">
            {{#attributes.type_lukket_hogst}}
                {{attributes.type_lukket_hogst}}
            {{/attributes.type_lukket_hogst}}    
            
            {{^attributes.type_lukket_hogst}}    
                {{attributes.type_hogst}}
            {{/attributes.type_lukket_hogst}}                
        </td>
        <td fgid="5">{{miljoDate}}</td>
    </tr>

    {{/features}}
    
</table>
Hogstkvantum: {{totalVolume}} m3



<br><br>
<table class="max-width bordered">
    <thead>
        <td>Sortiment</td>
        <td>Kontraktsvolum</td>
        <td>Kjøper</td>        
    </thead>
    {{#priceListTable}} 
    <tr>
        <td>{{AssNum}} - {{AssName}}</td>
        <td>{{Volume}}</td>
        <td>{{Buyers}}</td>        
    </tr>
    {{/priceListTable}}
</table>


<br>
<span class="header">FØRINGER</span>
<br>
{{contractorOrder.order.message}}

<br><br>
<table width="100%" class="bordered">
    <thead class="text-center">
        <td>Miljø/hensyn</td>
        <td>Merknad</td>
    </thead>

    {{#miljoSections}}
    {{#rows}}
    <tr>
        <td class="headbg">{{question}}</td>
        <td>{{answer}}</td>        
    </tr>
    {{/rows}}
    {{/miljoSections}}
    <tr><td colspan="2" class="headbg">Livsløpstrær og kjøreskader skal merkes i kart</td></tr>
</table>


{{#tommerdriftSections}}
<br><br><span class="header">TILTAK/BESTAND {{title}}</span>
<br>
<table width="100%" class="bordered">
    <thead class="text-center">
        <td>Miljø/hensyn</td>
        <td>Merknad</td>
    </thead>
    {{#sections}}
        <tr>
            <td colspan="2">{{title}}&nbsp;</td>
        </tr>
        {{#rows}}
        <tr>
            <td class="headbg">{{question}}</td>
            <td>{{answer}}</td>        
        </tr>
        {{/rows}}
    {{/sections}}
</table>
{{/tommerdriftSections}}

<br><br>
<p style="page-break-before: always">
<table class="max-width" border="0">
    <tr>
        <td class="header">Kartutsnitt<hr width="100%"></td>
    </tr>
    {{#mapImages}}
    <tr>
        <td align="center" colspan="2">
            <img style="height: 700px;" src="{{image}}"><br>{{comment}}
        </td>        
    </tr>
    {{/mapImages}}
</table>



</body>
</html>